.selected-item {
    background-color: aqua;
}
.navbar-nav {
    z-index: 9999 !important;
}

.as-list {
    margin: 0;
    padding: 0;
}

dialog {
    position: relative;
    color: white;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    .dialog {
        height: auto;
        overflow: auto !important;
        border-color: transparent;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;
        //  box-shadow: 0 0 5px 8px #d0d0d0;
        // height: 100px;
        // width: 200px;
        ul {
            margin: 0;
            padding: 0;
            color: black;
        }
    }
    .close {
        position: sticky;
        right: 5px;
        top: 5px;
        width: 30px;
        height: 30px;
    }
}
