<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown" style="cursor: pointer">
        <a
            *ngIf="!showList"
            class="nav-link dropdown-toggle"
            id="dropdown07"
            data-bs-toggle="dropdown"
            style="font-weight: bold"
            aria-expanded="false"
            >{{ local.getTranslate("menu", "МЕНЮ") }}</a
        >            
            <ul (click)="isClicked.next(true)" class="as-list" *ngIf="showList">
                <ng-container *ngTemplateOutlet="menuItems"></ng-container>
            </ul>

        <ul class="dropdown-menu" aria-labelledby="dropdown07">
            <ng-container *ngTemplateOutlet="menuItems"></ng-container>
        </ul>
    </li>
</ul>

<ng-template #menuItems>
    <li class="mobile-view" *ngIf="showAddingButton">
        <a (click)="shared.openNewAdvert()" class="dropdown-item">{{
            local.getTranslate("add_advert", "РАЗМЕСТИТЬ ОБЬЯВЛЕНИЕ")
        }}</a>
    </li>
    <li>
        <a (click)="manual()" class="dropdown-item">{{ local.getTranslate("instruction", "Инструкция") }}</a>
    </li>
    <!-- <li>
    <a (click)="openSite()" class="dropdown-item">{{local.getTranslate("another_shop","Переход в другой магазин")}}</a>
</li> -->
    <div *ngIf="authService.isAuthenticatedObservable() | async">
        <li>
            <a (click)="shared.openPersonalMenu(1)" class="dropdown-item">{{
                local.getTranslate("personal_settings", "Личные данные")
            }}</a>
        </li>
        <!-- <li>
            <a *ngIf="shared.isSlideshowEnabled()" (click)="shared.openPersonalMenu(2)" class="dropdown-item">{{
                local.getTranslate("site-settings", "Настройки сайта")
            }}</a>
        </li> -->
        <li *ngIf="env.checkPermission('delRepeat') | async">
            <a (click)="shared.openPersonalMenu(4)" class="dropdown-item">{{
                local.getTranslate("delRepeat", "Удаление повторения")
            }}</a>
        </li>
        <!-- <li><a (click)="shared.openPersonalMenu(3)" class="dropdown-item">{{local.getTranslate("site-sort", "Сортировка сайта")}}</a></li> -->
        <li *ngIf="(isRequestGoods || shared.isAdmin) && env.checkPermission('subscription') | async">
            <a routerLink="/subscribe" class="dropdown-item">{{
                local.getTranslate("subscription", "Подписка на рассылку")
            }}</a>
        </li>
        <li 
        *ngIf="(isThatCabinetPage && (isMoveAllow || isMoveButton)) && env.checkPermission('cat_move') | async"
        >
            <a
                [ngClass]="{ 'selected-item': moveService.moveMode }"
                (click)="modeAction(catalogSelectItemsMode.MOVE_TO_CATEGORY)"
                class="dropdown-item"
            >
                {{ local.getTranslate("cat_move", "Перемещение выбранных обьявлений") }}
            </a>
        </li>
        <li *ngIf="(isThatCabinetPage && (isRussianDoll || shared.isAdmin)) && env.checkPermission('doll') | async">
            <a
                [ngClass]="{ 'selected-item': dollService.dollMode }"
                (click)="modeAction(catalogSelectItemsMode.DOLL)"
                class="dropdown-item"
            >
                {{ local.getTranslate("doll", "Матрешка") }}
            </a>
        </li>
    </div>
    <ng-container *ngIf="authService.getUserId() == mainService.getCustId()">
        <li>
            <a (click)="admin()" style="font-weight: bold" class="dropdown-item">{{
                local.getTranslate("admin_panel", "Админка")
            }}</a>
        </li>
        <li *ngIf="env.checkPermission('copy_list') | async">
            <a
                [ngClass]="{ 'selected-item': copyAdverts.copyMode }"
                (click)="modeAction(catalogSelectItemsMode.COPY_ITEMS)"
                class="dropdown-item"
                >{{ local.getTranslate("copy_list", "Копировать Списком") }}</a
            >
        </li>
        <li *ngIf="env.checkPermission('copy_cat') | async">
            <a routerLink="/copy-catalog" class="dropdown-item">
                {{ local.getTranslate("copy_cat", "Копирование каталога") }}
            </a>
        </li>
        <li>
            <a (click)="editCat()" class="dropdown-item">{{local.getTranslate("edit-cat-control","Создать раздел")}}</a>
        </li>
    </ng-container>

    <ng-container *ngIf="shared.isAdmin || (showAddingButton && isThatCabinetPage)">
        <!-- <li>
    <a (click)="modifyAdverts.fastEdit(1)" class="dropdown-item" [ngClass]="{'selected-item' : modifyAdverts.fastEditKey == 1}">
        {{local.getTranslate("edit_name","Редактировать Название")}}
    </a>
    </li>
    <li>
    <a (click)="modifyAdverts.fastEdit(2)" class="dropdown-item" [ngClass]="{'selected-item' : modifyAdverts.fastEditKey == 2}">
        {{local.getTranslate("edit_audio","Редактировать Аудио")}}
    </a>
    </li>   -->
        <!-- <li>
        <a (click)="modifyAdverts.fastEdit(3)" class="dropdown-item" [ngClass]="{'selected-item' : modifyAdverts.fastEditKey == 3}">
            {{local.getTranslate("edit-video","Редактировать Видео")}}
        </a>
        </li>                -->
    </ng-container>

    <li *ngIf="isUserRepeatRegistationMode">
        <a
            [ngClass]="{ 'selected-item': this.repeatService.repeatMode }"
            (click)="modeAction(catalogSelectItemsMode.REPEAT)"
            class="dropdown-item"
            >{{ local.getTranslate("select_repeat", "Выбрать для повторения") }}</a
        >
    </li>

    <li *ngIf="!isUserRepeatRegistationMode && isSendRepeatButton && env.checkPermission('select_repeat') | async">
        <a
            [ngClass]="{ 'selected-item': this.repeatService.repeatMode }"
            (click)="modeAction(catalogSelectItemsMode.REPEAT)"
            class="dropdown-item"
            >{{ local.getTranslate("select_repeat", "Выбрать для повторения") }}</a
        >
    </li>
    <ng-container *ngIf="authService.isAuthenticatedObservable() | async">
        <li *ngIf="showMapButton && (env.checkPermission('map') | async)">
            <a target="_blank" routerLink="/map" [queryParams]="{ id: this.catId }" class="dropdown-item">{{
                local.getTranslate("map", "Карта")
            }}</a>
        </li>
        <li *ngIf="showVacabulary && (env.checkPermission('dictionary') | async)">
            <a routerLink="/dictionary" class="dropdown-item">{{
                local.getTranslate("dictionary", "Мой словарь")
            }}</a>
        </li>
    </ng-container>
    <li *ngIf="authService.isAuthenticatedObservable() | async">
        <a (click)="onLogout()" class="dropdown-item">{{ local.getTranslate("logout", "Выйти") }}</a>
    </li>
</ng-template>
