<form [formGroup]="advertForm">
    <div class="form-group">
      <label for="name">
          <div class="headline">
              Youtube/VK ссылка
              </div>
      </label>
        <input type="name" class="form-control" (blur)="videoPasted()" formControlName="youtubeLink" id="name" aria-describedby="titleHelp" placeholder="">
        <ng-container *ngIf="submitted && f.youtubeLink.errors">
          <small id="titleHelp" class="form-text text-muted">
              <span class="error-text" *ngIf="f.youtubeLink.errors.pattern">err</span>
          </small>
        </ng-container>
    </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-secondary btn-sm" (click)="saveData()">
                {{local.getTranslate("save","Сохранить")}}
            </button>
            <button type="submit" class="btn btn-info btn-sm" (click)="saveData(true)">{{local.getTranslate("delete","Удалить")}}</button>
            <button type="submit" class="btn btn-info btn-sm" (click)="onNoClick()">{{local.getTranslate("cancel","Отмена")}}</button>
        </div>
  </form>
