<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<section id="advertisement" class="advertisement">
    <div class="container">
      <div class="showSpinner" *ngIf="copyAdverts.showSpinner">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div style="height: 50px; width: 50px; margin-bottom: 15px;">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        <span *ngIf="copyMode || copyModeCatalog" class="alert alert-primary">идет копирование</span>
        </div> 
      </div>
      <h3 *ngIf="!copyModeCatalog" class="text-center mt-4 mb-5">{{ copyMode ? "Копирование " + copyAdverts.count + " выбранных обьявлений" : "Рассылка уведомлений на новые поступления"}}</h3>
      <h3 *ngIf="copyModeCatalog" class="text-center mt-4 mb-5">Копирование каталога</h3>
<div class="control-block">
        <div class="nav-buttons">
            <button routerLink="/cabinet">{{local.getTranslate("personal_cabinet","Личный Кабинет")}}</button>
            <button routerLink="/">{{local.getTranslate("main","НА ГЛАВНУЮ")}}</button>
            <button (click)="manual()">{{ local.getTranslate("manual", "Инструкция") }}</button>
            <div *ngIf="copyMode || copyModeCatalog" class="cust-id-shop">
              <input [(ngModel)]="copy_cust_id" type="text" placeholder="id магазина">
              <button [disabled]="newShopIdButton" (click)="reloadCatalog()">ok</button>
            </div>
            <button [disabled]="copyAdverts.showSpinner" *ngIf="copyMode && showCopyButton" (click)="copyAdverts.doCopy()" [ngStyle]="{'background-color': true ?  'aqua': 'red'}">Скопировать обьявления</button>
            <!-- <button [disabled]="copyAdverts.showSpinner" *ngIf="copyMode && showCopyButton" (click)="copyAdverts.notify()" [ngStyle]="{'background-color': !copyAdverts.isNotifyActive ?  'aqua': 'green'}"><span [ngStyle]="{'color': !copyAdverts.isNotifyActive ?  'black': 'white'}" >ОПОВЕЩЕНИЕ ({{copyAdverts.isNotifyActive ? 'ВКЛ':'ОТКЛ'}})</span></button> -->
            <button [disabled]="copyAdverts.showSpinner" *ngIf="copyModeCatalog && showCopyButton" (click)="copyAdverts.doCopyCatalog()" [ngStyle]="{'background-color': true ?  'aqua': 'red'}">Скопировать каталог</button>
            
            <!-- <button *ngIf="copyMode && showCopyButton && !copyAdverts.isNotifyActive" (click)="$showHideCalendarTimeRange()" [ngStyle]="{'background-color': !showHideCalendarTimeRange ?  'aqua': '#20c997'}"><i class="fa fa-calendar"></i></button> -->
            <button *ngIf="copyMode && showCopyButton" (click)="controlCopyAdverts()" [ngStyle]="{'background-color': !showCopyAdverts ?  'aqua': '#20c997'}">Управление</button>
        </div>
</div>

<div *ngIf="showHideCalendarTimeRange" class="calendar-items" class="dateTimePanel">
  <ngb-datepicker [displayMonths]="1" [markDisabled]="copyAdverts.disabledDaysCalendar" [disabled]="copyAdverts.getCalendarDates().length > 11" #d1 [(ngModel)]="calendarModel" (click)="copyAdverts.selectCalendarDate(calendarModel)" #c1="ngModel"></ngb-datepicker>
  <form [ngStyle]="{'border' : copyAdverts.getCalendarDates().length == 12 ? '1px red solid' : 'none'}" class="mb-4 ml-2">
    <ul class="list-group" style="width: 270px;">
        <li class="list-group-item active" style="display: flex; justify-content: space-between;"><span>Список выбранных дат (<span [ngStyle]="{'color' : copyAdverts.getCalendarDates().length == 12 ? 'red' : 'white','font-weight': copyAdverts.getCalendarDates().length == 12 ? 'bold' : '100'}">{{copyAdverts.getCalendarDates().length}}</span>/12)</span> <span *ngIf="copyAdverts.getCalendarDates().length != 0" (click)="copyAdverts.clearCalendarDates()"><i class="fa fa-trash" style="transform: scale(1.2); cursor: pointer;margin-top: 5px;"></i></span></li>
        <li *ngFor="let date of copyAdverts.getCalendarDates(); let i = index" class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <span>
                    {{date}}
                </span>
                <div (click)="copyAdverts.deleteCalendarItem(date)"><i class="fa fa-trash" style="transform: scale(1.2); cursor: pointer;margin-top: 5px;"></i></div>
            </div>
        </li>
      </ul>
</form>
  <div class="timePicker">
     <ngb-timepicker [(ngModel)]="calendarTimeModel"></ngb-timepicker>
     <button style="height: 40px; margin-left: 5px; background-color: #007bff; color: white;" (click)="copyAdverts.selectCalendarTime(calendarTimeModel)">добавить</button>
  </div>
  <form class="ml-2">
    <ul class="list-group" style="width: 220px;">
        <li class="list-group-item active" style="display: flex; justify-content: space-between;"><span>Список времен (<span [ngStyle]="{'color' : copyAdverts.getCalendarTimes().length == 5 ? 'red' : 'white','font-weight': copyAdverts.getCalendarTimes().length == 5 ? 'bold' : '100'}">{{copyAdverts.getCalendarTimes().length}}</span>/5)</span> <span *ngIf="copyAdverts.getCalendarTimes().length != 0" (click)="copyAdverts.clearCalendarTimes()"><i class="fa fa-trash" style="transform: scale(1.2); cursor: pointer;margin-top: 5px;"></i></span></li>
        <li *ngFor="let time of copyAdverts.getCalendarTimes(); let i = index" class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <span>
                    {{time}}
                </span>
                <div (click)="copyAdverts.deleteCalendarTime(time)"><i class="fa fa-trash" style="transform: scale(1.2); cursor: pointer;margin-top: 5px;"></i></div>
            </div>
        </li>
      </ul>
</form>
</div>
<div *ngIf="showCopyAdverts" class="row justify-content-md-center choosed">
  <div class="col-lg-8 col-xs-12 no-padding">
    <table class="table table-info">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название обьявления</th>
          <th *ngIf="false" scope="col">Дата публикации</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adv of copyAdverts.getSelectedAdverts(); index as i">
          <th scope="row">{{i+1}}</th>
          <td>
            <span style="font-size: 16px;">{{adv.title}}</span>
          </td>
          <td *ngIf="false" style="width: 240px"><app-date-time-picker [elementId]="adv.prc_ID" (onChanged)="copyAdverts.newDateTime($event)" [(ngModel)]="adv.date" name="activeEndDate"></app-date-time-picker></td>
          <td (click)="copyAdverts.deleteAdv(adv.prc_ID)"><i class="fa fa-trash" style="transform: scale(1.4); cursor: pointer;margin-top: 10px;"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="line-flex" *ngIf="copyModeCatalog && copyAdverts.showFillCheckbox && copyAdverts.showDefSheckbox">
  <input type="checkbox" (click)="selectAllCats()" [(ngModel)]="$selectAllCats"> - <span>выбрать все категории</span>
  <div class="ml-1 form-check form-switch">
    <input class="form-check-input" (click)="selectAllContain()" [(ngModel)]="$selectAllContain" type="checkbox" id="flexSwitchCheckChecked">
  </div>
  - <span> включая все содержимое</span>
</div>
<div class="line-flex" *ngIf="subscribeMode">
  <button (click)="removeAllSubscribes()" type="button" class="btn btn-primary btn-sm mb-1">сбросить все подписки</button>
</div>
      <ng-container> 
        <div *ngIf="categories.length == 0" [ngStyle]="{'visibility': showCopyAdverts ? 'hidden' : 'visible'}" class="categories">
          <app-categories
          *ngIf="!refreshCat"
            (lastChildAction)="categorySelect($event)"
            [initialCategories]="initialCategories"
            [categories]="categoriesService.mainCategories$ | async"
            [subscribeMode]="true"
            [showArrow]="subscribeMode"
            [copy]="copyMode || copyModeCatalog"
            [copyModeCatalog]="copyModeCatalog"
          ></app-categories>
        </div>
        <div class="categories-mobile">
          <app-mobile-categories (lastChildAction)="categorySelect($event)"
                                 [initialCategories]="initialCategories.slice(0, 1)"
                                 [categories]="(isCabinet()? categoriesService.userCategories$: categoriesService.mainCategories$) | async"
                                 [subscribeMode]="true"
                                 [showArrow]="subscribeMode"
                                 [copy]="copyMode || copyModeCatalog"
                                 [copyModeCatalog]="copyModeCatalog"
          ></app-mobile-categories>
        </div>
      </ng-container>

      <div *ngIf="categories.length != 0" class="row justify-content-md-center choosed categories">
          <div class="col-lg-8 col-xs-12 no-padding">
            {{local.getTranslate("selected_dep","Вы выбрали раздел")}}
              <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>
          </div>
      </div>
      <div class="row justify-content-md-center choosed">
          <div class="col-lg-8 col-xs-12 no-padding">

          </div>
      </div>
    </div>
</section>

