<div class="modal_window">
    <i (click)="dialogRef.close(false)" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal_inner">
        <menu-header (isClicked)="isClicked($event)" [isDetail]="true" [showList]="true"></menu-header>
    </div>
</div>
