<footer id="footer">
    <div class="footer_list">
        <div class="footer_list__item">
            <p class="adaptive-text-size">{{this.mainService.shopInfo.shortDescr}}</p>
            <p class="adaptive-text-size">{{this.mainService.shopInfo.addr}}</p>
        </div>
        <div class="version">
            <div></div>
            <div class="adaptive-text-size">{{version}} </div>
        </div>
        <div class="footer_list__item--right">
            <p class="adaptive-text-size">{{this.mainService.shopInfo.phone}}</p>
            <p class="adaptive-text-size">{{this.mainService.shopInfo.email}}</p>
        </div>
    </div>
</footer>