<span *ngIf="showCheckbox && copyAdvertsService.showDefSheckbox" [formGroup]="checkbox">
  <input [ngClass]="{mobileCheckbox: isMobileVersion}" [checked]="checkVal" formControlName="value" name="chxb" type="checkbox"> 
</span>
<i *ngIf="!(showCheckbox && copyAdvertsService.showDefSheckbox) && isArrow" class="fa fa-arrow-right" style="color: blue;"></i>
