<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<section id="advertisement" class="advertisement">
    <div class="container">
      <div class="showSpinner" *ngIf="false">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div style="height: 50px; width: 50px; margin-bottom: 15px;">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        </div> 
      </div>
      <h3 class="text-center mt-4 mb-5">{{title}}</h3>
        <div class="control-block">
                <div class="nav-buttons">
                    <button routerLink="/cabinet">{{local.getTranslate("personal_cabinet","Личный Кабинет")}}</button>
                    <button routerLink="/">{{local.getTranslate("main_page","НА ГЛАВНУЮ")}}</button>
                    <button *ngIf="action_title" (click)="actionButton()">{{action_title}}</button>
                </div>
        </div>
        <div *ngIf="categories.length != 0" class="row justify-content-md-center choosed categories">
            <div class="col-lg-8 col-xs-12 no-padding">
                {{local.getTranslate("selected_dep","Вы выбрали раздел")}}
                <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>
            </div>
        </div>
        <div *ngIf="actionType === catalogSelectItemsMode.MOVE_TO_CATEGORY"><b style="font-size: 20px">{{local.getTranslate("count_move_adv","Количество выбранных обьявлений")}}: {{moveAdverts.count}}</b></div>
        <div *ngIf="actionType === catalogSelectItemsMode.DOLL"><b style="font-size: 20px">{{local.getTranslate("count_move_adv","Количество выбранных обьявлений")}}: {{dollService.count}}</b></div>
        <ng-container *ngIf="actionType"> 
            <div *ngIf="categories.length == 0" class="categories">
            <app-categories
                (lastChildAction)="categorySelect($event)"
                [initialCategories]="initialCategories"
                [categories]="categoriesService.mainCategories$ | async"
            ></app-categories>
            </div>
            <div class="categories-mobile">
            <app-mobile-categories (lastChildAction)="categorySelect($event)"
                                    [initialCategories]="initialCategories.slice(0, 1)"
                                    [categories]="(isCabinet()? categoriesService.userCategories$: categoriesService.mainCategories$) | async"
            ></app-mobile-categories>
            </div>
        </ng-container>
    </div>
</section>


