$bradius: 7px;
.breadcrumbs_list {
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 3px;
  &__item {
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    background-color: #5b5b5b;
    opacity: 0.8;
    color: white;
    cursor: pointer;
    i{
      padding-left: 4px;
    }
  }
  :last-child {
    padding-right: 10px;
    i {
      display: none;
      border-radius: 0px $bradius $bradius 0px;
    }
  }
  :first-child {
    padding-left: 10px;
  }
}

.breadcrumbs_list__item:last-child{
  border-radius: 0px $bradius $bradius 0px;
}
.breadcrumbs_list__item:first-child{
  border-radius: $bradius 0px 0px $bradius;
}
.breadcrumbs_list__item:only-child{
  border-radius: $bradius $bradius $bradius $bradius;
}
