<div class="breadcrumbs_list" >
  <div class="breadcrumbs_list__item" *ngFor="let item of _categories; index as i" (click)="breadcrumbsClick(_categories,i)">
    {{item.txt}}
    <i *ngIf="_categories.length > 1" class="fa fa-angle-right"></i>
  </div>
</div>
