<span *ngIf="data.actionType== 1" class="font-weight-bold">Введите имя категории:</span>
<span *ngIf="data.actionType== 2" class="font-weight-bold">Введите новое имя категории:</span>
<p *ngIf="data.actionType== 3" class="font-weight-bold text-center">Вы уверены что хотите удалить категорию?</p>
<p *ngIf="data.actionType== 3" class="font-weight-normal text-center">'{{data.txt}}'</p>
<form [formGroup]="catalogForm">
<div mat-dialog-content >
  <div class="form-group" >
    <div *ngIf="data.actionType != 3" class="input-group mt-1 mb-1">
        <input type="text" class="form-control" formControlName="Name" placeholder="Имя категории" aria-label="Category name" aria-describedby="basic-addon2">

      </div>
    <div *ngIf="submitted && f.Name.errors" class="error"> 
      <div *ngIf="f.Name.errors.required">Введите название категории</div>
      <div *ngIf="!f.Name.errors.required && f.Name.errors.emptySpaces">Введите корректно название</div>
    </div>
  </div>

</div>


<div class="text-center mt-2">
  <button class="btn btn-outline-secondary mr-3" (click)="saveButton()" type="button">{{(data.actionType == 1 || data.actionType == 2) ? 'Сохранить' : 'Удалить'}}</button>
  <button class="btn btn-light" (click)="onNoClick()">Отменить</button>

</div>
</form>
