<!-- <span *ngIf="showCheckbox" [formGroup]="checkbox">
  <input [ngClass]="{mobileCheckbox: isMobileVersion}" formControlName="value" type="checkbox"> 
</span> -->
<div *ngIf="copyAdvertsService.showFillCheckbox" [formGroup]="checkbox" class="form-check form-switch">
  <input class="form-check-input" [checked]="checkVal" formControlName="value" name="slr" type="checkbox" id="flexSwitchCheckChecked">
</div>
