.container-map {
    height: 70vh;
    width: 100%;

    .map {
      width: 100%;
      height: calc(100vh - 50px);
      cursor: pointer;
    }

  }

  :host ::ng-deep {
    .ol-zoom-in,
    .ol-zoom-out {
      margin-top: 10px;
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border: 1px lightslategray solid;
      font-size: 30px;
    }
    .ol-attribution,
    .ol-rotate-reset {
      display: none !important;
    }
  }