<section class="advertisement">
    <div class="container">
        <div class="showSpinner" *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <h3 class="text-center mt-4 mb-4">
            {{
                doCopy
                    ? local.getTranslate("copy_advert", "Копирование обьявление")
                    : local.getTranslate("edit_advert", "Редактирование объявления")
            }}
        </h3>
        <div class="control-block mt-1 mb-1">
            <div class="nav-buttons">
                <button routerLink="/cabinet">{{ local.getTranslate("personal_cabinet", "В Личный Кабинет") }}</button>
                <button routerLink="/">{{ local.getTranslate("main_page", "главная страница") }}</button>
                <button (click)="manual()">{{ local.getTranslate("manual", "Инструкция") }}</button>
            </div>
        </div>

        <div class="showMessage" *ngIf="message.text">
            <div class="alert alert-{{ message.type }}">
                {{ message.text }} <img *ngIf="message.spinner" height="20px" [src]="loadingImage" alt="" />
            </div>
        </div>

        <div *ngIf="showForm" class="form pb-3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("naimen_tov", "Наименование товара, услуги") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="TName" formControlName="TName" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("descr_adv", "Описание товара, услуги") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <textarea
                                type="textarea"
                                style="padding: 3px 7px"
                                id="TDescription"
                                formControlName="TDescription"
                            >
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("ta_ItemsColPrc", "Цена") }}</label>
                        </div>
                        <div *ngIf="!isRetailDisabled" class="col-lg-5">
                            <input type="text" id="TCost" formControlName="TCost" />
                        </div>
                        <div *ngIf="isRetailDisabled" class="col-lg-5">
                            <input
                                type="text"
                                style="background-color: lightgray"
                                id="TCost"
                                formControlName="TCost"
                                style="cursor: not-allowed"
                                [attr.disabled]="true"
                            />
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("main_image", "Основная фотография") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input
                                style="display: none"
                                type="file"
                                id="TImageprev"
                                formControlName="TImageprev"
                                (change)="onFileSelected($event)"
                                #fileInput
                                accept="image/*"
                            />
                            <div class="upload btn-file" (click)="fileInput.click()">
                                <img
                                    *ngIf="srcImg.src"
                                    id="img"
                                    [src]="srcImg.src"
                                    style="width: 100px; height: 70px"
                                    alt=""
                                />
                                <img
                                    *ngIf="!srcImg.src"
                                    id="img"
                                    [src]="loadingSpinner"
                                    style="width: 100px; height: 70px"
                                    alt=""
                                />
                                <i *ngIf="uploadImg" class="fa fa-upload arrow" aria-hidden="true"></i>
                            </div>
                            <i
                                style="display: none"
                                #mainResizer
                                id="rotate_{{ srcImg.name }}"
                                class="fa fa-times fa-repeat resizer"
                            ></i>
                            <progress
                                [id]="srcImg.name"
                                style="width: 99px; display: none"
                                class="aprogress"
                                value="0"
                                max="100"
                            ></progress>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3 col-xs-12">
                            <label>{{ local.getTranslate("addit_images", "Доп. фотографии") }}</label>
                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <div class="upload-images">
                                <input
                                    style="display: none"
                                    type="file"
                                    name="onFilesMultipleSelected"
                                    (change)="addNewAdditionalImgs($event)"
                                    #filesInputAdd
                                    accept="image/*"
                                    multiple="multiple"
                                />
                                <div *ngFor="let url of urls; let i = index">
                                    <input
                                        style="display: none"
                                        type="file"
                                        name="onFilesMultipleSelected"
                                        (change)="onFilesMultipleSelected($event, i)"
                                        #filesInput
                                        accept="image/*"
                                    />
                                    <div class="upload_image_container">
                                        <img
                                            (click)="filesInput.click()"
                                            alt=""
                                            [src]="url.src"
                                            style="width: auto; height: 90%; padding: 1px"
                                        />
                                        <progress [id]="url.name" class="aprogress" value="0" max="100"></progress>
                                        <i
                                            id="delete_{{ url.name }}"
                                            class="fa fa-times delete"
                                            (click)="deleteImages(url)"
                                            aria-hidden="true"
                                        ></i>
                                        <i
                                            id="rotate_{{ url.name }}"
                                            style="display: none"
                                            class="fa fa-times fa-repeat resizer"
                                        ></i>
                                    </div>
                                </div>
                                <i
                                    *ngIf="urls.length < additionalImageLimit"
                                    class="fa fa-upload arrow"
                                    aria-hidden="true"
                                    (click)="filesInputAdd.click()"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col col-lg-4 mb-3">
                        <button
                            class="btn btn-block btn-primary"
                            type="submit"
                            [disabled]="form.invalid || message.spinner"
                        >
                            {{ local.getTranslate("save_setings", "Сохранить настройки") }}
                        </button>
                    </div>
                </div>

                <div class="row other_fields">
                    <div class="col-lg-10">
                        <p>{{ local.getTranslate("not_important_v", "Необязательные поля") }}</p>
                    </div>
                </div>

                <div *ngIf="audio == null" class="audio">
                    <div class="uploadAudio center-block">
                        <input
                            #fileUpload
                            type="file"
                            accept=".m4a,.mp3,.ogg,audio/*;capture=microphone"
                            (click)="fileUpload.value = null"
                            (change)="handleFileInput($event.target.files)"
                            style="display: none"
                            id="audio"
                        />
                        <div *ngIf="fileToUpload != null" class="files-to-upload">
                            <p>{{ fileToUpload.name }}</p>
                        </div>
                        <div
                            (click)="fileUpload.click()"
                            class="first-block"
                            *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder"
                        >
                            <span class="signature">{{
                                local.getTranslate("upload_audio", "загрузить аудиозапись")
                            }}</span>
                        </div>
                        <span *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder">или</span>
                        <div
                            (click)="showHideRecorder()"
                            class="first-block"
                            *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder"
                        >
                            <span class="signature">{{
                                local.getTranslate("record_audio", "записать аудиозапись")
                            }}</span>
                        </div>
                        <div class="recorder" *ngIf="showRecorder">
                            <app-voice-recorder (getRecord)="audioRecord($event)"></app-voice-recorder>
                            <span
                                style="border: 1px green solid; border-radius: 45px; padding: 2px 6px"
                                (click)="showHideRecorder()"
                                >X</span
                            >
                        </div>
                    </div>
                    <div *ngIf="fileToUpload != null" class="close">
                        <i (click)="clear()" class="fa fa-trash"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <audio-player *ngIf="audio" [autoPlay]="false" [file]="audio"></audio-player>
                        <div
                            *ngIf="audio"
                            style="
                                border: 1px green solid;
                                border-radius: 40px;
                                margin-left: 10px;
                                padding: 0px 0px 6px 5px;
                                width: 25px;
                                height: 25px;
                            "
                            (click)="deleteAudio()"
                        >
                            X
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <!-- accept="video/mp4,video/x-m4v,video/*" -->
                        <input
                            #videoUpload
                            type="file"
                            (click)="videoUpload.value = null"
                            accept="video/mp4,video/x-m4v,video/*"
                            (change)="uploadVideo($event)"
                            style="display: none"
                            id="videoFile"
                        />
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("video_link", "Ссылка на видео") }}</label>
                            <!-- <div *ngIf="!videofile && !isFileLoaded" (click)="videoUpload.click()"  class="copyPhoto">
                        <span>{{local.getTranslate("upload_file","загрузить файл")}}</span>
                    </div>
                    <div *ngIf="videofile && isFileLoaded" id="cancelUpload" (click)="deleteVideo()" style="margin-top: 10px"  class="copyPhoto">
                        <span>{{local.getTranslate("delete_video","удалить видео")}}</span>
                    </div> -->
                        </div>
                        <div class="col-lg-5">
                            <div *ngIf="videofile && !isFileLoaded" style="margin: 0px auto">
                                <div style="margin-bottom: 10px">
                                    <div class="progress1">
                                        <div
                                            class="progress-bar"
                                            [id]="videofile.name"
                                            role="progressbar"
                                            aria-valuenow="100"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            style="max-width: 70%"
                                        >
                                            <span id="fileProgress" class="title">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="videofile && !isFileLoaded"
                                id="cancelUpload"
                                (click)="deleteVideo(1)"
                                style="margin-top: 10px"
                                class="copyPhoto"
                            >
                                <span>{{ local.getTranslate("cancel_uploading", "отменить загрузку") }}</span>
                            </div>
                            <input
                                *ngIf="!videofile"
                                type="text"
                                id="youtube"
                                placeholder="{{ local.getTranslate('direct_link', 'прямая ссылка на видео') }}"
                                formControlName="youtube"
                            />
                            <input
                                *ngIf="videofile && isFileLoaded"
                                type="text"
                                style="text-align: center"
                                id="youtube"
                                disabled
                                value="{{ local.getTranslate('video_attached', 'видео прикреплено') }}"
                            />
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("product_type", "Тип изделия") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="TypeProd" formControlName="TypeProd" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("total_price", "Конечная цена изделия в рублях") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="PrcNt" formControlName="PrcNt" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("articul", "Артикул товара") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="TArticle" formControlName="TArticle" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("mehanizm_tr", "Механизм трансформации") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="TransformMech" formControlName="TransformMech" />
                        </div>
                    </div>
                </div> -->



            </form>
        </div>
        <div *ngIf="accessDenied && !showSpinner" class="form mt-5">
            <div class="alert alert-warning" style="font-weight: bold; font-size: 24px">
                {{ local.getTranslate("access_denied_adv", "У вас нету доступа для управления этим обьявлением!") }}
            </div>
        </div>
    </div>
</section>
