header{
    background: rgba(24, 150, 145, 0.68);
}
.showSpinner{
    position: fixed;
    top: 50%;
    left: 48%;
    right: 48%;
    z-index: 2;
}
.showSpinner i{
    font-size: 60px;
    color: #5c646b;
}
section.advertisement{
    background-color: whitesmoke;
    margin-top: -24px;
    padding-top: 20px;
    min-height: 100vh;
    overflow: auto;
    position: relative;
}
.showMessage{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 30%;
    right: 30%;
    z-index: 2;
    width: 40%;
    @media only screen and (max-width: 1078px) {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}
.showMessage i{
    color: rgba(24, 150, 145, 1);
    margin-bottom: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.choosed{
    margin: 35px 0;
}
.contact{
    border: 1px solid rgba(24, 150, 145, 1);
    background: rgba(24, 150, 145, 0.32);
}
.no-padding{
    padding: 0;
}
textarea{
    resize: none;
    width: 100%;
    min-height: 100px;
    border: 1px solid rgba(24, 150, 145, 1);
}
.btn{
    height: 38px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload{
    border: 1px solid rgba(24, 150, 145, 1);
    background-color: #ffffff;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
    position: relative;
}
.resizer{
    position: absolute;
    top: 3px;
    left: 122px;
    cursor: pointer;
}
.upload-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.upload-images > div {
    width: 100px;
    height: 70px;
    line-height: 68px;
    text-align: center;
    border: 1px solid #189691;
    position: relative;
    margin: 5px 25px 12px 0;
    cursor: pointer;
}
.upload-images > div img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 68px;
    margin-left: auto;
    margin-right: auto;
}
.upload-images > div i.delete {
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
}
.upload-images > div i.resizer {
    position: absolute;
    top: 16px;
    left: 105px;
    cursor: pointer;
}
i.arrow{
    width: 100px;
    height: 70px;
    border: 1px solid #189691;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
    font-size: 27px;
    color: #189691;
    margin-bottom: 5px;
}

.upload img{
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    max-height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.upload i{
    font-size: 27px;
    color: rgba(24, 150, 145, 1);
}
.list_photo{
    max-width: 370px;
}
.back a{
    color: rgba(24, 150, 145, 1);
}

.other_fields{
    justify-content: flex-end;
}
.other_fields .col-lg-4{
    margin-right: 35px;
}
.other_fields p{
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    margin-right: 28px;
}

.upload_image_container{
    position: relative;
    display: flex;
    height: 82px;
    .uploadImage{
        width:100%; 
        height: 100%; 
        padding: 1px;
    }
    .aprogress{
       position: absolute;
       width: 98px;
       height: 9px;
       bottom: 1px;
    }
}
.control-block{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    @media screen and (min-width: 1080px) {
       flex-direction: row;
       margin-top: -30px;
       
    }
    justify-content: space-between;
    .back{
        button{
            max-width: 300px;
            width: 100%;
            margin-bottom: 10px;
            padding: 2px 4px;
            background-color: rgba(24, 150, 145, 0.32);
            text-transform: uppercase;
            font-weight: bold;
            &:last-child{
                margin-bottom: 5px;
            }
        }
    }
    .contact-info{
        display: flex;
        justify-content: left;
    }
}


.uploadAudio{
    margin: 0 auto;
    font-weight: bold;
    padding: 3px 14px;
}
.audio{
  //  position: relative;
  display: flex;
  position: relative;
  margin-bottom: 10px;
    .center-block{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly; 
        border-radius: 10px;
        height: 62%;
        max-width: 390px;
        transition: 0.4s;
        cursor: pointer;
        overflow: hidden;
        .files-to-upload{
            display: inline-flex;
            align-self: flex-start;
            justify-self: flex-start;
            margin: 0 auto;
            color: blue;
            height: 90%;
            p{
                margin: 0 auto;
            }
        }
    
        .close{
            top: 1.5px;
            width: 30px;
            height: 20px;
            z-index: 1000;
            position: relative;
            right: 20%;
        }
        mat-progress-bar{
            width: 85%;
        }
        .first-block{
            padding: 5px 12px;
            background-color: rgba(24, 150, 145, 0.32);
            border-radius: 10px;
        }
        .recorder{
            padding: 5px 12px;
        }
    }
    
    .center-block:hover{
    
        .first-block {
    
            i {
                color: blue;
            }
        }
    }
}

.categories, .categories-mobile {
    display: none;
  }
  @media screen and (min-width: 1080px) {
    .categories {
      display: block;
    }
  }
  @media screen and (max-width: 1079px) {
    .categories-mobile {
      display: block;
    }
  }

  .copyPhoto{
    width: auto;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    span{
        padding: 5px 7px;
        border: 1px black solid;
        background-color: aliceblue;
    }
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    button{
        height: 30px;
        width: auto;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        color: #0d302f !important;
        padding: 3px 5px;
        background-color: rgba(24, 150, 145, 0.32);
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 10px;
        &:last-child{
            margin-bottom: 5px;
        }
        &:hover{
            background-color: rgba(41, 230, 223, 0.32);
            font-weight: bolder ;
        }
    }
    .contact-info{
        @media screen and (min-width: 450px) {
            margin-left: auto;
        }
    }
}

.progress-bar {
    width: 0;
    animation: progress1 1.5s ease-in-out forwards;
    
    .title {
      opacity: 0;
      animation: show 0.35s forwards ease-in-out 0.5s;
    }
  } 

 .progress1{
    border: 1px blue solid;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
 } 
  
  @keyframes progress1 {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }