* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.close-edit-btn {
    background: black;
    cursor: pointer;
    height: 25px;
    width: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    &:hover {
        background-color: #6c757d;
        transform: rotate(180deg);
    }
    img {
        height: 15px;
    }
}

.showSpinner {
    //  position: fixed;
    top: 47%;
    left: 47%;
    right: 48%;
    z-index: 3;
    i {
        font-size: 70px;
        color: #ffffff;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
    }
}
.loadingItem {
    z-index: 3;
    i {
        font-size: 70px;
        color: #ffffff;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
    }
}
.detail_product {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background: #179590;
    overflow: auto;
    z-index: 100;
    top: 0;
    @media screen and (max-width: 1078px) {
        flex-wrap: wrap;
    }

    .audio-controll {
        display: flex;
    }

    .right-top-icons {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        color: #ffffff;
        right: 50px;
        top: 5px;
        z-index: 2;
        content-type, button {
            margin-right: auto;
        }
        .main-button {
          padding: 0px 3px;
         // color: lightblue;  
        }
        menu-header {
            margin-bottom: 8px;
            margin-right: 28px;
        }
        padding: 5px;
        padding-top: 8px;
        font-weight: bold;
        cursor: pointer;
        a {
            i {
                transform: scale(0.8);
                margin: 0px;
            }
        }
        i {
            height: 20px;
            width: 20px;
            margin: 10px 0;
        }
        @media screen and (max-width: 1078px) {
            background: #7f7f7f;
            right: 3%;
            display: none;
        }
    }
    &__item {
        flex-basis: 70%;
        @media screen and (max-width: 1078px) {
            flex-basis: 100%;
            //  height: calc(71vh);
            height: auto;
        }
        &--images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            min-height: calc(88.6vh);
            padding: 0 30px;
           // position: relative;
            @media screen and (max-width: 1078px) {
                min-height: calc(15vh);
                padding: 0px;
            }
            .image {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 1000%;
            }
            .copyLink {
                position: absolute;
                cursor: pointer;
                height: 30px;
                top: 120px;
                left: 30px;
                @media screen and (max-width: 600px) {
                    top: 115px;
                    left: 10px;
                }
            }
            .image img {
                max-width: 100%;
                height: auto;
                max-height: calc(87vh);
                @media screen and (max-width: 1078px) {
                    max-width: 100%;
                    max-height: calc(39vh);
                }
            }
            img {
                height: auto;
                max-height: calc(87vh);
                @media screen and (max-width: 1078px) {
                    max-height: calc(80vh);
                }
            }
            .arrows {
                font-size: 34px;
                width: 24px;
                cursor: pointer;
                @media screen and (max-width: 1078px) {
                    i.desktop {
                        display: none;
                    }
                    i.mobile {
                        position: absolute;
                        border-radius: 5px;
                        z-index: 999;
                        background-color: #00192f;
                        top: 225px;
                        &.fa-chevron-right {
                            right: 8px;
                        }
                        &.fa-chevron-left {
                            left: 8px;
                        }
                    }
                }
                @media screen and (min-width: 1078px) {
                    i.mobile {
                        display: none;
                    }
                }
            }
        }
        &--additional_images {
            display: none;
            color: #ffffff;
            background: #179590;
            @media screen and (max-width: 1078px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .arrows {
                cursor: pointer;
            }
            .images {
                .addImgItem {
                    position: absolute;
                    max-height: 90px;
                    @media screen and (max-width: 476px) {
                        max-height: 55px;
                    }
                    img {
                        margin: 0 5px;
                        max-width: 90px;
                        height: 40px;
                        max-height: 90px;
                        @media screen and (max-width: 1078px) {
                            max-width: 90px;
                            margin: 0 5px;
                        }
                        @media screen and (max-width: 476px) {
                            max-height: 55px;
                        }
                    }
                    .order {
                        top: 1px;
                        position: relative;
                    }
                }
            }
            .images-five {
                img {
                    margin: 0 3px;
                    max-width: 55px;
                    height: auto;
                    max-height: 80px;
                    @media screen and (max-width: 1078px) {
                        max-width: 55px;
                        margin: 0 3px;
                    }
                    @media screen and (max-width: 476px) {
                        max-height: 55px;
                    }
                }
            }
        }
        &--main_information {
            background: #ffffff;
            //     display: flex;
            justify-content: space-between;
            align-items: center;
            height: calc(8.4vh);
            h4 {
                font-size: 20px;
            }
            p {
                color: #179590;
                font-size: 22px;
                font-weight: bold;
            }
            @media screen and (max-width: 1078px) {
                display: block;
                padding: 8px 23px 10px;
                h4 {
                    font-size: 19px;
                    font-weight: lighter;
                }
                p {
                    color: #179590;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .basket {
                background: #f1173a;
                justify-content: center;
                align-self: center;
                display: flex;
                padding: 3px 7px;
                margin-right: 5px;
                border-radius: 10px;
                cursor: pointer;
                @media screen and (max-width: 1078px) {
                    max-width: 195px;
                    margin: 0 auto 0px;
                    padding: 0;
                }
                img,
                i {
                    margin-right: 17px;
                    width: 30px;
                    max-width: 100%;
                    margin: 5px;
                    @media screen and (max-width: 1078px) {
                        width: 25px;
                    }
                }
                > div {
                    color: #ffffff;
                    a {
                        color: #ffffff;  
                    }
                    font-size: 20px;
                    margin: 5px 0px;
                    @media screen and (max-width: 1078px) {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                &.in_cart {
                    background: #37c509;
                    height: 35px;
                    width: 40px;
                    align-self: center;
                    padding: 0 10px;
                    cursor: pointer;
                    i {
                        color: white;
                        margin-top: 10px;
                        height: 10px;
                    }
                }

                &:hover {
                    transition: all 0.4s ease;
                    -webkit-transition: all 0.4s ease;
                    transform: scale(1.03);
                    background-color: rgb(252, 152, 1) !important;
                }
            }
            .change {
                display: flex;
                height: 25px;
                justify-content: space-around;
                .edit,
                .delete {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    //background: green;
                    margin-right: 10px;
                   // border: 1px rgb(7, 248, 248) solid;
                    //border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 11px;
                    cursor: pointer;
                    > span {
                        color: #ffffff;
                        font-size: 25px;
                    }
                    @media screen and (max-width: 1078px) {
                        max-width: 195px;
                        height: 35px;
                        //margin: 0 auto 0px;
                        > span {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }
                .delete {
                   // background: #f1173a;
                }
            }
            .text {
                flex-basis: 70%;
                min-height: 55px;
                height: auto;
                p {
                    width: auto;
                }
            }
        }
        &--left {
            background: #00192f;
            overflow: auto;
            @media screen and (min-width: 1079px) {
                height: 100vh;
            }
        }
        &--right {
            background: #179590;
            flex-basis: 30%;
            max-width: 30%;
            min-height: calc(97vh);
            @media screen and (min-width: 1079px) {
                height: 100vh;
            }
            margin-top: 10px;
            padding: 0 10px;
            @media screen and (max-width: 1078px) {
                max-width: none;
                flex-basis: 100%;
                min-height: calc(25vh);
                height: auto;
            }
            > h4 {
                text-align: center;
                color: #ffffff;
                margin: 46px 0 20px;
                font-size: 20px;
                @media screen and (max-width: 1078px) {
                    display: none;
                }
            }
            > p {
                text-align: center;
                color: #ffffff;
                font-size: 17px;
                margin: 0 0 40px;
                @media screen and (max-width: 1078px) {
                    margin: 7px 0 0;
                }
            }
            .additional_images {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 0 0 26px;
                color: #ffffff;
               // height: calc(6vh);
                overflow: hidden;
                @media screen and (max-width: 1078px) {
                    display: none;
                }
                img {
                    margin: 0 5px;
                    max-width: 90px;
                    height: auto;
                    max-height: 60px;
                }
            }
            .arrows {
                font-size: 13px;
                cursor: pointer;
            }
            .book {
                height: 800px;
                background-image: url("/assets/images/old-book.jpg");
                background-repeat: no-repeat;
                background-position: center;
            }
            .description {
                margin: 0 0 35px;
                text-align: left;
                color: #ffffff;
                a {
                    color: #ffffff !important;  
                }
                display: block;
                background-color: #178681; //#179590;
                padding: 10px 15px;
                border-radius: 10px;
                word-wrap: break-word !important;
                @media screen and (max-width: 1078px) {
                    display: none;
                    margin: 0 0 8px;
                    max-height: 30px;
                    overflow: hidden;
                }
                p {
                    font-size: 20px;
                    max-height: calc(70vh);
                    i {
                        color: white !important;
                    }
                    height: 100%;
                    overflow: hidden;
                }
                h6 {
                    font-size: 20px;
                    margin: 34px 0 24px;
                    @media screen and (max-width: 1078px) {
                        margin: 5px 0;
                    }
                }
                .phone {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 19px;
                    @media screen and (max-width: 1078px) {
                        margin-bottom: 5px;
                    }
                    i {
                        background: #f1173a;
                        width: 23px;
                        height: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 6px;
                        font-size: 13px;
                    }
                    span {
                        font-size: 19px;
                    }
                }
                .email {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        background: #f1173a;
                        width: 23px;
                        height: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 6px;
                        font-size: 13px;
                    }
                    span {
                        font-size: 19px;
                    }
                }
            }

            .description.show {
                @media screen and (max-width: 1078px) {
                    overflow-y: scroll;
                    max-height: 115px;
                }
            }
            > p.detail {
                display: none;
                color: #2a2e2d;
                cursor: pointer;
                margin-top: 0;
                @media screen and (max-width: 1078px) {
                    display: block;
                }
            }
            .contact_info-short-desktop {
                @media screen and (min-width: 1079px) {
                    position: absolute;
                    bottom: 15px;
                    right: 10%;
                }
            }
            .contact_info-full-desktop {
                display: none !important;
            }
            .contact_info {
                display: flex;
                margin-bottom: 20px;
                flex-direction: row;
                height: 40px;
                color: #ffffff;
                justify-content: center;
                .phone {
                    height: 40px;
                    margin-right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 1130px) {
                        margin-bottom: 5px;
                    }
                    i {
                        background: #f1173a;
                        width: 23px;
                        height: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 6px;
                        font-size: 13px;
                    }
                    span {
                        font-size: 19px;
                        @media screen and (max-width: 1130px) {
                            font-size: 14px;
                        }
                    }
                }
                .email {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        background: #f1173a;
                        width: 23px;
                        height: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 6px;
                        font-size: 13px;
                    }
                    @media screen and (max-width: 1130px) {
                        font-size: 12px;
                    }
                    span {
                        font-size: 19px;
                    }
                }
            }
            .application {
                text-align: center;
                margin-bottom: 25px;
                img {
                    margin: 0 5px;
                }
            }
        }
    }
}

.showMessage {
    position: fixed;
    top: 50%;
    left: 48%;
    right: 48%;
    z-index: 2;
}
.showMessageTxt {
    position: fixed;
    top: 50%;
    left: 30%;
    right: 30%;
    z-index: 3;
    width: 40%;
    text-align: center;
}
.showMessage i {
    font-size: 60px;
    color: #5c646b;
}

.prew {
    margin-right: 7px;
}
.next {
    margin-left: 7px;
}

.description_mobile {
    @media screen and (max-width: 1078px) {
        display: flex;
    }
    display: none;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 95%;
    border-radius: 10px;
    background-color: #178681;
    margin: 5px auto;
    .description_mobile-text {
        color: white;
        margin: 5px 10px;
        font-size: 20px;
        max-width: 330px;
        width: auto;
        word-wrap: break-word !important;
    }
    .description_mobile-loader {
        margin-top: 10px;
    }
}

.description_mobile-detail {
    display: block;
    color: #2a2e2d;
    cursor: pointer;
    font-weight: 600;
    width: auto;
}

.close {
    position: absolute;
    border-radius: 50%;
    color: #ffffff !important;
    right: 1%;
    top: 2%;
    z-index: 2;
    padding: 5px;
    background: #00192f;
    cursor: pointer;
    @media screen and (max-width: 1078px) {
        background: #7f7f7f;
        right: 3%;
    }
}

.closer {
    position: absolute;
    border-radius: 50%;
    top: 22px;
    right: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
  //  background: #00192f;
    @media screen and (max-width: 1078px) {
        top: 15px;
        right: 15px;
      //  background: #7f7f7f;
    }
    img {
        position: relative;
        bottom: 26px;
        left: 5px;
        width: 25px;
        background-color: white;
        height: 25px;
        border-radius: 45px;
    }
}

a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    @media screen and (max-width: 1078px) {
        font-size: 15px;
    }
}
a:hover {
    color: lightgray;
}

.title{
    display: flex;
    align-items: center;
    img {
        height: 25px;
        padding-bottom: 3px;
        margin-left: 5px;
    }
}

.show-desktop {
    display: flex;
    border-top: 1.5px #00192f solid;
    justify-content: flex-end;
    @media screen and (max-width: 1078px) {
        display: none;
    }
    .left-block,
    .right-block {
        position: relative;
        display: flex;
        align-items: center;
        flex-basis: 30%;
        min-height: calc(8.4vh);
        text-align: center;
    }
    .right-block {
        justify-content: flex-end;
    }
    .left-block {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
        .date,
        .user {
            padding-left: 10px;
            span {
                margin-left: 4px;
                font-size: 16px;
                font-weight: bold;
                color: #179590;
            }
        }
    }
    .central-block {
        flex-basis: 70%;
        text-align: center;
        p {
            margin: 0;
            padding: 0;
        }
    }
}
.show-mobile {
    display: none;
    @media screen and (max-width: 1078px) {
        display: block;
        height: auto;
    }
}

#sliderImg {
    @media screen and (max-width: 600px) {
        width: 95%;
    }
    @media screen and (min-width: 601px) {
        max-width: 95%;
    }
}

.fullDescription {
    overflow: auto;
    height: 70vh;
    margin: 0 17%;
    border: 1px #095c58 solid;
    padding: 10px;
    background-color: #178681;
    border-radius: 15px;
}
.shortDescription {
    overflow: none;
    height: auto;
    padding: 0px;
    margin: none;
}

.addImgItem {
    max-height: 90px;
    cursor: pointer;
    @media screen and (max-width: 476px) {
        max-height: 55px;
    }
    .order {
        div {
            margin-left: 5px;
            height: 30px;
            width: 30px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f0f1f3;
            span {
                color: #179590;
            }
        }
    }
    .selectedAddImg {
        border: 2px #00192f solid;
        filter: contrast(70%);
    }
}

.audio-controll {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
   // margin-top: 25px;
   // width: 90px;
    height: 25px;
    padding-top: 5px;
   // margin: 0 auto;
    i {
        transform: scale(1.7);
        margin-left: 15px;
        margin-right: 15px;
    }
}

.player-section {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.repeat-statistics{
    display: flex;
    justify-content: center;
    .stats{
        background-color: #f0f1f3;
        color: #179590;
        border-radius: 5px;
        padding: 2px 6px;
    }
}

#closer {
  //  background: #179590;
    height: 100vh;
}


.action-btn{
    cursor: pointer;
    &-delete{
        margin-right: 45px;
    }
    margin-right: 10px;
}

.map-open {
    margin-bottom: 5px;
    margin-right: 4px;
}

.select-area {
    position: absolute;
    top: 110px;
    right: 10px;
    input {
        transform: scale(1.7);
    }
}

.select-area-mobile {
  //  margin-left: auto;
    // position: absolute;
    // top: 110px;
    // right: 10px;
    input {
        transform: scale(1.7);
    }
}

