<ng-container *ngIf="showEditComponent">
    <div (click)="showEditComponent = !showEditComponent" class="close-edit-btn">
        <img src="assets/images/close.png" alt="" />
    </div>
    <edit-advert
        [catId]="catId"
        *ngIf="isOldVersion"
        (close)="closeEditComponent()"
        [prcId]="editPrcId"
        [advert]="element"
    >
    </edit-advert>
</ng-container>

<div *ngIf="!showEditComponent" #closer>
    <div class="showMessageTxt" *ngIf="message.text">
        <div class="alert alert-{{ message.type }}">
            {{ message.text }}
        </div>
    </div>
    <div (swiperight)="swiperight()" (swipeleft)="swipeleft()" id="detail-page" class="detail_product">
        <app-full-description
            *ngIf="element && element.id"
            [isShow]="isShowFullDescr"
            (closer)="closeDescription()"
            [hasAudio]="audio"
            [description]="replaceLinkText(element.tDescription)"
            [headline]="productName"
            [clickedImageOrder]="clickedImageOrder"
            [element]="element"
            [showAudioControlBar]="showAudioControlBar"
            [showEditAudio]="showEditAudio"
            (switchAudioControl)="switchAudioControl()"
        >
        <div style="max-width: 300px; margin: 0 auto; display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
            <div class="audio-controll" *ngIf="showEditAudio">
                <i *ngIf="shared.isAdmin" (click)="setCopiedAudio()" style="color: white" class="fa fa-file-audio-o"> </i>
                <i (click)="switchAudioControl()" style="color: white" class="fa fa-microphone"></i>
            </div>
            <ng-container *ngTemplateOutlet="audioCtrl"></ng-container>
        </div>
    </app-full-description>
        <div name="right-top-icons" class="right-top-icons">
            <button
                class="btn btn-sm btn-light main-button"
                [ngStyle]="{
                    backgroundColor: this.siteSettings.getFrozeSetting(
                        this.siteSettings.getDepartmentTypeByRoute(this.data?.route ? this.data?.route : 'null')
                    ) ?  'lightgray' : 'white'
                }"
                *ngIf="shared.isSlideshowEnabled() && (env.checkPermission('site-settings') | async)"
                (click)="openPersonalMenu(2)"
            >
                {{ local.getTranslate("site-settings", "Настройки сайта") }}
            </button>
            <!-- <content-type (onChange)="changeContentType($event)"></content-type> -->
            <menu-header [isDetail]="true"></menu-header>
            <a
                *ngIf="
                    element &&
                    element.latitude &&
                    element.longitude &&
                    showMapButton &&
                    (authService.isAuthenticatedObservable() | async)
                "
                target="_blank"
                routerLink="/map"
                [queryParams]="{ latitude: element.latitude, longitude: element.longitude, geoname: element.geoname }"
            >
               <img class="map-open" src="/assets/images/ace-of-hearts.png" alt="map">
            </a>
            <i class="fa fa-external-link" (click)="fullDescription()" aria-hidden="true"></i>
        </div>
        <div *ngIf="showHideDescription" class="detail_product__item detail_product__item--left">
            <!----white block for mobile  BEGIN-->

            <div class="show-mobile detail_product__item--main_information">
                <div class="text">
                    <span class="title" *ngIf="productName"
                        ><h4>
                            {{ productName }}
                            <img
                                *ngIf="element && element.youtube && element.youtube.length > 5"
                                src="/assets/images/youtube.svg"
                                alt="contain video"
                            /></h4
                    >
                    <div
                    style="margin-top: 3px; margin-left: 3px; cursor: pointer"
                    *ngIf="shared.isAdmin || (isCabinet && shared.isAdvOwner(product.creater_ID))"
                    (click)="fastEdit(fastModyfyType.EDIT_TITLE)"
                    [matTooltip]="'редактировать название'"
                >
                    <i class="fa fa-edit"></i>
                </div>
                </span>
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <div *ngIf="showBasket && checkPrice()" style="margin-right: 20px">
                            <button
                                *ngIf="!orderService.containsProduct(element.prc_ID); else inCart"
                                (click)="addToCart(element)"
                                class="basket"
                            >
                                <!-- <img src="assets/images/white-cart.png" /> -->
                                <img src="assets/images/cart-white.svg" />
                            </button>
                            <ng-template #inCart>
                                <div class="basket in_cart">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </ng-template>
                        </div>
                        <p *ngIf="productPrice">{{ productPrice }}</p>
                    </div>
                </div>
                <div class="change">
                    <button *ngIf="showEdit" class="delete" (click)="deleteProduct(element)">
                        <img height="25px" src="assets/images/delete-new.svg" alt="" />
                    </button>
                    <button *ngIf="showEdit" class="edit" (click)="fastEditAdvert(element)">
                        <img height="25px" src="assets/images/creative.svg" alt="" />
                    </button>
                    <span
                        class="btn"
                        style="margin-top: 7px; font-weight: bold"
                        *ngIf="shared.isSlideshowEnabled() && (env.checkPermission('site-settings') | async)"
                        (click)="openPersonalMenu(2)"
                        >{{ local.getTranslate("site-settings", "Настройки сайта") }}</span
                    >
                    <!-- <content-type (onChange)="changeContentType($event)"></content-type> -->
                    <!-- <menu-header [isDetail]="true"></menu-header> -->
                    <span (click)="shared.showMenuAsModal()" style="font-weight: bold; margin-top: 8px;">меню</span>
                    <a
                    *ngIf="
                        element &&
                        element.latitude &&
                        element.longitude &&
                        showMapButton &&
                        (authService.isAuthenticatedObservable() | async)
                    "
                    target="_blank"
                    style="margin-top: 7px"
                    routerLink="/map"
                    [queryParams]="{ latitude: element.latitude, longitude: element.longitude, geoname: element.geoname }"
                >
                <img class="map-open mr-2" src="/assets/images/ace-of-hearts.png" alt="map">
                </a>

                <div
                *ngIf="
                    (copyAdverts.copyMode ||
                    repeatService.repeatMode ||
                    moveAdvers.moveMode ||
                    dollService.dollMode)
                "
                class="select-area-mobile"
            >
                <input
                    *ngIf="copyAdverts.copyMode"
                    [checked]="copyAdverts.has(element)"
                    (click)="copyAdverts.put(element)"
                    type="checkbox"
                />
                <input
                    *ngIf="repeatService.repeatMode"
                    [checked]="repeatService.has(element)"
                    (click)="repeatService.put(element)"
                    type="checkbox"
                />
                <input
                    *ngIf="
                        moveAdvers.moveMode &&
                        isCabinet &&
                        (shared.isAdmin || shared.isAdvOwner(element.creater_ID))
                    "
                    [checked]="moveAdvers.has(element)"
                    (click)="moveAdvers.put(element, this.catId)"
                    type="checkbox"
                />
                <input
                    *ngIf="dollService.dollMode"
                    [checked]="dollService.has(element)"
                    (click)="dollService.put(element, this.catId)"
                    type="checkbox"
                />
            </div>
            
                </div>
            </div>
            <!----white block for mobile END -->

            <!----white block for desktop  BEGIN-->
            <div class="show-desktop detail_product__item--main_information">
                <!-- <div class="left-block">
                    <div class="date">
                        <i class="fa fa-calendar"></i> <span> {{ element?.createdAt | date: "dd.MM.yyyy" }}</span>
                    </div>
                    <div *ngIf="element?.suplier" class="user">
                        <i class="fa fa-user"></i> <span> {{ element.suplier | lowercase }}</span>
                    </div>
                </div> -->

                <div class="central-block pl-3">
                    <span class="title" *ngIf="productName"
                        ><h4>{{ productName }}</h4>
                        <img
                            *ngIf="element && element.youtube && element.youtube.length > 5"
                            src="/assets/images/video-camera.svg"
                            alt="contain video"
                    />

                    <div
                    style="margin-top: 3px; margin-left: 3px; cursor: pointer"
                    *ngIf="shared.isAdmin || (isCabinet && shared.isAdvOwner(product.creater_ID))"
                    (click)="fastEdit(fastModyfyType.EDIT_TITLE)"
                    [matTooltip]="'редактировать название'"
                >
                    <i class="fa fa-edit"></i>
                </div>


                </span>
                    <p *ngIf="productPrice">{{ productPrice }}</p>
                </div>

                <div class="right-block">
                    <div class="change">
                        <img
                            *ngIf="showEdit"
                            class="action-btn action-btn-delete"
                            (click)="deleteProduct(element)"
                            height="25px"
                            src="assets/images/delete-new.svg"
                            alt=""
                        />
                        <img
                            *ngIf="showEdit"
                            class="action-btn"
                            (click)="fastEditAdvert(element)"
                            height="25px"
                            src="assets/images/creative.svg"
                            alt=""
                        />
                    </div>

                    <div class="buttons_block" *ngIf="showBasket && checkPrice()">
                        <button
                            *ngIf="!orderService.containsProduct(element.prc_ID); else inCart"
                            (click)="addToCart(element)"
                            class="basket"
                        >
                            <img src="assets/images/cart-white.svg" />
                        </button>
                        <ng-template #inCart>
                            <div class="basket in_cart">
                                <i class="fa fa-cart-plus"></i>
                                <!-- <i class="fa fa-check"></i> -->
                                <!-- <div>{{local.getTranslate("to_cart_already","В корзине")}}</div> -->
                            </div>
                        </ng-template>
                    </div>

                    <div
                    *ngIf="
                        (copyAdverts.copyMode ||
                        repeatService.repeatMode ||
                        moveAdvers.moveMode ||
                        dollService.dollMode)
                    "
                    class="select-area"
                >
                    <input
                        *ngIf="copyAdverts.copyMode"
                        [checked]="copyAdverts.has(element)"
                        (click)="copyAdverts.put(element)"
                        type="checkbox"
                    />
                    <input
                        *ngIf="repeatService.repeatMode"
                        [checked]="repeatService.has(element)"
                        (click)="repeatService.put(element)"
                        type="checkbox"
                    />
                    <input
                        *ngIf="
                            moveAdvers.moveMode &&
                            isCabinet &&
                            (shared.isAdmin || shared.isAdvOwner(element.creater_ID))
                        "
                        [checked]="moveAdvers.has(element)"
                        (click)="moveAdvers.put(element, this.catId)"
                        type="checkbox"
                    />
                    <input
                        *ngIf="dollService.dollMode"
                        [checked]="dollService.has(element)"
                        (click)="dollService.put(element, this.catId)"
                        type="checkbox"
                    />
                </div>
                </div>
            </div>
            <!----white block for mobile  END-->

            <!-- begin show only for mobile fersion-->
            <div
                *ngIf="showProduct && element?.additionalImages && element.additionalImages.length != 0"
                class="detail_product__item--additional_images"
            >
                <slider-images
                    [selectedImg]="selectedImg"
                    [nextSlide]="nextSlide"
                    *ngIf="isMobileView"
                    [data]="element"
                    [contentType]="contentType"
                    (outputActions)="inputAdditSliderActions($event)"
                    (click)="mouseOverImg($event)"
                    (resetSelectedAddImg)="resetSelectedAddImg($event)"
                ></slider-images>
            </div>

            <!-- end -->
            <div class="detail_product__item--images">
                <div class="arrows arrows__prew" [attr.data-next]="prevElementId">
                    <i
                        *ngIf="showPrevElementId"
                        (click)="routePrewProduct(element, true)"
                        class="fa fa-chevron-left mobile"
                        aria-hidden="true"
                    ></i>
                    <i
                        *ngIf="showPrevElementId"
                        (click)="routePrewProduct(element)"
                        class="fa fa-chevron-left desktop"
                        aria-hidden="true"
                    ></i>
                </div>
                <ng-template #notFrozen>
                    <img
                        class="copyLink"
                        *ngIf="
                            ((elementImage_Base && this.contentType === 1) ||
                                (elementImage_Base && !youtubeLink && this.contentType === 2)) &&
                            shared.isAdmin &&
                            showCopyLink
                        "
                        (click)="copyLink()"
                        src="assets/images/cplink.png"
                        alt="copy link"
                    />                    
                </ng-template>
                <!-- <span style="color: white;">{{isDollSettingsFrozen ? 1 : 2}}</span> -->
                <ng-container *ngIf="isDollSettingsFrozen || !(authService.isAuthenticatedObservable() | async); else notFrozen">
                    <img *ngIf="elementImage_Base && !youtubeLink" id="sliderImg" onerror="this.src='assets/images/img-not-available.jpeg';" [src]="shared.checkNoImageLink(elementImage_Base)">
                    <div *ngIf="elementImage_Base && !!youtubeLink" class="image">
                      <app-youtube-player [link]="shared.checkIfCloudLink(youtubeLink)" [img]="addImgYoutube"></app-youtube-player>
                    </div>            
                </ng-container>

                <ng-template #notFrozen>
                <img
                    *ngIf="
                        (elementImage_Base && this.contentType === 1) ||
                        (elementImage_Base && !youtubeLink && this.contentType === 2)
                    "
                    #sliderImg
                    id="sliderImg"
                    onerror="this.src='assets/images/img-not-available.jpeg';"
                    [src]="shared.checkNoImageLink(elementImage_Base)"
                />

                <div
                    *ngIf="
                        (elementImage_Base && !!youtubeLink && this.contentType === 2) ||
                        (isClickedDetailImg && this.contentType === 2 && this.previousName && this.previousName.video)
                    "
                    class="image"
                >
                    <app-youtube-player
                        (outputActions)="videoActions($event)"
                        [autoPlay]="isStartAudio && this.contentType === 2"
                        [inputAction]="videoAction"
                        [link]="shared.checkIfCloudLink(youtubeLink)"
                        [img]="addImgYoutube"
                    ></app-youtube-player>
                </div>

                </ng-template>

                <div *ngIf="elementImage_Base == null" class="image">
                    <div class="loadingItem">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="arrows arrows__next" [attr.data-next]="nextElementId">
                    <i
                        *ngIf="showNextElementId"
                        (click)="routeNextProduct(element)"
                        class="fa fa-chevron-right mobile"
                        aria-hidden="true"
                    ></i>
                    <i
                        *ngIf="showNextElementId"
                        (click)="routeNextProduct(element)"
                        class="fa fa-chevron-right desktop"
                        aria-hidden="true"
                    ></i>
                    <div (click)="close()" class="closer"><img src="assets/images/cancel.svg" alt="" /></div>
                </div>
            </div>
        </div>

        <div name="description" class="detail_product__item detail_product__item--right">
            <h4 [style.margin]="showFullDescription ? '26px 0 10px' : '46px 0 20px'" *ngIf="element">
                {{ productName }}
            </h4>
            <p *ngIf="element && element.addr">{{ element.addr }}</p>
            <p *ngIf="element && element?.catalog && !showFullDescription">{{ element.catalog }}</p>
            <!-- begin show only for desktop fersion-->
            <div
                *ngIf="showProduct && element?.additionalImages && element.additionalImages.length != 0"
                name="additional_images"
                class="additional_images"
            >
                <slider-images
                    [selectedImg]="selectedImg"
                    [nextSlide]="nextSlide"
                    [data]="element"
                    *ngIf="!isMobileView"
                    [contentType]="contentType"
                    (outputActions)="inputAdditSliderActions($event)"
                    (click)="mouseOverImg($event)"
                    (resetSelectedAddImg)="resetSelectedAddImg($event)"
                ></slider-images>
            </div>

            <div
                class="repeat-statistics"
                *ngIf="(this.isSlideshowAdvert || this.isSlideshowExtraPict) && contentType == 1 && countOfRepeats > 1"
            >
                <div class="stats">
                    повторение {{ currentRepeat }} из <b>{{ countOfRepeats }}</b>
                </div>
            </div>

            <div class="player-section">
                <ng-container *ngIf="audio && showPlayer && !showAudioControlBar">
                    <audio-player
                        [autoPlay]="isStartAudio && this.contentType === 1"
                        [inputAction]="playerAction"
                        (outputAction)="inputPlayerAction($event)"
                        [file]="audio"
                    >
                    </audio-player>
                </ng-container>

                <div class="audio-controll" *ngIf="showEditAudio">
                    <i *ngIf="shared.isAdmin" (click)="setCopiedAudio()" class="fa fa-file-audio-o"> </i>
                    <i (click)="switchAudioControl()" class="fa fa-microphone"></i>
                </div>

                <ng-container *ngTemplateOutlet="audioCtrl"></ng-container>
            </div>

            <ng-container *ngTemplateOutlet="audioSelfPlayer"></ng-container>

            <div *ngIf="element?.tDescription" class="description" id="show_description">
                <p
                    [ngStyle]="descriptionClass"
                    #description
                    id="show_description_text"
                    *ngIf="element.tDescription"
                    [innerHtml]="replaceLinkText(element.tDescription)"
                ></p>
                <!------(click)="fullDescription()" *ngIf="!showFullDescription && element.tDescription && (limiter(element.tDescription).length >= limitDescription)" -->
                <div (click)="fullDescription()" *ngIf="element.tDescription" class="description_mobile-detail">
                    {{ local.getTranslate("more-info", "ПОДРОБНЕЕ") }}
                </div>
            </div>
            <div *ngIf="element?.tDescription" class="description_mobile">
                <img
                    *ngIf="!element.tDescription"
                    [src]="shared.loadingImage"
                    alt=""
                    class="description_mobile-loader"
                />
                <div
                    (click)="showDescrButton()"
                    class="description_mobile-text"
                    [innerHtml]="limiter(element.tDescription)"
                ></div>
                <div
                    (click)="showDescrButton()"
                    *ngIf="
                        !showFullDescription &&
                        element.tDescription &&
                        limiter(element.tDescription).length >= limitDescription
                    "
                    class="description_mobile-detail"
                >
                    {{ local.getTranslate("more-info", "ПОДРОБНЕЕ") }}
                </div>
            </div>
            <div id="contacts" class="contact_info contact_info-short-desktop">
                <div *ngIf="element?.phoneclient" class="phone">
                    <a [href]="sanitize('tel', element.phoneclient)"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
                <div *ngIf="element?.skype" class="phone">
                    <a [href]="sanitize('skype', element.skype)"><i class="fa fa-skype" aria-hidden="true"></i></a>
                </div>
                <div *ngIf="element?.whatsapp" class="phone">
                    <a [href]="sanitize('whatsup', element.whatsapp)"
                        ><i class="fa fa-whatsapp" aria-hidden="true"></i
                    ></a>
                </div>
                <div *ngIf="element?.email" class="phone">
                    <a [href]="sanitize('mailto', element.email)"
                        ><i class="fa fa-envelope-o" aria-hidden="true"></i
                    ></a>
                </div>
            </div>
            <div *ngIf="false" class="application">
                <img src="assets/images/app1.png" />
                <img src="assets/images/app2.png" />
            </div>
        </div>
    </div>
</div>


<ng-template #audioCtrl>
    <audio-controller
    *ngIf="showAudioControlBar"
    [inputFile]="{ link: this.audio }"
    [isImgAudio]="elementImage_Base !== element?.t_imageprev"
    [selectedImg]="selectedImg"
    [additionalImages]="element?.additionalImages"
    [advId]="element?.prc_ID"
    [isAudioOwner]="shared.isAdvOwner(element.creater_ID)"
    (isAudioUploaded)="$isAudioUploaded($event)"
>
</audio-controller>
</ng-template>

<ng-template #audioSelfPlayer>
    <ng-container *ngIf="tempRecordedAudio() && !showAudioControlBar && this.showProduct">
        <audio-player
            *ngIf="(audio && showPlayer) || !audio"
            [autoPlay]="false"
            [color]="'rgb(86 102 135)'"
            [file]="tempRecordedAudio()"
        >
        </audio-player>
    </ng-container>
</ng-template>
