.body-description{
    position: absolute;
   // margin: 5%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #179590;
    border: 1px #095c58 solid;
    display: none;
    .player-box {
        max-width: 300px;
        margin: 0 auto;
    }
    .close{
        color: yellow;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .headline{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 15px 0;
    }
    .description{
        margin: 0 0 35px;
        text-align: left;
        color: #ffffff;
        display: block;
        padding: 10px 15px;
        border-radius: 10px;
        word-wrap: break-word !important;
        p{
            font-size: 20px;
            color: white;
            overflow: auto;
            height: 70vh;
            margin: 0 17%;
            border: 1px solid #095c58;
            padding: 10px;
            background-color: #178681;
            border-radius: 15px;
        }
    }
    
}

.conditionalOpen{
    display: inline-block;
    background-color: #00192f;
    -webkit-animation: conditionalOpen 1s normal forwards ease-in-out;
    -moz-animation: conditionalOpen 1s normal forwards ease-in-out;
    animation: conditionalOpen 1s normal forwards ease-in-out;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.conditionalClose {
    display: inline-block;
    background-color: #00192f;
    -webkit-animation: conditionalClose 1s normal forwards ease-in-out;
    -moz-animation: conditionalClose 1s normal forwards ease-in-out;
    animation: conditionalClose 1s normal forwards ease-in-out;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  

@-webkit-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@-moz-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}

@-webkit-keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}
@-moz-keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}
@keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}