<div #closer [ngClass]="{conditionalOpen:isShow}" class="body-description">
  <div (click)="close()" class="close">
    <i class="fa fa-external-link" aria-hidden="true"></i>
  </div>

  <div class="headline">{{headline}}</div>

  <div style="display: flex; flex-direction: column">
    <div class="player-box">
      <audio-player *ngIf="hasAudio && isShow" [autoPlay]="false" [file]="hasAudio"></audio-player>
    </div>
    <ng-content></ng-content>
  </div>
  <!-- <ng-container *ngIf="tempRecordedAudio() && !showAudioControlBar && element">
    <audio-player
        *ngIf="(hasAudio && showPlayer) || !hasAudio"
        [autoPlay]="false"
        [color]="'rgb(86 102 135)'"
        [file]="tempRecordedAudio()"
    >
    </audio-player>
</ng-container> -->
<!-- <div class="audio-controll" *ngIf="showEditAudio">
  <i *ngIf="shared.isAdmin" (click)="setCopiedAudio()" class="fa fa-file-audio-o"> </i>
  <i (click)="switchControl()" class="fa fa-microphone"></i>
</div> -->
  <div *ngIf="description" class="description" id="show_description">
    <p id="show_description_text" [innerHtml]="description">
  </p>
  </div>
</div>

