ul.left-menu {
  margin: 0px;
  padding: 0;
  height: 100%;
  @media screen and (max-width: 1078px) {
    margin: 20px 0 0 0;
  }

  h5 {
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
    min-width: 250px;
    max-width: 275px;
    width: 100%;
    background: #ffffff;
    margin: 0;
    border-top: 2px solid #189691;
    border-right: 2px solid #189691;
    border-left: 2px solid #189691;
    img{
      margin-left: 12px;
    }
  }

  ul {
    padding: 0;
    min-width: 250px;
    max-width: 275px;
    z-index: 7;
    width: 100%;
    position: relative;
    border: 2px solid #189691;
    @media screen and (max-width: 1078px) {
      border: none;
    }
  }

  ul#first-menu {
    @media screen and (max-width: 1078px) {
      border-right: 2px solid #189691;
      border-left: 2px solid #189691;
    }
    .nav-item{
      display: flex;
      border-bottom: 1px black solid;
      .editMode{
        margin-left: auto;
        margin-right: 3px;
        position: relative;
        display: inline-block;
        &:hover{
          background-color: blue;
        }
        .modify{
          width: 20px;
          height: 100%;
          color: black;
          cursor: pointer;
          i{
            margin-left: 4px;
            transform: scale(1.2) !important;
          }
          &::last-child{
            cursor: pointer !important;
            margin-left: 10px;
          }
        }
        
      }
      .dropdown-child {
        display: none;
        background-color: lightgray;
        min-width: 190px;
    }
    .dropdown-child a {
        color: black;
        border-bottom: 1px black solid;
        height: 25px;
        text-decoration: none;
        display: block;
        i{
          transform: scale(1.2);
        }
        &:hover{
          background-color: #189691;
        }
    }

    .editMode:hover .dropdown-child {
        display: block;
        position: absolute;
        z-index: 999;
        left: 5px;
    }
    }
  }

  li {
    cursor: pointer;
    list-style: none;
    background: #ffffff;
    @media screen and (max-width: 1078px) {
      border-top: 1px solid #189691;
      border-bottom: 1px solid #189691;
    }

    // @media only screen and (max-height: 700px) {
    //   max-height: 300px;
    //   overflow-y: auto;
    // }
    // @media only screen and (max-height: 1000px) {
    //   max-height: 700px;
    //   overflow-y: auto;
    // }
    // @media only screen and (max-height: 1200px) {
    //   max-height: 900px;
    //   overflow-y: auto;
    // }
    // @media only screen and (max-height: 1400px) {
    //   max-height: 1100px;
    //   overflow-y: auto;
    // }

    a {
      display: block;
      color: #000000 !important;
      font-size: 12px;
      padding: 2px 0px 2px 5px;
      font-size: 14px;
      font-weight: bold;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap; //Mozilla
      white-space: -o-pre-wrap; //Opera
      word-wrap: break-word; //Internet Explorer 6+
  //    border-bottom: 1px black solid;
    }
  }

  li.active{
    &2, &3,&4,&5{
      background: #189691; // lightgray
      border-right: #000000 2px solid;
      color: #fff;
      padding-left: 5px;

    }
    background: #189691; // lightgray
    border-right: #000000 2px solid;
    color: #fff;
    padding-left: 5px;
  }

  .active > ul {
    display: block !important;
    position: absolute;
    top: -2px;
    left: 271px;
    @media screen and (max-width: 1078px) {
      position: static;
      width: 100%;
    }
  }
  .active2 > ul {
    display: block !important;
    position: absolute;
    top: -2px;
    left: 267px;
    @media screen and (max-width: 1078px) {
      position: static;
      width: 100%;
    }
  }
  .active3 > ul {
    display: block !important;
    position: absolute;
    top: -2px;
    left: 265px;
    @media screen and (max-width: 1078px) {
      position: static;
      width: 100%;
    }
    
  }
  .active4 > ul {
    display: block !important;
    position: absolute;
    top: -2px;
    left: 261px;
    @media screen and (max-width: 1078px) {
      position: static;
      width: 100%;
    }
  }
  .active5 > ul {
    display: block !important;
    position: absolute;
    top: -2px;
    left: 272px;
    @media screen and (max-width: 1078px) {
      position: static;
      width: 100%;
    }
  }


  .hidden{
    visibility: hidden
  }
}

.fill-cat{
  margin-left: auto;
  margin-right: 5px;
}

.scrollHeight{
  width: 100%;
  height: auto;
//   @media only screen and (min-height: 400px) and (max-height: 700px) {
//     max-height: 330px;
//     overflow-y: auto;
//   }
//   @media only screen and (min-height: 700px) and (max-height: 1000px) {
//     max-height: 500px;
//     overflow-y: auto;
//   }
//   @media only screen and (min-height: 1000px) {
//     max-height: 600px;
//     overflow-y: auto;
//   }
 }