<div id="catArea" class="scrollHeight">
  {{onRedraw()}}
  <ul class="nav flex-column flex-nowrap left-menu">
    <h5 class="pl-2">{{local.getTranslate("te_advertPageContainerSwitch","Выберите раздел каталога")}} <i  *ngIf="editMode"class="fa fa-plus ml-2" style="cursor: pointer;" (click)="modifyCat(1,{},10)" aria-hidden="true"></i><img *ngIf="(isCategoriesLoaded | async)" [src]="loadingImage" /> </h5> 
    <ul id="first-menu">
      <li class="nav-item" *ngFor="let l1 of _categories let x = index" (click)="select(0, l1, $event);" [ngClass]="{active: (isSelected(0, l1) && !copyModeCatalog)}">
        <a><app-checkbox [isArrow]="checkArrow(l1)" *ngIf="subscribeMode && !copyModeCatalog || (copyModeCatalog)" [showAllCheckbox]="copyModeCatalog" (status)="subscribeResult($event)" [copy]="copy" [isChecked]="l1.isrequest" [catalogData]="l1"></app-checkbox>{{limiter(l1.txt)}}</a>
        <fill-checkbox class="fill-cat" *ngIf="(copyModeCatalog)" [isChecked]="l1.isrequest" [catalogData]="l1"></fill-checkbox>
        <div *ngIf="editMode && !isSelected(0, l1)" class="editMode">
          <div class="dropdown-child">
            <a (click)="modifyCat(1,l1,0)">{{local.getTranslate("add_subsection","Добавить подраздел")}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
            <a (click)="modifyCat(2,l1,0)">{{local.getTranslate("rename_section","Переименовать")}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
            <a (click)="modifyCat(3,l1,0)">{{local.getTranslate("delete_section","Удалить раздел")}} <i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
          <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
        </div> 
        <ul id="dd1" [ngClass]="{'hidden': l1.listInnerCat.length == 0}" *ngIf="isShowSubitems(0, l1) && !copyModeCatalog">
          <li class="nav-item" *ngFor="let l2 of l1.listInnerCat let y = index" (click)="select(1, l2, $event);" [ngClass]="{active2: isSelected(1, l2)}">
            <a><app-checkbox [isArrow]="checkArrow(l2)" *ngIf="subscribeMode" [copy]="copy" (status)="subscribeResult($event)" [isChecked]="l2.isrequest" [catalogData]="l2"></app-checkbox>{{limiter(l2.txt)}}</a>
            <div *ngIf="editMode && !isSelected(1, l2)" class="editMode">
              <div class="dropdown-child">
                <a (click)="modifyCat(1,l2)">{{local.getTranslate("add_subsection","Добавить подраздел")}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                <a (click)="modifyCat(2,l2)">{{local.getTranslate("rename_section","Переименовать")}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                <a (click)="modifyCat(3,l2)">{{local.getTranslate("delete_section","Удалить раздел")}} <i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
              <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
            </div> 

            <ul id="dd2" [ngClass]="{'hidden': l2.listInnerCat.length == 0}" *ngIf="isShowSubitems(1, l2)">
              <li class="nav-item" *ngFor="let l3 of l2.listInnerCat let z = index" (click)="select(2, l3, $event);" [ngClass]="{active3: isSelected(2, l3)}">
                <a><app-checkbox [isArrow]="checkArrow(l3)" *ngIf="subscribeMode" [copy]="copy" (status)="subscribeResult($event)" [isChecked]="l3.isrequest" [catalogData]="l3"></app-checkbox>{{limiter(l3.txt)}}</a>
                <div *ngIf="editMode && !isSelected(2, l3)" class="editMode">
                  <div class="dropdown-child">
                    <a (click)="modifyCat(1,l3,2)">{{local.getTranslate("add_subsection","Добавить подраздел")}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                    <a (click)="modifyCat(2,l3,2)">{{local.getTranslate("rename_section","Переименовать")}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                    <a (click)="modifyCat(3,l3,2)">{{local.getTranslate("delete_section","Удалить раздел")}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                  <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                </div> 

                <ul id="dd3" [ngClass]="{'hidden': l3.listInnerCat.length == 0}" *ngIf="isShowSubitems(2, l3)">
                  <li class="nav-item" *ngFor="let l4 of l3.listInnerCat let q = index" (click)="select(3, l4, $event);" [ngClass]="{active4: isSelected(3, l4)}">
                    <a><app-checkbox [isArrow]="checkArrow(l4)" *ngIf="subscribeMode" [copy]="copy" (status)="subscribeResult($event)" [isChecked]="l4.isrequest" [catalogData]="l4"></app-checkbox>{{limiter(l4.txt)}}</a>
                    <div *ngIf="editMode && !isSelected(3, l4)" class="editMode">
                      <div class="dropdown-child">
                        <a (click)="modifyCat(1,l4,3)">{{local.getTranslate("add_subsection","Добавить подраздел")}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                        <a (click)="modifyCat(2,l4,3)">{{local.getTranslate("rename_section","Переименовать")}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                        <a (click)="modifyCat(3,l4,3)">{{local.getTranslate("delete_section","Удалить раздел")}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                      </div>
                      <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                    </div> 

                    <ul id="dd4" [ngClass]="{'hidden': l4.listInnerCat.length == 0}" *ngIf="isShowSubitems(3, l4)">
                      <li class="nav-item" *ngFor="let l5 of l4.listInnerCat let w = index" (click)="select(4, l5, $event);" [ngClass]="{active5: isSelected(4, l5)}">
                        <a><app-checkbox [isArrow]="checkArrow(l5)" *ngIf="subscribeMode" [copy]="copy" (status)="subscribeResult($event)" [isChecked]="l5.isrequest" [catalogData]="l5"></app-checkbox>{{limiter(l5.txt)}}</a>
                        <div *ngIf="editMode && !isSelected(4, l5)" class="editMode">
                          <div class="dropdown-child">
                            <a (click)="modifyCat(1,l5,4)">{{local.getTranslate("rename_section","Переименовать")}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                            <a (click)="modifyCat(3,l5,4)">{{local.getTranslate("delete_section","Удалить раздел")}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                          </div>
                          <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                        </div> 
                      </li>
                    </ul>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </li>
      <!-- <li *ngIf="shared.isAdmin" (click)="editCat()" class="nav-item" style="font-weight: bold; padding-left: 5px">{{local.getTranslate("edit-cat-control","Создать раздел")}}</li> -->
    </ul>
    <ul style="background-color: white; padding-left: 7px; color: red; font-weight: bold;"  *ngIf="_categories.length == 0 && loaded">
      {{local.getTranslate("sections_not_found","Разделы не найдены")}}
    </ul>
  </ul>
</div>
