<div class="search">
  <div style="margin-right: 7px" class="ng-autocomplete">
    <div style="display: flex; flex-direction: row;">
      <input #menu [ngStyle]="{'visibility': isSearchOpen ?  'visible'  : 'hidden','border': isKeywordVal ? '2px #189691 solid': '1px solid #ced4da'}" class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="keyword" placeholder="{{local.getTranslate('search_by','Поиск по сайту')}}" (keyup.enter)="openResults()">
      <!-- <ng-autocomplete 
      [data]="data"
      [searchKeyword]="keyword"
      [customFilter]="customFilter"
      [minQueryLength]="3"
      placeholder="Поиск по сайту"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      [debounceTime]="1"
      (keyup.enter)="openResults()"
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete> -->
      <div class="ml-2 search-button mobile-view">
        <img *ngIf="loading" [src]="loadingImage" style="height: 15px;" alt="">
        <i [ngStyle]="{'visibility': !loading ?  'visible'  : 'hidden'}" #searcher [style.color] ="true ? 'rgba(0,0,0,.47)' : 'rgba(0,0,0,.17)'"  (click)="$isSearchOpenMobile()" class="fa fa-search icon"></i>
        <!-- desktop-view, .mobile-view -->
      </div>

      <div class="ml-2 search-button desktop-view" (click)="openResults()">
        <img *ngIf="loading" [src]="loadingImage" style="height: 15px;" alt="">
        <i [ngStyle]="{'visibility': !loading ?  'visible'  : 'hidden'}" #searcher [style.color] ="true ? 'rgba(0,0,0,.47)' : 'rgba(0,0,0,.17)'" (mouseover)='$isSearchOpen(true)' class="fa fa-search icon"></i>
        <!-- desktop-view, .mobile-view -->
      </div>
      
    </div>

   
    
    <!-- <ng-template #itemTemplate let-item>
    <a style="text-align: left;" [innerHTML]="item.name"></a>
    </ng-template> -->
    
    <ng-template #notFoundTemplate let-notFound>
    <div>{{local.getTranslate('not_found','ничего не найдено')}}</div>
    </ng-template>
    </div>
</div>