.search{
    color: #179590;
    font-size: 18px;

    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        select:focus,
        textarea:focus,
        input:focus {
          font-size: 16px;
          background: #eee;
        }
    }

      
    input{
        padding-left: 5px; 
        max-width: 160px;
        width: 0px;
       // height: 30px;
        @media screen and (max-width: 600px) {
            max-width: 130px;
            padding-left: 5px; 
            margin-left: 0px !important;
        }
        @media screen and (max-width: 1124px) {
            font-size: 10px;
            height: 30px;
        }
    }
    .search-button {
        cursor: pointer;
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        outline: 0;
       // background-color: #fff;
        color: rgba(0,0,0,.87);
     //   width: 30px;
        padding: 10px 5px 0px 0px;
        @media screen and (max-width: 1124px) {
            padding: 5px 0px 0px 0px;
        }
        i{
            transform: scale(1.5);
        }
    }
}