<div class="modal_window">
    <i (click)="dialogRef.close(false)" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal_inner">
    <h2>{{local.getTranslate("login_for_reg","Вход для зарегистрированных пользователей")}}</h2>
    <div class="showSpinner" *ngIf="showSpinner">
    <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="showMessage" *ngIf="message.text">            
        <div class="alert alert-{{message.type}}">            
            {{ message.text }}
        </div>
    </div>    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">    
        <div  
            class="form-group"
            [ngClass]="{'has-error': form.get('userName').invalid &&  form.get('userName').touched}"
        >
            <input 
                type="text" 
                placeholder='{{local.getTranslate("te_Mobile4SMSAlerts","Моб.номер:")}}'
                id="email"
                formControlName="userName"
            >
            <span 
                class="form-help-text"
                *ngIf="form.get('userName').invalid &&  form.get('userName').touched"
            >
                <span *ngIf="form.get('userName')['errors']['required']">
                    {{local.getTranslate("inter_mobile","Введите номер телефона")}}
                </span>                        
            </span>
        </div>
        <div  
            class="form-group"
            [ngClass]="{'has-error': form.get('password').invalid &&  form.get('password').touched}"
        >
            <input 
                type="text" 
                placeholder="{{local.getTranslate('jus_passwd','Пароль:')}}"
                id="password"
                formControlName="password"
            >
            <span 
                class="form-help-text"
                *ngIf="form.get('password').invalid && form.get('password').touched"
            >
                <span *ngIf="form.get('password')['errors']['required']">
                    {{local.getTranslate('inter_ur_passwd','Заполните пароль')}}
                </span>                        
            </span>
        </div>                
        <div class="form-group">
            <button 
                class="btn btn-block btn-primary"
                type="submit"
                [disabled]="form.invalid || form.disabled"
            >
            {{local.getTranslate('ti_Page','Войти')}}
            </button>
        </div>
        <div class="form-group">
            <a (click)="recovery()">{{local.getTranslate("li_ForgotPassword","Забыли пароль")}}</a>
        </div> 
        <div class="form-group">
            <a (click)="register()">{{local.getTranslate("te_Register","Зарегистрироваться")}}</a>
        </div>    
    </form>   
</div>
</div>
