.showRecorder {
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px 14px;
}
section {
    display: flex;
    justify-content: center;
    .creation {
        display: flex;
        align-items: center;
        //position: absolute;
        justify-content: center;
        height: 50px;
        background: #f0f1f3;
        //  padding: 5px 0px 5px 20px;
        padding: 5px;
        box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 10px;
        width: auto;
        margin: 5px auto;
        div {
            display: flex;
            justify-content: center;
        }
        button {
            background: none; // убираем фон
            border: none; // убирает бордер
            box-shadow: none; // убираем тень, если есть
            color: #fff; // текст шрифта белый
            cursor: pointer;
            img {
                width: 40px;
            }
        }
        button:focus {
            outline: none;
        }
        .delete {
            button {
                &:after {
                    content: url(../../../assets/images/delete.svg);
                }
            }
        }
        .menu {
            button {
                background: #bbc9d1;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    background: #fff;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .voice {
            border-radius: 50%;
            button {
                height: 40px;
                img {
                    border-radius: 50%;
                }
                // &:after{
                //   content: url(../../../../assets/img/voice.svg);
                // }
            }
        }
        .copy-link {
            position: relative;
            bottom: 5px;
            display: flex;
            flex-direction: column;
            left: 25px;
            //  width: 20px;
            height: 20px;
            img {
                margin-top: 3px;
                height: inherit;
                cursor: pointer;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.copy-link2 {
    // position: relative;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 25px;
    //width: 60px;
    padding-top: 18px;
    margin-right: 10px;
    height: 35px;
    img {
        margin-right: 5px;
        height: inherit;
        cursor: pointer;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}

.creation2 {
    display: flex;
    align-items: center;
    // background: #F0F1F3;
    // padding: 5px;
    //  padding: 11px 15px 2px;
    // box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);
    // border-radius: 10px;
    // margin-bottom: 10px;
    // max-width: 170px;
    // min-width: 170px;
    width: 25px;
    margin: 0 3px;
    div {
        display: flex;
        justify-content: center;
    }
    button {
        background: none; // убираем фон
        border: none; // убирает бордер
        box-shadow: none; // убираем тень, если есть
        color: #fff; // текст шрифта белый
        cursor: pointer;
        img {
            width: 25px;
        }
    }
    button:focus {
        outline: none;
    }
    .delete {
        button {
            &:after {
                content: url(../../../assets/images/delete.svg);
            }
        }
    }
    .menu {
        button {
            background: #bbc9d1;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: #fff;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .voice {
        border-radius: 50%;
        button {
            height: 25px;
            img {
                border-radius: 50%;
            }
            // &:after{
            //   content: url(../../../../assets/img/voice.svg);
            // }
        }
    }
}
