<section>
    <!-- [ngStyle]="{'max-width': hasDownload ? '180px' : '150px'}" -->
    <div *ngIf="!short && shared.isAdmin" class="copy-link2">
        <img (click)="copy()" src="assets/images/cplink.png" alt="copy link" />
        <img *ngIf="!isAudioDownloading" (click)="download()" src="assets/images/download.jpeg" alt="download audio" />
        <img *ngIf="isAudioDownloading" src="assets/images/loadSpinner.gif" alt="download process" />
    </div>
    <div *ngIf="!errorLoading && !short" class="creation" [ngStyle]="{ 'background-color': color }">
        <div class="btn1 menu">
            <button type="button" class="menuButton" id="playAudioBtn" *ngIf="!vocal_playing" (click)="playAudio()">
                <img src="assets/images/play1.svg" />
            </button>
            <button type="button" class="menuButton" *ngIf="vocal_playing" (click)="pauseAudio()">
                <img style="border: 3px transparent solid; border-radius: 40px" src="assets/images/pause.svg" />
            </button>
        </div>
        
            <button style="margin-left: 7px" type="button" (click)="stopAudio()">
                <img src="assets/images/stop.svg" />
            </button>
        
        <!-- <div class="btn1 menu">
            <button type="button" class="menuButton" *ngIf="!isRepeat" (click)="switchRepeat()">
                <img src="assets/images/repeat-def.svg" />
            </button>
            <button type="button" class="menuButton" *ngIf="isRepeat" (click)="switchRepeat()">
                <img style="border: 3px transparent solid; border-radius: 40px" src="assets/images/repeat.svg" />
            </button>
        </div> -->
        <div *ngIf="hasDownload" class="btn1 voice">
            <button type="button" class="menuButton" (click)="download()">
                <img src="assets/images/download.jpeg" />
            </button>
        </div>
        <!-- <div [ngStyle]="{'visibility': shared.isAdmin ? 'visible' : 'hidden'}" class="copy-link">
    <img (click)="copy()" src="assets/images/cplink.png" alt="copy link">
    <img *ngIf="!isAudioDownloading" (click)="download()" src="assets/images/download.jpeg" alt="download audio">
    <img *ngIf="isAudioDownloading" src="assets/images/loadSpinner.gif" alt="download process">
  </div> -->
    </div>

</section>

<div *ngIf="!errorLoading && short" class="creation2">
    <div class="col-sm-4 col-4 menu">
        <button type="button" class="menuButton" *ngIf="!vocal_playing" (click)="playAudio()">
            <img src="assets/images/play1.svg" />
        </button>
        <button type="button" class="menuButton" *ngIf="vocal_playing" (click)="stopAudio()">
            <img style="border: 3px transparent solid; border-radius: 40px" src="assets/images/stop.svg" />
        </button>
    </div>
</div>
<div *ngIf="errorLoading" style="display: flex; justify-content: center">
    <img height="23" src="assets/images/no-sound.png" alt="" />
</div>
