<!-- <section class="advertisement">
    
  <div class="container">

    <h3 class="text-center mt-4 mb-5">{{local.getTranslate("bg_control","Управление фоновыми изображениями магазина")}}</h3>
<div class="control-block">
  <div class="row justify-content-md-center">
      <div class="col-lg-12 back mb-2 d-flex flex-column">
          <button routerLink="/cabinet">{{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</button>
          <button routerLink="/">{{local.getTranslate("main_page","главная страница")}}</button>
      </div>
  </div>
  <div class="row contact-info mb-3">
      <div class="col-lg-12 col-xs-12 text-left">
          <div class="contact pt-2 pb-2 pl-2">
              <h5 style="display: none;">{{local.getTranslate("ti_ContactInfo","Контактная информация")}}</h5>
              <div *ngIf="fio" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{fio}}
                  </div>
              </div>
              <div *ngIf="userName" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{ userName }}
                  </div>
              </div>
              <div *ngIf="phone" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{ phone }}
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
<div class="b-container">

  <input style="display: none;"
  type="file"
  name="onFilesMultipleSelectedAdd"
  (change)="fileChangeEvent($event)"
  #filesInputAdd
  accept="image/*"
  [disabled]="false">
  <div *ngIf="!isLimitReached" class="navigation">
    <div *ngIf="!croppedImage" (click)="filesInputAdd.click()" class="select-image">
      <span>{{local.getTranslate("select_bg_img","Выберите фоновое изображение")}}</span>
      <i class="fa fa-upload arrow" aria-hidden="true"></i>
      </div>
      <div *ngIf="croppedImage" (click)="deleteSelectedBackground()" class="select-image">
        <span>{{local.getTranslate("delete_curr_bg","Удалить текущеее изображение")}}</span><i class="fa fa-trash" aria-hidden="true"></i>
      </div>
      <div *ngIf="croppedImage" class="select-image upload-btn ml-4">
        <span (click)="uploadImage()" *ngIf="!isUploading">{{local.getTranslate("upload","Загрузить")}}</span>
        <span *ngIf="isUploading">{{local.getTranslate("uploading","Загружаю")}} <i class="fa fa-spinner fa-spin"></i></span>
      </div>   
  </div>
  <div *ngIf="isLimitReached" class="alert alert-warning" style="font-weight: bold; font-size: 18px;">
    {{local.getTranslate("warn_limit_bg_upload","Вы не можете загружать новые фоновые изображения пока не удалите старые! Лимит изображений")}}: {{limitOfUploadingImages}}.</div>
  <div class="form-group mt-4" [formGroup]="bgConfiguration">
    <span class="configuration_block">
      <div class="label_title">{{local.getTranslate("orientation","Ориентация")}}:</div>
      <select  (change)="changeOrientation()" formControlName="orientation" required placeholder="d.ff" class="form-control col-lg-4 col-xs-4" id="orientationId">
      
        <option *ngFor='let orientation of orientations' [value]="orientation.value">{{orientation.name}}</option>
      </select>
      <div class="label_title ml-1">{{local.getTranslate("location_bg","Расположение")}}:</div>
      <select (change)="changePlace()" formControlName="place" required placeholder="d.ff" class="form-control col-lg-4 col-xs-4" id="orientationId">
       
        <option *ngFor='let place of places' [value]="place.value">{{place.name}}</option>
      </select>
    </span>
  </div> 
  <div *ngIf="croppedImage">
    <p>{{local.getTranslate("select_bg_area","Выберите участок на изображении")}}:</p>
  </div>
  <image-cropper
  *ngIf="currentProportion == 'V'"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4/7.5"
      format="png"
      imageQuality="30"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <image-cropper
  *ngIf="currentProportion == 'H'"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="7/4.5"
      format="png"
      [imageQuality]="30"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
  ></image-cropper>


  <div class="backgrounds-container col-lg-12 col-xs-12">
    <div *ngIf="isUpdating" class="coolSpinner spinLoading"></div>
    <div *ngFor="let item of backgrounds" class="item" [ngClass]="{'loadingBackgrounds' : isUpdating }" [ngStyle]="{'background-image':'url(data:image/png;base64,'+item.image+')','width': getOrientationWidth(item.orientation)}" >
      <div  (click)="delete(item.fileName)" class="close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
  </div>


</section> -->
