.cabinet-user{
    max-width: 250px;
    margin: 0 0 0 29px;
    @media screen and (max-width: 1078px) {
        display: none;
    }
    .dropdown{
        cursor: pointer;
    }
    &__item.dropdown-toggle{
        color: #179590;
        padding: 3px 10px;
        font-weight: 600;
    }
    &__item{
     //   width: 100%;
        border-radius: 0;
    }
    .dropdown.open .dropdown-menu{
        display: block;
        background: #189691;
        border: 2px solid #189691;
        padding: 5px 0;
        span{
            color: #ffffff; 
        }
    }
}
.dropdown-item:focus, .dropdown-item:hover{
    background: none;
}
