<div class="cabinet-user" *ngIf="showUser">
  <div class="dropdown" wfmDropdown>
    <div class="cabinet-user__item dropdown-toggle" role="button" id="dropdownMenu" data-toggle="dropdown">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <!-- <span class="name">
        {{local.getTranslate("hello","Здравствуйте")}}, {{ this.authService.Account.fio }}
      </span> -->
    </div>
    <div class="cabinet-user__item dropdown-menu" aria-labelledby="dropdownMenu">
      <span class="dropdown-item" style="display: flex; flex-direction: column;">
              <!-- <span class="name">
        {{local.getTranslate("hello","Здравствуйте")}}, {{ this.authService.Account.fio }}
      </span> -->
        <span class="item" (click)="manual()">
          <i class="fa fa-book icon"></i>
          Инструкция
        </span>
        <span class="item" (click)="personal()">
          <i class="fa fa-user icon"></i>
          {{local.getTranslate("personal_settings","Личные данные")}}
        </span>
        <span class="item" *ngIf="authService.getUserId() == mainService.getCustId()" (click)="admin()">
          <i class="fa fa-user icon"></i>
          {{local.getTranslate("","Админка")}}
        </span>
        <span (click)="copyAdverts.copyMode = !copyAdverts.copyMode" class="item" *ngIf="authService.getUserId() == mainService.getCustId()">
          <i class="fa fa-copy icon"></i>
          Режим копирования
        </span>
        <span (click)="modifyAdverts.modifyMode = !modifyAdverts.modifyMode" class="item" *ngIf="authService.getUserId() == mainService.getCustId()">
          <i class="fa fa-edit icon"></i>
          Режим редактирования
        </span>
        <div (click)="editCat()" class="exit" *ngIf="authService.getUserId() == mainService.getCustId()">
          <i class="fa fa-archive icon"></i>
          Управление каталогом
        </div>
        <div (click)="copyCat()" class="exit" *ngIf="authService.getUserId() == mainService.getCustId()">
          <i class="fa fa-archive icon"></i>
          Копирование каталога
        </div>
        <div class="exit" (click)="subscribe()">
          <i class="fa fa-envelope-o icon"></i>
          {{local.getTranslate("subscribe","Рассылка")}}
        </div>
        <span class="item" (click)="onLogout()">
          <i class="fa fa-power-off icon"></i>
          {{local.getTranslate("logout","Выйти")}}
        </span>
      </span>
    </div> 
  </div>
</div>
<div class="cabinet-user" *ngIf="!isAuthenticated">
  <div class="dropdown" wfmDropdown>
    <div class="cabinet-user__item dropdown-toggle" role="button" id="dropdownMenu" data-toggle="dropdown">
      <span class="name">
        <i class="fa fa-bars icon"></i>
      </span>
    </div>
    <div class="cabinet-user__item dropdown-menu" aria-labelledby="dropdownMenu">
      <span class="dropdown-item" style="display: flex; flex-direction: column;">
        <span class="item" (click)="manual()">
          <i class="fa fa-book icon"></i>
          Инструкция
        </span>
      </span>
    </div> 
  </div>
</div>