.example-list {
    /* width: 500px; */
    max-width: 75px;
    /* border: solid 1px #ccc; */
    min-height: 5px;
    display: block;
  //  background: white;
    border-radius: 4px;
    overflow: hidden;  
    margin: 0 auto;
  }
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .drag-icon {
    position: relative;
  }
  .drag-icon i {
    cursor: move;
  }
  i.disable{
    position: absolute;
    cursor: not-allowed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
  }
  .example-box {
    /* padding: 20px 10px; */
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .img-item{
      max-height: 100px;
  }

  .drag-content{
      cursor: pointer;
      display: flex;
      align-items: center;
  }

  .drag-index{
      margin-top: 5px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      width: 30px;
      background-color: lightgrey;
      border: 1px darkblue solid;
      border-radius: 5px;
      span{
          color: darkblue;
          font-weight: bold;
      }
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .selecter{
    padding-top: 13px;
  }
  
  /* .example-box:last-child {
    border: none;
  } */
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }