<div class="close-edit-btn" (click)="onNoClick()"><img src="assets/images/close.png" alt=""></div>
<div class="container">
    <div *ngIf="isLoaded">
        <ng-container *ngIf="data; else advNotFound" >
            <base-commodity 
                *ngIf="data"
                [canEditPrice]="canEditPrice" 
                [data]="data"
                (isEditFinished)="$isEditFinished($event)"
            ></base-commodity>
        </ng-container>
        <ng-template #advNotFound>
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-ban"></i> 404</h5>
                {{dictionary.getTranslate('adv_not_found','Обьявление не найдено')}}
              </div>
        </ng-template>
    </div>
</div>



