.close-edit-btn{
    background: black;
    cursor: pointer;
    height: 25px;
    width: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    position: absolute;
    transition: transform .5s ease-in-out;
    z-index: 1;
    &:hover{
        background-color: #6c757d;
        transform: rotate(180deg);
    }
    img{
        height: 15px;
    }
}