
.uploadAudio{
    margin: 0 auto;
    font-weight: bold;
    padding: 3px 14px;
}
.audio{
  //  position: relative;
  display: flex;
  position: relative;
  margin-bottom: 10px;
    .center-block{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly; 
        border-radius: 10px;
        height: 62%;
        max-width: 390px;
        transition: 0.4s;
        cursor: pointer;
        overflow: hidden;
        .files-to-upload{
            display: inline-flex;
            align-self: flex-start;
            justify-self: flex-start;
            margin: 0 auto;
            color: blue;
            height: 90%;
            p{
                margin: 0 auto;
            }
        }
    
        .close{
            top: 1.5px;
            width: 30px;
            height: 20px;
            z-index: 1000;
            position: relative;
            right: 20%;
        }
        mat-progress-bar{
            width: 85%;
        }
        .first-block{
            padding: 5px 12px;
            background-color: rgba(24, 150, 145, 0.32);
            border-radius: 10px;
        }
        .recorder{
            padding: 5px 12px;
        }
    }
    
    .center-block:hover{
    
        .first-block {
    
            i {
                color: blue;
            }
        }
    }
}
