<div *ngIf="audio == null || audio == ''" class="audio">
    <div class="uploadAudio center-block">
        <input #fileUpload 
                type="file" 
                accept=".m4a,.mp3,.ogg,audio/*;capture=microphone" 
                (click)="fileUpload.value = null"
                (change)="handleFileInput($event.target.files)" 
                style="display:none"
                id="audio"
        >
        <div *ngIf="fileToUpload != null" class="files-to-upload">
            <p>{{fileToUpload.name}}</p>
        </div>
        <div (click)="fileUpload.click()" class="first-block" *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder">
            <span class="signature">{{local.getTranslate("upload_audio","загрузить аудиозапись")}}</span>
        </div>
            <span *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder">
                {{local.getTranslate("or","или")}}
            </span>
        <div (click)="showHideRecorder()" class="first-block" *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder">
            <span class="signature">{{local.getTranslate("record_audio","записать аудиозапись")}}</span>
        </div>
        <div class="recorder" *ngIf="showRecorder">
            <app-voice-recorder (getRecord)="audioRecord($event)"></app-voice-recorder>
            <span style="border: 1px green solid; border-radius: 45px; padding: 2px 6px;" (click)="showHideRecorder(1)">X</span>
        </div>
  </div>
  <div *ngIf="fileToUpload != null" class="close">
    <i (click)="clear()" class="fa fa-trash"></i>
</div>
  </div>
  <div class="row justify-content-center">
    <audio-player *ngIf="audio" [autoPlay]="false" [file]="audio"></audio-player>
    <div *ngIf="audio" style="border: 1px green solid; border-radius: 40px; cursor: pointer; margin-left: 10px; padding: 0px 0px 6px 5px; width: 25px; height: 25px;" (click)="deleteAudio()">
    <i class="fa fa-trash"></i>
    </div>
</div>
