<div class="modal_window">
    <i (click)="dialogRef.close(false)" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal_inner">
        <h2>{{ local.getTranslate("rec_pass", "Восстановление пароля") }}</h2>
        <div class="showSpinner" *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="showMessage" *ngIf="show">
            <div class="alert alert-{{ message.type }}">
                {{ message.text }}
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div
                class="form-group"
                [ngClass]="{ 'has-error': form.controls['phone'].invalid && form.controls['phone'].touched }"
            >
                <input
                    type="text"
                    placeholder="{{ local.getTranslate('te_Mobile4SMSAlerts', 'Моб.номер:') }}"
                    id="phone"
                    formControlName="phone"
                />
                <span class="error-msg" *ngIf="form.controls['phone'].errors && form.controls['phone'].touched">
                    <span *ngIf="form.controls['phone'].errors.required">
                        {{ local.getTranslate("inter_mobile", "Введите номер телефона") }}
                    </span>
                    <span *ngIf="form.controls['phone'].errors.pattern">
                        {{ local.getTranslate("inter_correct_number", "Введите корректный номер телефона") }}
                    </span>
                </span>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid || form.disabled">
                    {{ local.getTranslate("recovery_data", "Восстановить") }}
                </button>
            </div>
        </form>
    </div>
</div>
