<div *ngIf="progressStatus.size" class="mb-2">
    <div class="progress">
        <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ 100 }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: 100 + '%' }"
        >
            загрузка
        </div>
    </div>
</div>
<!-- <div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.value + '%' }"
      >
        {{ progressInfo.value }}%
      </div>
    </div>
  </div> -->

<input
    style="display: none"
    [multiple]="!singleMode"
    type="file"
    (change)="selectFiles($event)"
    #fileInput
    accept="image/*"
/>
<button
    *ngIf="(singleMode && fileInfos.length == 0) || !singleMode"
    type="button"
    (click)="fileInput.click()"
    style="border-radius: 5px; margin-bottom: 10px"
    class="btn btn-info btn-block btn-flat"
>
    <i class="fa fa-upload"></i>
    {{ dictionary.getTranslate("upload_photo", "загрузить фото") }}
</button>
<ng-container *ngIf="env.shopDetails.isMakeAdvFromExtPict">
    <div style="margin: 10px 0" *ngIf="fileInfos.length && isEditMode && !singleMode">
        <button
            type="button"
            (click)="makeAdvert()"
            style="border-radius: 5px; margin-bottom: 10px"
            class="btn btn-info btn-block btn-flat"
        >
            {{ dictionary.getTranslate("create-img-adv", "Создать объявления") }}
        </button>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" (click)="selectUnselectAll()" type="button">
                {{ dictionary.getTranslate("select-all", "Выбрать все") }}
            </button>
            <button style="margin-left: 7px" class="btn btn-secondary" (click)="selectUnselectAll(false)" type="button">
                {{ dictionary.getTranslate("reset", "Сброс") }}
            </button>
        </div>
    </div>
</ng-container>

<!-- <button *ngIf="!singleMode && isEditMode && file.t_image" mat-icon-button>
      <input style="display: none;" [multiple]="!singleMode" type="file" (change)="updateAdditImage($event,i)" #fileInput accept="image/*">
      <i class="material-icons" type="file" (click)="fileInput.click()" >edit_outline</i>
    </button> -->

<div *ngIf="message" class="alert alert-light" role="alert">{{ message }}</div>
<div *ngIf="isEditMode && !singleMode" [formGroup]="imgForm">
    <div formArrayName="images" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let file of fileInfos; index as i" cdkDrag>
            <ng-container [formGroupName]="i">
                <div cdkDragHandle class="w-100 drag-content mr-1">
                    <input
                        style="display: none"
                        [multiple]="false"
                        type="file"
                        (change)="updateAdditImage($event, i)"
                        #fileInput
                        accept="image/*"
                    />
                    <ng-container *ngIf="!singleMode && isEditMode && file.t_image; else notEdittable">
                        <img
                            (click)="fileInput.click()"
                            class="img-item img-thumbnail"
                            src="https://{{ file.link }}"
                            alt=""
                        />
                    </ng-container>
                    <ng-template #notEdittable>
                        <img class="img-item img-thumbnail" src="https://{{ file.link }}" alt="" />
                    </ng-template>
                </div>

                <div *ngIf="env.shopDetails.isMakeAdvFromExtPict" style="margin: 0 5px">
                    <input type="checkbox" formControlName="checked" />
                </div>
                <div cdkDragHandle *ngIf="!singleMode" class="w-10 drag-index">
                    <span>{{ i + 1 }}</span>
                </div>
                <!-- <div matTooltip="Главная картинка" class="w-10 selecter">
            <mat-checkbox [checked]="file.isMain" (change)="setMainImg(i)"></mat-checkbox>  
        </div> -->
                <div cdkDragHandle class="w-10 delete-icon">
                    <!-- <button *ngIf="!singleMode && audioAttach" (click)="attachAudio(i,file.audio)" mat-icon-button>
            <i *ngIf="!file.audio" class="fas fa-music"></i>
            <i *ngIf="file.audio" class="fas fa-headphones"></i>
          </button> -->
                    <button *ngIf="!singleMode && audioAttach" (click)="attachVideo(i, file.video)" mat-icon-button>
                        <img *ngIf="!file.video" src="assets/images/video-camera.svg" alt="video" class="src" />
                        <img *ngIf="file.video" src="assets/images/video-camera-green.svg" alt="video" class="src" />
                        <!-- <i *ngIf="!file.video" class="fas fa-video"></i>
                        <i *ngIf="file.video" style="color: green" class="fas fa-video"></i> -->
                    </button>
                    <button *ngIf="!singleMode || (singleMode && !isEditMode)" mat-icon-button>
                        <img
                            height="25px"
                            (click)="delete(i)"
                            src="assets/images/delete-new.svg"
                            alt="delete"
                            class="src"
                        />
                    </button>
                    <button *ngIf="singleMode && isEditMode" mat-icon-button>
                        <input
                            style="display: none"
                            [multiple]="!singleMode"
                            type="file"
                            (change)="selectFiles($event, i)"
                            #fileInput
                            accept="image/*"
                        />
                        <i class="material-icons" type="file" (click)="fileInput.click()">edit_outline</i>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="!isEditMode || singleMode" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let file of fileInfos; index as i" cdkDrag>
        <div cdkDragHandle class="w-100 drag-content mr-1">
            <input
                style="display: none"
                [multiple]="false"
                type="file"
                (change)="updateAdditImage($event, i)"
                #fileInput
                accept="image/*"
            />
            <ng-container *ngIf="!singleMode && isEditMode && file.t_image; else notEdittable">
                <img (click)="fileInput.click()" class="img-item img-thumbnail" src="https://{{ file.link }}" alt="" />
            </ng-container>
            <ng-template #notEdittable>
                <img class="img-item img-thumbnail" src="https://{{ file.link }}" alt="" />
            </ng-template>
        </div>

        <div cdkDragHandle *ngIf="!singleMode" class="w-10 drag-index">
            <span>{{ i + 1 }}</span>
        </div>
        <!-- <div matTooltip="Главная картинка" class="w-10 selecter">
            <mat-checkbox [checked]="file.isMain" (change)="setMainImg(i)"></mat-checkbox>  
        </div> -->
        <div cdkDragHandle class="w-10 delete-icon">
            <!-- <button *ngIf="!singleMode && audioAttach" (click)="attachAudio(i,file.audio)" mat-icon-button>
            <i *ngIf="!file.audio" class="fas fa-music"></i>
            <i *ngIf="file.audio" class="fas fa-headphones"></i>
          </button> -->
            <button *ngIf="!singleMode && audioAttach" (click)="attachVideo(i, file.video)" mat-icon-button>
                <img *ngIf="!file.video" src="assets/images/video-camera.svg" alt="video" class="src" />
                <img *ngIf="file.video" src="assets/images/video-camera-green.svg" alt="video" class="src" />
                <!-- <i *ngIf="!file.video" class="fas fa-video"></i>
                <i *ngIf="file.video" style="color: green" class="fas fa-video"></i> -->
            </button>
            <button *ngIf="!singleMode || (singleMode && !isEditMode)" mat-icon-button>
                <img height="25px" (click)="delete(i)" src="assets/images/delete-new.svg" alt="delete" class="src" />
            </button>
            <button *ngIf="singleMode && isEditMode" mat-icon-button>
                <input
                    style="display: none"
                    [multiple]="!singleMode"
                    type="file"
                    (change)="selectFiles($event, i)"
                    #fileInput
                    accept="image/*"
                />
                <i class="material-icons" type="file" (click)="fileInput.click()">edit_outline</i>
            </button>
        </div>
    </div>
</div>
