<section class="advertisement">
    <div class="container">
        <div class="showSpinner" *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <h3 class="text-center mt-4 mb-4">
            {{
                copiedAdvId != null
                    ? local.getTranslate("copy_advert", "Копирование обьявление")
                    : local.getTranslate("add_advert", "Разместить обьявление")
            }}
        </h3>
        <div class="control-block">
            <div class="nav-buttons">
                <!-- <button routerLink="/cabinet">{{ local.getTranslate("personal_cabinet", "В Личный Кабинет") }}</button>
                <button routerLink="/">{{ local.getTranslate("main_page", "главная страница") }}</button> -->
                <button (click)="manual()">{{ local.getTranslate("manual", "Инструкция") }}</button>
            </div>
        </div>
        <ng-container>
            <div *ngIf="categories.length == 0" class="categories">
                <app-categories
                    *ngIf="!refreshCat"
                    (lastChildAction)="categorySelect($event)"
                    [initialCategories]="initialCategories"
                    [categories]="categoriesService.mainCategories$ | async"
                ></app-categories>
            </div>
            <div class="categories-mobile">
                <app-mobile-categories
                    (lastChildAction)="categorySelect($event)"
                    [initialCategories]="initialCategories.slice(0, 1)"
                    [categories]="
                        (isCabinet() ? categoriesService.userCategories$ : categoriesService.mainCategories$) | async
                    "
                ></app-mobile-categories>
            </div>
        </ng-container>

        <div *ngIf="categories.length != 0" class="row justify-content-md-center choosed categories">
            <div class="col-lg-8 col-xs-12 no-padding">
                {{ local.getTranslate("selected_dep", "Вы выбрали раздел") }}
                <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>
            </div>
        </div>
        <div class="row justify-content-md-center choosed">
            <div class="col-lg-8 col-xs-12 no-padding"></div>
        </div>

        <div class="showMessage" *ngIf="message.text">
            <div class="alert alert-{{ message.type }}">
                <span style="font-weight: bold; font-size: 20px">{{ message.text }}</span>
                <img *ngIf="message.spinner" height="23px" [src]="loadingMini" alt="" />
            </div>
        </div>
        <!-- <div (click)="doCopy()"  *ngIf="isAdmin && !isCopyDone && !showSpinner && copiedAdvId"  class="copyPhoto">
        <span>скопировать  медиа с обьявления</span>
    </div> -->
        <div id="form" class="form">
            <form [formGroup]="form">
                <div class="form-group" style="display: none">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("naimen_categ", "Наименование категории") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" id="Categories" formControlName="Categories" />
                        </div>
                    </div>
                </div>

                <div
                    class="form-group"
                    [ngClass]="{ 'has-error': form.get('TName').invalid && form.get('TName').touched }"
                >
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("naimen_tov", "Наименование товара, услуги") }} *</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" id="TName" formControlName="TName" />
                            </div>

                            <span class="form-help-text" *ngIf="form.get('TName').invalid && form.get('TName').touched">
                                <span *ngIf="form.get('TName')['errors']['required']">
                                    {{ local.getTranslate("sl_naimen_tov", "Заполните наименование товара, услуги") }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("main_image", "Основная фотография") }}</label>
                        </div>
                        <div class="col-lg-5 upload-main">
                            <input
                                style="display: none"
                                type="file"
                                id="TImageprev"
                                formControlName="TImageprev"
                                (change)="mainFileSelected($event)"
                                #fileInput
                                accept="image/*"
                            />
                            <div class="upload btn-file" (click)="fileInput.click()">
                                <img id="img" [src]="mainImageData.src" style="width: 100px; height: 70px" alt="" />
                                <i *ngIf="!mainImageData.src" class="fa fa-upload arrow" aria-hidden="true"></i>
                            </div>
                            <i
                                style="display: none"
                                #mainResizer
                                id="rotate_{{ mainImageData.name }}"
                                class="fa fa-times fa-repeat repeater"
                            ></i>
                            <progress
                                class="aprogress"
                                #mainImage
                                [id]="mainImageData.name"
                                value="0"
                                max="100"
                            ></progress>
                            <span
                                class="form-help-text"
                                *ngIf="form.get('TImageprev').invalid && form.get('TImageprev').touched"
                            >
                                <span *ngIf="form.get('TImageprev')['errors']['required']">
                                    {{ local.getTranslate("sl_main_image", "Выберите основное фото") }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3 col-xs-12">
                            <label>{{ local.getTranslate("addit_images", "Доп. фотографии") }}</label>
                            <!-- <div (click)="doCopyOfImages()" *ngIf="isAdmin && !isCopyDone && !showSpinner && copiedAdvId && copiedAdvert?.additionalImages != null && copiedAdvert?.additionalImages.length != 0" class="copyPhoto">
                            <span>скопировать с обьявления ({{copiedAdvert.additionalImages.length}} шт)</span>
                        </div>  -->
                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <div class="upload-images">
                                <input
                                    style="display: none"
                                    type="file"
                                    id="selectAddImg"
                                    name="onFilesMultipleSelectedAdd"
                                    (change)="additionalImagesAdd($event)"
                                    #filesInputAdd
                                    multiple="multiple"
                                    accept="image/*"
                                    [disabled]="isDisabled"
                                />

                                <div *ngFor="let image of additionalImagesData; let i = index">
                                    <input
                                        style="display: none"
                                        type="file"
                                        name="onFilesMultipleSelected"
                                        (change)="additionalImagesChange($event, i)"
                                        #filesInput
                                        accept="image/*"
                                    />
                                    <div class="upload_image_container">
                                        <img
                                            (click)="filesInput.click()"
                                            alt=""
                                            [src]="image.src"
                                            id="addIm{{ i }}"
                                            class="uploadImage"
                                        />
                                        <progress class="aprogress" [id]="image.name" value="0" max="100"></progress>
                                        <i
                                            class="fa fa-times delete"
                                            (click)="removeAdditionalImage(i)"
                                            aria-hidden="true"
                                        ></i>
                                        <i
                                            class="fa fa-times fa-repeat repeat"
                                            style="display: none"
                                            id="rotate_{{ image.name }}"
                                            (click)="redraw(image, 90, i)"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                                <i
                                    *ngIf="additionalImagesData.length < additionalImageLimit - 1"
                                    class="fa fa-upload arrow"
                                    aria-hidden="true"
                                    (click)="filesInputAdd.click()"
                                    [ngClass]="{ disabled: isDisabled }"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("descr_adv", "Описание товара, услуги") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <textarea
                                    type="textarea"
                                    class="form-control"
                                    id="TDescription"
                                    style="padding: 3px 7px"
                                    formControlName="TDescription"
                                >
                                </textarea>
                            </div>
                            <span
                                class="form-help-text"
                                *ngIf="form.get('TDescription').invalid && form.get('TDescription').touched"
                            >
                                <span *ngIf="form.get('TDescription')['errors']['required']">
                                    {{ local.getTranslate("add_descr_adv", "Заполните описание товара, услуги") }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("el_price", "Цена Розничная") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="TCost" formControlName="TCost" />
                            </div>
                            <span class="form-help-text" *ngIf="form.get('TCost').invalid && form.get('TCost').touched">
                                <span *ngIf="form.get('TCost')['errors']['required']">
                                    {{ local.getTranslate("select_price", "Укажите стоимость") }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col col-lg-4 mb-3 hover_btn">
                        <button
                            class="btn btn-block btn-primary"
                            style="visibility: hidden"
                            [disabled]="showSpinner || message.spinner || !form.enabled"
                        >
                            <span>{{ local.getTranslate("add_adv", "Подать объявление") }}</span>
                        </button>
                        <button
                            (click)="submit()"
                            #submitButton
                            class="btn btn-block btn-primary"
                            [disabled]="showSpinner || message.spinner || !form.enabled"
                        >
                            <span>{{ local.getTranslate("add_adv", "Подать объявление") }}</span>
                        </button>
                    </div>
                </div>

                <div class="row other_fields">
                    <div class="col-lg-4">
                        <p>{{ local.getTranslate("not_important_v", "Необязательные поля") }}</p>
                    </div>
                </div>
                <div class="audio">
                    <div class="uploadAudio center-block">
                        <input
                            #fileUpload
                            type="file"
                            accept=".m4a,.mp3,.ogg,audio/*;capture=microphone"
                            (click)="fileUpload.value = null"
                            (change)="handleFileInput($event.target.files)"
                            style="display: none"
                            id="audio"
                        />
                        <div *ngIf="fileToUpload != null" class="files-to-upload">
                            <p>{{ fileToUpload.name }}</p>
                        </div>
                        <div
                            (click)="fileUpload.click()"
                            class="first-block"
                            *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder"
                        >
                            <span class="signature">
                                {{ local.getTranslate("upload_audio", "загрузить аудиозапись") }}
                            </span>
                        </div>
                        <span *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder">{{
                            local.getTranslate("or", "или")
                        }}</span>
                        <div
                            (click)="showHideRecorder()"
                            class="first-block"
                            *ngIf="fileToUpload == null && recordFileBlob == null && !showRecorder"
                        >
                            <span class="signature">{{
                                local.getTranslate("record_audio", "записать аудиозапись")
                            }}</span>
                        </div>
                        <div class="recorder" *ngIf="showRecorder">
                            <app-voice-recorder (getRecord)="audioRecord($event)"></app-voice-recorder>
                            <span
                                style="border: 1px green solid; border-radius: 45px; padding: 2px 6px"
                                (click)="showHideRecorder()"
                                >X</span
                            >
                        </div>
                    </div>
                    <div *ngIf="fileToUpload != null" class="close">
                        <i (click)="clear()" class="fa fa-trash"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <!-- accept="video/mp4,video/x-m4v,video/*" -->
                        <input
                            #videoUpload
                            type="file"
                            (click)="fileUpload.value = null"
                            accept="video/mp4,video/x-m4v,video/*"
                            (change)="uploadVideo($event)"
                            style="display: none"
                            id="videoFile"
                        />
                        <div class="col-lg-3">
                            <label>
                                {{ local.getTranslate("video_link", "Ссылка на видео") }}
                            </label>


                        <ng-container *ngIf="env.shopInfo.isLoadShowVideo">
                            <div *ngIf="!videofile && !isFileLoaded" (click)="videoUpload.click()"  class="copyPhoto">
                                <span>{{local.getTranslate("upload_file","загрузить файл")}}</span>
                            </div>
                            <div *ngIf="videofile && isFileLoaded" id="cancelUpload" (click)="deleteVideo()" style="margin-top: 10px"  class="copyPhoto">
                                <span>{{local.getTranslate("delete_video","удалить видео")}}</span>
                            </div>
                        </ng-container>    

                        </div>
                        <div class="col-lg-5">
                            <div *ngIf="videofile && !isFileLoaded" style="margin: 0px auto">
                                <div style="margin-bottom: 10px">
                                    <div class="progress1">
                                        <div
                                            class="progress-bar"
                                            [id]="videofile.name"
                                            role="progressbar"
                                            aria-valuenow="100"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            style="max-width: 70%"
                                        >
                                            <span id="fileProgress" class="title">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="videofile && !isFileLoaded"
                                id="cancelUpload"
                                (click)="deleteVideo()"
                                style="margin-top: 10px"
                                class="copyPhoto"
                            >
                                <span>
                                    {{ local.getTranslate("cancel_uploading", "отменить загрузку") }}
                                </span>
                            </div>
                            <div class="input-group">
                                <input
                                    *ngIf="!videofile"
                                    type="text"
                                    class="form-control"
                                    (blur)="videoPasted()"
                                    id="youtube"
                                    placeholder="{{ local.getTranslate('direct_link', 'прямая ссылка на видео') }}"
                                    formControlName="youtube"
                                />
                                <input
                                    *ngIf="videofile && isFileLoaded"
                                    type="text"
                                    style="text-align: center"
                                    id="youtube"
                                    disabled
                                    value="{{ local.getTranslate('video_attached', 'видео прикреплено') }}"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("product_type", "Тип изделия") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" id="TypeProd" formControlName="TypeProd" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("total_price", "Конечная цена изделия в рублях") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="PrcNt" formControlName="PrcNt" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("articul", "Артикул товара") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="Article" formControlName="Article" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-3">
                            <label>{{ local.getTranslate("mehanizm_tr", "Механизм трансформации") }}</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="TransformMech"
                                    formControlName="TransformMech"
                                />
                            </div>
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</section>
