*{
	margin: 0;
	padding: 0;
}
header{
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 10;
    .buttonCatalog{
        font-weight: 100; 
        border: 1px black solid; 
        padding: 1px 3px; 
        background-color: lightcyan;
        text-transform: uppercase;
        cursor: pointer;
        @media screen and (min-width: 1078px) {
            display: none;
        }
    }
    .localize{
        display: none;
        @media screen and (min-width: 1078px) {
            display: block;
        }
        position: absolute;
        top: 7px;
        right: 15px;
        width: 40px;
        height: 40px;
        img{
            width: 34px;
            height: 30px;
        }
    }
    .header_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1250px;
        margin: 0 auto;
        padding: 8px 15px 7px;
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                color: #000000;
                cursor: pointer;
            }
            a:hover{
                text-decoration: none;
            }
            &--menu{
                display: none;
                @media screen and (max-width: 1078px) {
                    display: block;
                }
                >i{
                   font-size: 27px;
                   color: #179590;
                   cursor: pointer;
                }
            }
            &--logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width: 1078px) {
                    margin-right: 30px;
                }
                @media screen and (max-width: 470px) {
                    margin: 0 10px;
                }
                > span{
                    margin: 0 109px 0 19px;
                    font-size: 18px;
                    @media screen and (max-width: 1200px) {
                        margin: 0 70px 0 19px;
                    }
                    @media screen and (max-width: 1100px) {
                        margin: 0 38px 0 19px;
                    }
                    @media screen and (max-width: 1078px) {
                        display: none;
                        margin: 0 20px 0 19px;
                    }
                }
                > span:hover{
                    color: #6d1414b0;
                }
            }
            &--welcom{
                text-align: center;
                > h2{
                    color: #179590;
                    font-size: 18px;
                    @media screen and (max-width: 1078px) {
                        display: none;
                    }
                }
                > .search{
                    color: #179590;
                    font-size: 18px;
                    // @media screen and (max-width: 1078px) {
                    //     display: none;
                    // }

                    .search-button {
                        cursor: pointer;
                        font-size: 14px;
                        box-sizing: border-box;
                        border: none;
                        box-shadow: none;
                        outline: 0;
                        background-color: #fff;
                        color: rgba(0,0,0,.87);
                        width: 40px;
                        padding: 0 15px;
                        line-height: 40px;
                        height: 40px;
                        i{
                            transform: scale(1.5);
                        }
                    }
                }
                h4, span{
                    display: none;
                    font-size: 18px;
                    @media screen and (max-width: 1078px) {
                        display: block;
                    }
                    @media screen and (max-width: 478px) {
                        font-size: 14px;
                    }
                }
            }
            &--cabinet{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    color: #fff;
                    background: #179590;
                    font-size: 18px;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media screen and (max-width: 1078px) {
                    display: none;
                }
                > span{
                    margin-left: 3px;
                    font-size: 16px;
                    cursor: pointer;
                }
                > span:hover{
                    color: #6d1414b0;
                }
            }
            &--back{
                cursor: pointer;
                :hover{
                    color: #6d1414b0;
                }
                @media screen and (max-width: 1078px) {
                    display: none;
                }
            }
            &--advertisement{
                margin: 0 0 0 29px;
                @media screen and (max-width: 1078px) {
                    display: none;
                }
                > button{
                    cursor: pointer;
                    border: 0;
                    padding: 6px 7px 5px;
                    color: #ffffff;
                    font-size: 16px;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ca5353+0,ff0000+100 */
                    background: #ca5353; /* Old browsers */
                    background: -moz-linear-gradient(top, #ca5353 0%, #ff0000 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ca5353 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ca5353 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5353', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
                }
                > button:hover{
                    background: #de4f4f;
                }
            }
            &--basket{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 33px;
                .basket{
                    width: 28px;
                    height: 28px;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    > div {
                      display: none;
                      @media screen and (max-width: 1078px) {
                        display: inline-block;
                        position: relative;
                        right: 5px;
                        top: -15px;
                        background: #f1173a;
                        color: white;
                        border-radius: 15px;
                        padding: 0 7px;
                        font-size: 14px;
                        font-weight: bold;
                      }
                    }

                }
                > .order{
                    margin-left: 13px;
                    color: #269c97;
                    font-size: 16px;
                    text-align: right;
                    line-height: 1;
                    @media screen  and (max-width: 1078px) {
                        display: none;
                    }
                }
                > .order:hover{
                    color: #165d59;
                }

            }
        }
    }
}

.menu_list{
    width: 50%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: calc(90vh);
    background: #179590;
    color: #ffffff;
    padding: 10px;
    @media screen and (max-width: 476px) {
        width: 70%;
    }
    .localize{
        display: none;
        @media screen and (max-width: 1078px) {
            display: block;
        }
    }

    &__item{
        cursor: pointer;
        margin: 10px 0;
        font-size: 20px;
        :hover{
            color: #6d1414b0;
        }
        &--close{
            text-align: right;
            i{
                font-size: 24px;
                cursor: pointer;
            }
        }
        &--cabinet, &--user{
            i{
                margin-right: 10px;
            }
        }
        &--user{
            position: absolute;
            bottom: 5%;
            left: 0;
            width: 100%;
            padding: 0 10px;
            .name{
                border-bottom: 2px solid #ffffff;
                padding-bottom: 10px;
                margin-bottom: 10px;
                max-height: 100px;
                overflow: hidden;
            }
            .name:hover{
                color: #ffffff;
                cursor: auto;
            }
        }
    }
}