<header>
  <div class="localize">
    <app-change-language></app-change-language>
  </div>
  <div class="header_list">

    <!-- begin show only for mobile fersion-->
    <div  class="header_list__item header_list__item--menu" (click)="openMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- end -->

    <div class="header_list__item">

      <a routerLink="/">
        <div class="header_list__item--logo">
          <img src="assets/images/logo.png">

          <!-- begin only show for desktop fersion-->
            <!-- <span>{{local.getTranslate("portal_golowinskiy","Портал Головинского района")}}</span> -->
            <span style="min-width: 100px;">{{this.mainService.shopInfo.shortDescr}}</span>
          <!-- end -->

        </div>
      </a>

      <div class="header_list__item--welcom">

        <!-- begin show for desktop fersion-->
          <!-- <h2 *ngIf="isThatCabinetPage"> {{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</h2> -->
          <!-- <h2 *ngIf="!isThatCabinetPage">{{local.getTranslate("welcome_msg","Добро пожаловать!")}}</h2> -->
          <div class="search">
            <!-- <app-search-bar></app-search-bar> -->
          </div>
        <!-- end -->

        <!-- begin show only for mobile fersion-->
          <h4 *ngIf="isThatCabinetPage">{{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</h4>
          <!-- <h4 *ngIf="!isThatCabinetPage">{{local.getTranslate("welcome_to","Добро пожаловать в")}}</h4> -->
          <!-- <h4 *ngIf="!isThatCabinetPage">{{this.mainService.shopInfo.welcome}}</h4> -->
          <!-- <div class="search">
            <app-search-bar></app-search-bar>
          </div> -->
          <!-- <span *ngIf="!isThatCabinetPage">{{local.getTranslate("portal_golowinskiy","Портал Головинского района")}}</span> -->
          <!-- <span *ngIf="!isThatCabinetPage">{{this.mainService.shopInfo.shortDescr}}</span> -->
        <!-- end -->
      </div>
    </div>

    <div class="header_list__item">
      <!-- begin show for desktop fersion-->
          <div *ngIf="hideOnMainPage" class="header_list__item--back">
            <span class="mr-4"> <a style="font-weight: bold; text-transform: uppercase;" [routerLink]="getHomeLink().url">{{getHomeLink().text}}</a></span>
            <span> <a routerLink="/">{{local.getTranslate("main","НА ГЛАВНУЮ")}}</a></span>
          </div>
        <a *ngIf="hideCabinet" routerLink="/cabinet" >
          <div class="header_list__item--cabinet">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span *ngIf="(isAuthenticated | async); else notAuth">{{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</span>
            <ng-template #notAuth>
              <span>{{local.getTranslate('ti_Page','Войти')}}</span>
            </ng-template>
          </div>
        </a>
      <!-- end -->
      <app-cabinet-user></app-cabinet-user>
      <!-- begin show for desktop fersion-->
        <a routerLink="/addProduct">
          <div *ngIf="isAdmin || mainService.shopInfo.isEditing" class="header_list__item--advertisement">
            <button>{{local.getTranslate("add_adv","Подать объявление")}} </button>
          </div>
        </a>
      <!-- end -->
      <a *ngIf="showBasket" (click)="cartClick()">
        <div class="header_list__item--basket">
          <div class="basket">
            <img src="assets/images/cart.png">
            <!-- begin show only for mobile fersion-->
            <div>{{orderService.countKol()}}</div>
            <!-- end -->
          </div>
          <!-- begin show for desktop fersion-->
          <div class="order">
            <p>{{local.getTranslate("total_order","Сумма товаров:")}} <span> {{orderService.countSum()}} {{local.getTranslate("rub","руб")}}.</span></p>
            <p>{{local.getTranslate("ta_ItemsColQnt","Количество товаров:")}}:  <span>{{orderService.countKol()}} {{local.getTranslate("count","шт")}}.</span></p>
          </div>
          <!-- end -->
        </div>
      </a>
      <a *ngIf="!showBasket" class="buttonCatalog" [routerLink]="getHomeLink().url">{{getHomeLink().text}}</a>

    </div>
  </div>
</header>

<ul class="menu_list" *ngIf="showMenu">
  <li class="menu_list__item--close">
    <i (click)="closeMenu()" class="fa fa-times" aria-hidden="true"></i>
  </li>
  <div class="localize">
    <app-change-language></app-change-language>
  </div>
  <li class="menu_list__item menu_list__item--cabinet" (click)="closeMenu()" *ngIf="hideCabinet" routerLink="/cabinet">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span *ngIf="(isAuthenticated | async); else notAuthM">{{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</span>
    <ng-template #notAuthM>
      <span>{{local.getTranslate('ti_Page','Войти')}}</span>
    </ng-template>
  </li>
  <li *ngIf="this.mainService.shopInfo.manual.length != 0" class="menu_list__item menu_list__item--cabinet" (click)="manual()">
    <i class="fa fa-book" aria-hidden="true"></i>
    <span>Инструкция</span>
  </li>
  <!-- <li class="menu_list__item menu_list__item--cabinet" (click)="closeMenu()" *ngIf="hideCabinet" routerLink="/search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span>Поиск</span>
  </li> -->
  <li class="menu_list__item menu_list__item--cabinet" (click)="closeMenu()">
    <i *ngIf="(isAuthenticated | async)" class="fa fa-cog" aria-hidden="true"></i>
    <span *ngIf="(isAuthenticated | async)">{{local.getTranslate("settings","Настройки")}}</span>
  </li>
  
  <li *ngIf="isAdmin || mainService.shopInfo.isEditing" routerLink="/addProduct" (click)="closeMenu()" class="menu_list__item menu_list__item--cabinet">
    <i *ngIf="(isAuthenticated | async)" class="fa fa-plus-square"></i>
    <span *ngIf="(isAuthenticated | async)">{{local.getTranslate("add_adv","Подать объявление")}}</span>
  </li>
  <li class="menu_list__item" *ngIf="hideOnMainPage" (click)="back()">
    <span>{{local.getTranslate("main","НА ГЛАВНУЮ")}}</span>
  </li>
  <li class="menu_list__item menu_list__item--user" *ngIf="(isAuthenticated | async)">
    <div class="name">{{local.getTranslate("hello","Здравствуйте")}}, {{ authService.getUserData().fio | async }}</div>
    <div class="exit" (click)="personal()">
      <i class="fa fa-user icon"></i>
      <span *ngIf="(isAuthenticated | async)">{{local.getTranslate("personal_settings","Личные данные")}}</span>
    </div>
    <div class="exit" routerLink="subscribe">
      <i class="fa fa-envelope-o icon"></i>
      <span *ngIf="(isAuthenticated | async)">{{local.getTranslate("subscribe","Рассылка")}}</span>
    </div>
    <div class="exit" *ngIf="authService.getUserId() == mainService.getCustId()">
      <i (click)="editCat()" class="fa fa-archive icon"></i>
      <span (click)="editCat()">Управление каталогом</span>
      <span (click)="editCat()">Копирование каталога</span>
    </div>
    <div class="exit" (click)="copyAdverts.copyMode = !copyAdverts.copyMode;showMenu = false" *ngIf="authService.getUserId() == mainService.getCustId()">
      <i class="fa fa-copy icon"></i>
      Режим копирования
    </div>
    <div class="exit" (click)="modifyAdverts.modifyMode = !modifyAdverts.modifyMode;showMenu = false" *ngIf="authService.getUserId() == mainService.getCustId()">
      <i class="fa fa-edit icon"></i>
      Режим редактирования
    </div>
    <div class="exit" (click)="onLogout()">
      <i class="fa fa-power-off icon"></i>
      <span>{{local.getTranslate("logout","Выйти")}}</span>
    </div>
  </li>
</ul>
