<section class="advertisement">
    
  <div *ngIf="authService.getUserId() == mainService.getCustId()" class="container">
    <div class="showSpinner" *ngIf="showSpinner">
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <h3 class="text-center mt-4 mb-5">{{local.getTranslate("","Управление каталогом")}}</h3>
<div class="control-block">
  <div class="row justify-content-md-center">
      <div class="col-lg-12 back mb-2 d-flex flex-column">
          <button routerLink="/cabinet">{{local.getTranslate("personal_cabinet","В Личный Кабинет")}}</button>
          <button routerLink="/">{{local.getTranslate("main_page","главная страница")}}</button>
      </div>
  </div>
  <div class="row contact-info mb-3">
      <div class="col-lg-12 col-xs-12 text-left">
          <div class="contact pt-2 pb-2 pl-2">
              <h5 style="display: none;">{{local.getTranslate("ti_ContactInfo","Контактная информация")}}</h5>
              <div *ngIf="fio" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{fio}}
                  </div>
              </div>
              <div *ngIf="userName" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{ userName }}
                  </div>
              </div>
              <div *ngIf="phone" class="row">
                  <div class="col-lg-12 col-xs-12">
                    {{ phone }}
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
    <ng-container>
      <div *ngIf="categories.length == 0" class="categories">
        <!-- <app-categories
        *ngIf="!refreshCat"
          (lastChildAction)="categorySelect($event)"
          [initialCategories]="initialCategories"
          [categories]="categoriesService.mainCategories$ | async"
          [subscribeMode]="false"
          [editMode]="true"
          (needUpdate)="categoryAdded($event)"
        ></app-categories> -->
        <div class="alert alert-primary">
          Управление доступно только в мобильной версии.
        </div>
      </div>
      <div class="categories-mobile">
        <app-mobile-categories (lastChildAction)="categorySelect($event)"
                               [initialCategories]="initialCategories.slice(0, 1)"
                               [categories]="categoriesService.mainCategories$ | async"
                               [subscribeMode]="false"
                               [editMode]="true"
                               (needUpdate)="categoryAdded($event)"
        ></app-mobile-categories>
      </div>
    </ng-container>

    <div *ngIf="categories.length != 0" class="row justify-content-md-center choosed categories">
        <div class="col-lg-8 col-xs-12 no-padding">
          {{local.getTranslate("selected_dep","Вы выбрали раздел")}}
            <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>
        </div>
    </div>
    <div class="row justify-content-md-center choosed">
        <div class="col-lg-8 col-xs-12 no-padding">

        </div>
    </div>
  </div>
  <div *ngIf="authService.getUserId() !== mainService.getCustId()">
    У вас нету доступа к этой странице!
  </div>
</section>

