section.advertisement{
    position: relative;
    a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .showSpinner{
        position: fixed;
        top: 48%;
        z-index: 50;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        i {
          font-size: 60px;
          color: #5c646b;
        }
    }
    .validators{
      border: 1px solid #f00;
      padding: 2%;
      color: #f00;
      border-radius: .25rem;
      display: none;
    }
    #submit-area:hover .validators {
      display: block;
    }
    .showMessage{
        text-align: center;
        position: fixed;
        top: 50%;
        left: 30%;
        right: 30%;
        z-index: 2;
        width: 40%;
        @media only screen and (max-width: 1078px) {
            width: 90%;
            left: 5%;
            right: 5%;
        }
        i{
            color: rgba(24, 150, 145, 1);
            margin-bottom: 25px;
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
    .choosed{
        margin: 35px 0;
    }
    .contact{
        border: 1px solid rgba(24, 150, 145, 1);
        background: rgba(24, 150, 145, 0.32);
       // max-width: 300px;
        width: 300px;
       // margin-left: auto;
    }
    .no-padding{
        padding: 0;
    }
    textarea{
        resize: none;
        width: 100%;
        min-height: 100px;
        border: 1px solid rgba(24, 150, 145, 1);
    }
    .btn{
        height: 38px;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .upload{
        border: 1px solid rgba(24, 150, 145, 1);
        background-color: #ffffff;
        width: 100px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        position: relative;
        cursor: pointer;
        img{
            max-width: 100%;
            width: auto !important;
            height: auto !important;
            max-height: 70px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        i{
            font-size: 27px;
            color: rgba(24, 150, 145, 1);
        }
    }
    .repeater {
        //    display: none;
            position: absolute;
            top: 3px;
            left: 122px;
            cursor: pointer;
            z-index: 100;
        }
    .list_photo{
        max-width: 370px;
    }
    .back a{
        color: rgba(24, 150, 145, 1);
    }
    .other_fields{
        justify-content: flex-end;
        .col-lg-4{
            margin-right: 35px;
        }
        p{
            font-size: 17px;
            font-style: italic;
            font-weight: 600;
            margin-right: 28px;
        }
    }

    .upload-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        > div {
            width: 100px;
            height: 70px;
            line-height: 68px;
            text-align: center;
            border: 1px solid #189691;
            position: relative;
            margin: 5px 25px 12px 0;
            cursor: pointer;
            img{
                max-width: 100%;
                width: auto;
                height: auto;
                max-height: 68px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        > div i.delete {
            position: absolute;
            top: 0;
            right: -20px;
            cursor: pointer;
        }
        > div i.repeat {
        //    display: none;
            position: absolute;
            top: 17px;
            right: -20px;
            cursor: pointer;
        }
        i.disabled{
            border: 1px solid #05cac3 !important;
            color: #05cac3 !important;
            cursor: auto !important;
        }
        i.arrow{
            width: 100px;
            height: 70px;
            border: 1px solid #189691;
            cursor: pointer;
            line-height: 70px;
            text-align: center;
            font-size: 27px;
            color: #189691;
        }
    }
    progress{
        width: 98px;
    }
    .form-help-text{
      color: red;
    }
}

.categories, .categories-mobile {
  display: none;
}
@media screen and (min-width: 1080px) {
  .categories {
    display: block;
  }
}
@media screen and (max-width: 1079px) {
  .categories-mobile {
    display: block;
  }
}


/*
progress[value] {
 
  }
  progress[value]::-webkit-progress-bar {
  
  }
  progress[value]::-webkit-progress-value {

  }
*/

.upload_image_container{
    position: relative;
    display: flex;
    height: 82px;
    .uploadImage{
        max-width: 100%;
        max-height: 67px;
    }
    .aprogress{
       position: absolute;
       width: 98px;
       height: 9px;
       bottom: 1px;
    }
}
/*
progress[value="100"]::-moz-progress-bar {
    background-color: green;
}
*/

.control-block{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    @media screen and (min-width: 1080px) {
       flex-direction: row;
       margin-top: -30px;
       
    }
    justify-content: space-between;
    .back{
        button{
            max-width: 300px;
            width: 100%;
            margin-bottom: 10px;
            padding: 2px 4px;
            background-color: rgba(24, 150, 145, 0.32);
            text-transform: uppercase;
            font-weight: bold;
            &:last-child{
                margin-bottom: 5px;
            }
        }
    }
    .contact-info{
        display: flex;
        justify-content: left;
    }
}

.uploadAudio{
    margin: 0 auto;
    font-weight: bold;
    padding: 3px 14px;
}
.audio{
  //  position: relative;
  display: flex;
  position: relative;
  margin-bottom: 10px;
    .center-block{
        background-color: rgba(24, 150, 145, 0.32);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly; 
        border-radius: 10px;
        height: 62%;
        max-width: 390px;
        transition: 0.4s;
        cursor: pointer;
        overflow: hidden;
        .files-to-upload{
            display: inline-flex;
            align-self: flex-start;
            justify-self: flex-start;
            margin: 0 auto;
            color: blue;
            height: 90%;
            p{
                margin: 0 auto;
            }
        }
    
        .close{
            top: 1.5px;
            width: 30px;
            height: 20px;
            z-index: 1000;
            position: relative;
            right: 20%;
        }
        mat-progress-bar{
            width: 85%;
        }
    }
    
    .center-block:hover{
    
        .first-block {
    
            i {
                color: blue;
            }
        }
    }
}