.form-buttons{
    display: flex;
    justify-content: space-between;
}
.headline{
    font-size: 20;
    font-weight: bold;
}

.error-text{
    color: red;
    margin-left: 5px;
    font-weight: bold;
}
.text-muted{
    height: 20px;
    margin-bottom: 15px;
}
.response{
    height: 30px;
    color: red;
    display: flex;
    align-items: center;
}
.body_response{
    color: red;
    padding: 2px 3px;
    font-weight: bold;
    border-radius: 4px;
    background-color: lightcyan;
}