<form [formGroup]="audioForm">
    <h3>Применить выбранное аудио для обьявления</h3>
    <div class="form-group">
        <div class="label_title">Применить для:</div>
        <select (change)="changePosition()" formControlName="position" required>
            <option *ngFor='let pos of position' [value]="pos.type">{{pos.name}}</option>
        </select>
        <ng-container *ngIf="selectedPosition == 2">
            <div class="label_title">Выберите номер картинки:</div>
            <select formControlName="MediaOrder">
                <option *ngFor='let order of data.images' [value]="order.imageOrder">{{order.index}}</option>
            </select>
        </ng-container>

    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-secondary btn-sm" (click)="submit()">
            {{dictionary.getTranslate('apply','Применить')}}
        </button>
        <button type="submit" class="btn btn-info btn-sm" (click)="cancel()">{{dictionary.getTranslate('cancel','Отмена')}}</button>
    </div>
  </form>
