.card-header{
    height: 40px;
    .card-title{
        font-size: 19px;
        font-weight: bold;
    }
}

.white {
    color: white !important;
}

.card-title{

    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
}
:deep(.dz-size,.dz-filename){
    display: none;
}

.base-font {
    font-size: 19px;
}

.coordinate-button {
    margin-top: auto;
}

.rounded{
    border-radius: 5px;
}

.mob-view{
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
.desktop-view{
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}



// .ng-touched.ng-invalid:not(form)  {
//     border: 2px solid red /* red */
// }

// ::ng-deep .cdk-overlay-pane{
//     top: 70%;
//     transform: translateY(100%);
//     span{
//         font-weight: 600;
//         font-size: 17px;
//     }
// }