<ng-container *ngIf="isReady">
    <div class="player" [ngSwitch]="playerType">
        <ng-container *ngSwitchCase="'default'">
            <div [ngStyle]="{ height: height + 'px', width: width + 'px' }">
                <video
                    id="my_video_1"
                    class="video-js vjs-default-skin"
                    width="100%"
                    height="100%"
                    controls
                    preload="none"
                    data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
                >
                    <source [src]="videoLink" type="video/mp4" />
                </video>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'youtube'">
            <youtube-player
                (ready)="onReady($event)"
                (stateChange)="onPlayerStateChange($event)"
                #uplayer
                width="{{ width }}px"
                height="{{ height }}px"
                [videoId]="videoLink"
            ></youtube-player>
        </ng-container>
        <ng-container *ngSwitchCase="'vk'">
            <iframe
                [src]="videoLink | safe"
                width="{{ width }}px"
                height="{{ height }}px"
                allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                frameborder="0"
                allowfullscreen
            ></iframe>
        </ng-container>
        <ng-container *ngSwitchCase="'broken'"> Видео недоступно или задана некорректная ссылка. </ng-container>
    </div>
</ng-container>
