<section>
    <app-navbar title="map"></app-navbar>
    <!-- <div class="container-map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        <div id="map" class="map"></div>
    </div> -->
    <div class="container-map">
        <ya-map
        [center]="points.length ? points[0].point : [37.618423, 55.751244]"
        [zoom]="getZoom()"
        (ready)="onMapReady($event)"
      >
        <ng-container *ngFor="let coordinate of points">
          <ya-placemark
            [geometry]="coordinate.point"
            [properties]="coordinate.hint"
          ></ya-placemark>
        </ng-container>
      </ya-map>
      </div>
</section>
