section {
    padding: 1px;
    position: relative;

    .container-map {
      height: 100vh;
      width: 100%;
    }

    .control-buttons {
      position: absolute;
      z-index: 3;
      top: 20px;
      left: 125px;
      height: 40px;
      width: 100%;
      background: transparent;
      button {
          margin-right: 10px;
      }
    }



    .ol-popup {
      position: absolute;
      background-color: white;
      -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 280px;
    }
    .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }
    .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }
    .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px;
    }
    .ol-popup-closer:after {
      content: "✖";
    }

    

    .map {
        width: 100%;
        height: calc(100vh - 50px);
        cursor: pointer;
      }
}
:host ::ng-deep {
    .ol-zoom-in,
    .ol-zoom-out {
      margin-top: 10px;
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border: 1px lightslategray solid;
      font-size: 30px;
    }
    .ol-attribution,
    .ol-rotate-reset {
      display: none !important;
    }
  }

