<div id="fon-image">
    <!-- <app-header></app-header> -->
    <app-navbar></app-navbar>
    <div id="inner">
        <ng-container>
            <div class="categories-mobile">
                <app-mobile-categories
                    (lastChildAction)="onCategoriesClick($event)"
                    [initialCategories]="initialCategories.slice(0, -1)"
                    [categories]="
                        (isCabinet() ? categoriesService.userCategories$ : categoriesService.mainCategories$) | async
                    "
                ></app-mobile-categories>
            </div>
            <div class="categories">
                <app-categories
                    (lastChildAction)="onCategoriesClick($event)"
                    [initialCategories]="initialCategories.slice(0, -1)"
                    [categories]="
                        (isCabinet() ? categoriesService.userCategories$ : categoriesService.mainCategories$) | async
                    "
                ></app-categories>
            </div>
        </ng-container>
        <!--
      <div class="items">
        <app-products-page [isCabinetPage]="true"></app-products-page>
      </div>
      -->
    </div>
    <div class="data clockPosition" id="doc_time" [@hideClock]="clickClock"></div>

    <app-footer></app-footer>
    <router-outlet></router-outlet>
</div>
