#inner{
  padding: 80px 15px;
  max-width: 1200px;
  margin: 0 auto;
  .categories, .categories-mobile {
    display: none;
  }
  @media screen and (min-width: 1080px) {
    .categories {
      display: block;
      z-index: 9;
 //     position: absolute;
 //     left: 10px;
    }
  }
  @media screen and (max-width: 1079px) {
    .categories-mobile {
      display: block;
    }
  }
}

.items{
  position: absolute;
  top: 0px;
  @media screen and (max-width: 1079px) {
    display: none;
  }
}

.clockPosition{
  @media screen and (min-width: 1024px) {
    position: absolute;
    bottom: 120px;
    right: 40px;
  }

  @media screen and (max-width: 1024px) {
    position: absolute;
    bottom: 70px;
  //  right: 40px;
  }

}