<div *ngIf="showForm" class="modal_window">
    <i (click)="dialogRef.close()" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal_inner" [ngStyle]="modal_inner">
        <!-- <div class="headline">{{local.getTranslate("personal_settings","Персональные данные")}}</div> -->
        <div class="showSpinner" *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="showMessage" *ngIf="message.text">
            <div class="alert alert-{{ message.type }}">
                {{ message.text }}
            </div>
        </div>

        <form [formGroup]="form" *ngIf="showForm" (ngSubmit)="onSubmit()">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a
                        *ngIf="this.data.type === 1"
                        class="nav-item nav-link active"
                        id="nav-home-tab"
                        data-toggle="tab"
                        role="tab"
                        aria-controls="nav-home"
                        aria-selected="true"
                        >{{ local.getTranslate("personal_settings", "Персональные данные") }}</a
                    >
                    <a
                        *ngIf="this.data.type === 2"
                        class="nav-item nav-link active"
                        id="nav-profile-tab"
                        data-toggle="tab"
                        href="#nav-profile"
                        role="tab"
                        aria-controls="nav-profile"
                        aria-selected="true"
                        >{{ local.getTranslate("site-settings", "Настройки сайта") }}</a
                    >
                    <a
                        *ngIf="this.data.type === 3"
                        class="nav-item nav-link active"
                        id="nav-profile-tab"
                        data-toggle="tab"
                        href="#nav-profile"
                        role="tab"
                        aria-controls="nav-profile"
                        aria-selected="true"
                        >{{ local.getTranslate("site-sort", "Сортировка сайта") }}</a
                    >
                    <a
                        *ngIf="this.data.type === 4"
                        class="nav-item nav-link active"
                        id="nav-profile-tab"
                        data-toggle="tab"
                        href="#nav-profile"
                        role="tab"
                        aria-controls="nav-profile"
                        aria-selected="true"
                        >{{ local.getTranslate("delRepeat", "Удаление повторения") }}</a
                    >

                    <a (click)="manual()" *ngIf="this.data.type === 2" class="nav-item nav-link">{{
                        local.getTranslate("instruction", "Инструкция")
                    }}</a>
                    <!-- <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">{{local.getTranslate("personal_settings","Персональные данные")}}</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Настройки сайта</a> -->
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div
                    class="tab-pane fade"
                    [ngClass]="{ 'show active': this.data.type === 1 }"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                >
                    <div class="form-group">
                        <label for="Name">{{ local.getTranslate("fio", "Инициалы") }}</label>
                        <input type="name" formControlName="f" class="form-control" id="Name" placeholder="Name" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Phone">{{ local.getTranslate("te_Mobile4SMSAlerts", "Моб.номер:") }}</label>
                            <input
                                type="name"
                                formControlName="Phone"
                                class="form-control"
                                id="Phone"
                                placeholder="{{ local.getTranslate('te_Mobile4SMSAlerts', 'Моб.номер:') }}"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email">Email</label>
                            <input
                                type="name"
                                formControlName="Email"
                                class="form-control"
                                id="Email"
                                placeholder="Email"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Password">{{ local.getTranslate("jus_new_passwd", "Новый пароль:") }}</label>
                        <input
                            type="name"
                            formControlName="Password"
                            class="form-control"
                            id="Password"
                            placeholder="{{ local.getTranslate('jus_new_passwd', 'Новый пароль:') }}"
                        />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Skype">Skype</label>
                            <input
                                type="name"
                                formControlName="Skype"
                                class="form-control"
                                id="Skype"
                                placeholder="Skype"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="WhatsApp">WhatsApp</label>
                            <input
                                type="name"
                                formControlName="WhatsApp"
                                class="form-control"
                                id="WhatsApp"
                                placeholder="WhatsApp"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Street">{{ local.getTranslate("address", "Адрес в обьявлении") }}</label>
                        <input
                            type="name"
                            formControlName="Street"
                            class="form-control"
                            id="Street"
                            placeholder="адрес (отобр. в объявлении)"
                        />
                    </div>
                </div>

                <div
                    class="tab-pane fade"
                    [ngClass]="{ 'show active': this.data.type === 2 }"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                >
                    <div class="form-row d-flex align-items-center mt-2">
                        <div class="form-group col-md-5">
                            <label for="slideType">{{
                                local.getTranslate("content-type", "Тип контента слайдов")
                            }}</label>
                        </div>
                        <div class="form-group col-md-3">
                            <select id="slideType" class="form-control form-select" formControlName="slideType">
                                <option *ngFor="let slide of slideType" [value]="slide.value">{{ slide.title }}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="isAudioType" class="form-row d-flex align-items-center">
                        <div class="form-group col-md-6">
                            <label for="audioRepeats">
                                {{ local.getTranslate("audioRepeats", "Количество повторений аудио") }}:</label
                            >
                        </div>
                        <div class="form-group col-md-2">
                            <select id="audioRepeats" class="form-control form-select" formControlName="audioRepeats">
                                <option *ngFor="let rep of repeats" [value]="rep">{{ rep }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input
                            class="form-check-input"
                            formControlName="isNoStartAudio"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                        />
                        <label class="form-check-label" for="defaultCheck1">
                            {{ local.getTranslate("autoplay-content", "Воспроизведение контента при входе") }}
                        </label>
                    </div>
                    <div class="form-check mt-1">
                        <input
                            class="form-check-input"
                            formControlName="isSlideshowAdvert"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                        />
                        <label class="form-check-label" for="defaultCheck1">
                            {{ local.getTranslate("slide-show-adv", "Слайд-шоу для объявлений") }}
                        </label>
                    </div>

                    <div class="form-check mt-1">
                        <input
                            class="form-check-input"
                            formControlName="isSlideshowExtraPict"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                        />
                        <label class="form-check-label" for="defaultCheck1">
                            {{ local.getTranslate("slide-show-img", "Слайд-шоу для доп. картинок") }}
                        </label>
                    </div>

                    <!-- <div class="freeze-dep">
                        <div class="form-row d-flex align-items-center mt-2">
                            <div class="form-group col-md-5">
                                <label for="slideType">{{
                                    local.getTranslate("content-dep", "Раздел")
                                }}</label>
                            </div>
                            <div class="form-group col-md-3">
                                <select id="slideType" class="form-control form-select" formControlName="siteDepartment">
                                    <option *ngFor="let dep of siteDepartment" [value]="dep.value">{{ dep.title }}</option>
                                </select>
                            </div>
                        </div> -->
    <div style="display: flex; flex-direction: column">
        <mat-slide-toggle formControlName="isSettingsFrozen">
            <span class="freeze">{{ local.getTranslate("freeze-settings", "Заморозить настройки") }}</span>
        </mat-slide-toggle>
        <div style="height: 10px"></div>
        <mat-slide-toggle *ngIf="!(this.showPause == 0)" formControlName="isStudyPause">
            <span class="studyPause">{{ local.getTranslate("studypause-settings", "Взять в обучении паузу") }}</span>
        </mat-slide-toggle>
    </div>

                    <!-- </div> -->

                    <!-- <div class="form-group">
                        <label for="Password"> {{ local.getTranslate("site-sort", "Сортировка сайта") }}:</label>
                        <select class="form-control form-select" formControlName="isSearchPageVariant">
                            <option *ngFor="let sort of siteSort" [value]="sort.value">{{ sort.title }}</option>
                        </select>
                    </div> -->
                </div>

                <div
                    class="tab-pane fade"
                    [ngClass]="{ 'show active': this.data.type === 3 }"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                >
                    <div class="form-group">
                        <!-- <label for="Password"> {{ local.getTranslate("site-sort", "Сортировка сайта") }}:</label> -->
                        <select class="form-control form-select" formControlName="isSearchPageVariant">
                            <option *ngFor="let sort of siteSort" [value]="sort.value">{{ sort.title }}</option>
                        </select>
                    </div>
                    <div class="form-check mt-1">
                        <input
                            class="form-check-input"
                            formControlName="isShuffleContent"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                        />
                        <label class="form-check-label" for="defaultCheck1">
                            {{ local.getTranslate("btn_shuffle_content", "Кнопка перемешивания контента") }}
                        </label>
                    </div>
                </div>

                <div
                    class="tab-pane fade"
                    [ngClass]="{ 'show active': this.data.type === 4 }"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                >

                    <div class="form-group col-md-6">
                        <input
                            type="name"
                            formControlName="delRepeat"
                            class="form-control"
                            id="delRepeat"
                            placeholder=""
                        />
                    </div>                 
                </div>
            </div>

            <div class="form-group save-settings">
                <button class="btn btn-block btn-primary" type="submit">
                    {{ local.getTranslate("save", "Сохранить") }}
                </button>
            </div>
        </form>
    </div>
</div>
