.modal_inner{
    min-height: 480px;
    position: relative;
    padding-bottom: 90px;

    .nav-item{
        cursor: pointer;
    }
    .headline{
        font-size: 21px;
        text-align: center;
    }
    .form-group {
        margin-bottom: 0.5rem !important;
        label{
            margin-bottom: 0rem !important;
        }
        input{
            height: 30px !important;
        }
    }
    .nav-link{
        color: #189691;
    }
    .nav-pills .nav-link.active{
        color: white;
        background-color: #189691 !important;
    }
    .save-settings{
        position: absolute;
        max-width: 200px;
        bottom: 30px;
        margin-top: auto;
    }
    .form-check{
        margin-bottom: 10px !important;
    }

    mat-slide-toggle{
        margin-left: -5px;
    }
    .freeze-dep {
        border: 1px blue solid;
    }

    .freeze, .studyPause {
        font-size: 16px;
        font-family: forum !important;
    }

}


// .recovery{
//     padding-top: 10px;
//     margin-bottom: -25px;
//     cursor: pointer;
// }
// button{
//     cursor: pointer;
// }

// .notsign{
//     color: #189691 !important;
// }

// .form-group{
//     margin-bottom: 0.7rem;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     input{
//         max-width: 240px;
//         @media screen and (max-width: 430px) {
//             max-width: 200px; 
//         }
//         width: 100%;
//     }
//     .input-text{
//         color: #189691;
//         margin-right: 5px;
//     }
// }

