<div class="modal_container">
  <div *ngIf="showProductOrder" class="product_order modal_w">
    <i (click)="clickCloseProductOrder()" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal-inner">
      <h2>{{local.getTranslate("just_a_cart","Корзина")}}</h2>
      <div class="showMessage" *ngIf="message.text">
        <i class="fa fa-spinner fa-spin"></i>
        <div
          class="alert alert-{{message.type}}"
        >
          {{ message.text }}
        </div>
      </div>
      <form>

        <div class="item_list">
          <div class="container">
            <div style="display: none;" class="item_list_title row no-margin">
              <div style="font-size: 20px;" class="name text-left col-lg-6 col-md-4 col-sm-4 col-4">{{local.getTranslate("te_name_n","Название")}}</div>
              <div style="font-size: 20px;" class="count text-center col-lg-3 col-md-4 col-sm-4 col-4 no-padding">{{local.getTranslate("ta_count","Количество")}}</div>
              <div style="font-size: 20px;" class="cost text-right col-lg-3 col-md-4 col-sm-4 col-4">{{local.getTranslate("te_price","Цена")}}</div>
            </div>
          </div>

          <div class="order_item">
            <div class="item_list">
              <div class="item" *ngFor="let c of orderService.getCart() let x = index"
              >
                <div><!--<div *ngIf="c!=null">-->
                  <div class="item row" style="padding-bottom:5px; border-bottom: 1px #189691 solid"><!--<div *ngIf="c.count>0" class="item row">-->

                      <div class="headline_mobile text-center">
                        {{ limiter(c.name)  }}
                      </div>
                      <div class="item_img_descr">
                        
                      <img class="item_image" src="{{'https://' + c.image_Item}}" alt="">

                    
                    <div class="item_descr">

                      <div class="items headline">
                        {{ limiter(c.name) }}
                      </div>
                      <div class="items__count_cost">
                        <div class="count">
                          <div class="items count_content">
    
                            <a (click)="changeCount(x, -1)" [attr.data-product]="c.art">
                              <span class="fa fa-minus fa-2x"></span>
                            </a>
    
                            <input type="text" size="3" [value]="c.count" class="text-center" data-product=""/>
    
                            <a (click)="changeCount(x, 1)" [attr.data-product]="c.art">
                              <span class="fa fa-plus fa-2x"></span>
                            </a>
                            
                          </div>
                        </div>
                        <div class="cost items">
                          {{ c.price }} {{local.getTranslate("rub","руб")}}.
                          <a *ngIf="false" (click)="orderService.removeAllItems(x)" class="ml-3" [attr.data-product]="c.art">
                            <span class="fa fa-times-circle fa-1x"></span>
                          </a>
                        </div>
                      </div>

                    </div>
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product_order_summa text-center col-lg-12">
            {{local.getTranslate("total_order","Сумма товаров:")}} {{orderService.countSum()}} {{local.getTranslate("rub","руб")}}.
            <p>Количество товаров:  <span>{{orderService.countKol()}} {{local.getTranslate("count","шт")}}.</span></p>
          </div>

        </div>

        <!-- <div class="product_back_order text-center col-lg-12">
          <a routerLink="/">
            {{local.getTranslate("main","НА ГЛАВНУЮ")}}
          </a>
        </div> -->

        <div class="form-group">
          <button
            class="btn btn-block btn-info bright"
            type="submit"
            [disabled]="orderService.countSum() == 0"
            (click)="addToOrder()"
          >
          {{local.getTranslate("to_order","Заказать")}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal_container">
  <div *ngIf="showOrder" class="modal_w">

    <i (click)="clickCloseProductOrder()" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal-inner">
      <h2>{{local.getTranslate("to_order","Заказ")}}</h2>
      <div class="showSpinner" *ngIf="showSpinner">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="showMessage" *ngIf="message.text">
        <div
          class="alert alert-{{message.type}}"
        >
          {{ message.text }}
        </div>
      </div>
      <div class="form">
        <form [formGroup]="form">
          <!-- <form novalidate> -->

          <div class="form-group text-center">
            <input
              class="bright"
              type="text"
              placeholder='{{local.getTranslate("address_delivery","Адрес получателя заказа")}}'
              id="Addr"
              formControlName="Addr">
          </div>

          <div class="form-group text-center">
            <input
              class="bright"
              type="text"
              placeholder='{{local.getTranslate("descr_order","Примечание к заказу")}}'
              id="Note"
              formControlName="Note">
          </div>


          <div class="form-group">
            <button
              class="btn btn-block btn-primary bright"
              type="submit"
              (click)="addToOrderSave()"
            >
            {{local.getTranslate("make_order","Оформить заказ")}}
            </button>
          </div>

          <!-- </form> -->
        </form>
      </div>
    </div>
  </div>
</div>
