@import "../../../../constants.scss";
//.modal_container {
//  position: fixed;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}

.modal_w{
    position: fixed;
    z-index: 50;
    top: 3%;
    width: 100%;
    background: white;
    border-radius: 10px;
  //  left: 50%;
  //  transform: translateX(-50%);
 @media only screen and (min-width: 1100px) {
     height: 90%;
 //   padding: 4%;
  //  left: 50%;
  //  transform: translateX(-50%);

 }
    border: 2px solid #189691;
}
.modal_w{
    @media only screen and (max-width: 992px) {
        width: 100%;
   //     left: 0;
    //    right: 0;
        .name, .count, .cost{
            text-align: center !important;
            margin: 5px 0;
        }
    }
    @media only screen and (max-width: 768px) {
      //  padding: 6%;
      //  left: 0;
      //  right: 0;
        .modal-inner{
            padding: 0;
        }
    }
    @media only screen and (max-width: 480px) {
     //   padding: 7%;
     //   left: 0;
      //  right: 0;
    }
    i{
        top: 1%;
        right: 1%;
        position: absolute;
        color: black;
        font-size: 30px;
        cursor: pointer;
    }
}
.productOrder{
    background: rgba(0, 0, 0, .5);
    //border: 4px solid rgba(24, 150, 145);
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 3%;
    left: 20%;
    right: 20%;
    top: 20%;
    position: absolute;
    z-index: 2;
}
.showMessage{
    text-align: center;
}
.showMessage i{
    //color: rgba(24, 150, 145);
    margin-bottom: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.showSpinner{
    text-align: center;
}
.showSpinner i{
    //color: rgba(24, 150, 145);
    margin-bottom: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.product_order .item_list_title{
  //  margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 2px solid #cdcdce;
}
.item_img_descr{
    width: 100%;
}
.product_order .item, .item_img_descr{
    margin: 0 auto;
    background: #e9ecef;
    display: flex;
    flex-direction: row;

    .item_image{
        flex-basis: 30%;
        max-width: 150px;
        width: auto;
        max-height: 150px;
        height: auto;
        align-self: center;
    }
    .item_descr{
        flex-basis: 70%;
     //   width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .item_header_img{
            align-self: center;
            justify-content: center;
        }
        .items__count_cost{
            display: flex;
            flex-direction: column;
           .count{
               align-self: center;
               margin-right: 15px;
           } 
        }
        .headline{
            font-weight: bolder;
        }
    }

}
.product_order .item .count_content{
    font-size: 15px;
}
.product_order .item .count_content input{
    margin: 0 15px;
}
.product_order .item .count_content a{
    color: #000000;
}
.product_order .product_order_summa{
    margin-top: 20px;
    color: rgb(8, 109, 105);
    font-weight: 600;
}
.product_order .product_back_order a{
    color: rgb(8, 109, 105);
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.product_order .order_item{
    max-height: 510px;
    @media screen and (min-width: 1079px){
      max-height: 620px;
      overflow-y: scroll;
    }


}
.product_order .order_item .item_list{
    max-width: 500px;
    margin: 0 auto;
    max-height: 420px;
    overflow-x: hidden;

    @media screen and (min-width: 1079px){
        max-height: 60vh;
        max-width: 1300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .item{
            border: 1px #086d69 solid;
            width: 300px;
            height: 300px;
            margin: 0px 4px 4px 0px;
        }
    }
}
.product_order  .form-group{
    margin-top: 20px;
}

.items{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 20px;
}
.header{
    margin: 0 auto;
}
.headline_mobile{
    display: block;
    width: auto;
    font-weight: bold;
    align-self: center;
    font-size: 20px;
    margin: 0 auto;
    text-overflow: ellipsis;
}
.headline{
    display: none;
    font-weight: bold;
}
@media screen and (max-width: 1079px) {
    .bright{
        width: 80%;
        margin: 0 auto;
    }
    .item_descr{
        margin-left: 5px;
    }
    .product_order .item{
        flex-direction: column;
    }
    .headline{
        display: none;
    }
    .headline_mobile{
        display: block;
    //    font-size: 16px;
    }
    .items__count_cost{
        flex-direction: column !important;
    }
    .item_image{
        max-width: 130px !important;
        max-height: 110px !important;
    }
}  
@media screen and (max-width: 380px) {
    .headline_mobile{
        display: block;
        font-size: 18px;
    }

}
.bright{
    font-size: 18px;
    font-weight: bold;
}  

.fa{
    cursor: pointer;
}
.fa-times-circle:hover {
    color: red;
   // background-color: red;
}
.fa-minus:hover,.fa-plus:hover{
    color: #189691;
}
.btn-block, #Addr, #Note{
    width: 80%;
    margin: 0 auto;
}