<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <!-- <span>{{ progressInfo.fileName }}</span> -->
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.value + '%' }"
      >
        {{ progressInfo.value }}%
      </div>
    </div>
  </div>

    <input style="display: none;" 
        type="file" 
        accept=".m4a,.mp3,.ogg,audio/*;capture=microphone"
        (change)="selectFiles($event)" 
        #fileInput 
    >
    <ng-container *ngIf="!fileInfos.length">
        <button type="button" (click)="fileInput.click()" style="border-radius: 5px; margin-bottom: 10px;" class="btn btn-info btn-block btn-flat">
            <i class="fa fa-upload"></i> 
            {{dictionary.getTranslate('upload_audio','загрузить аудио')}}
        </button>
        <button type="button" (click)="record()" style="border-radius: 5px; margin-bottom: 10px;" class="btn btn-info btn-block btn-flat">
            <i class="fas fa-microphone-alt"></i>
            {{dictionary.getTranslate('record_audio','записать аудио')}}
        </button>        
    </ng-container>


    <div *ngIf="message" class="alert alert-light" role="alert">{{ message }}</div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">  
        <div class="example-box" *ngFor="let file of fileInfos, index as i" cdkDrag>
        <div cdkDragHandle class="w-40 drag-content mr-1">
            <commodity-player *ngIf="file" [short]="true" [autoPlay]="false" [file]="fullLink(file.link)">
                <a class="btn btn-app" (click)="delete(i)">
                    <i class="fas fa-trash-alt"></i> {{dictionary.getTranslate('delete','удалить')}}
                  </a>
            </commodity-player>
        </div>
        <!-- <div class="w-10 delete-icon">
            <button mat-icon-button>
            <i class="material-icons" (click)="delete(i)">delete_outline</i>
            </button>
        </div> -->
        </div>
    </div>

    


