<nav
    class="navbar navbar-expand-lg navbar-light"
    [ngClass]="{ 'bg-light': !isThatCabinetPage }"
    style="background-color: #e3f2fd"
    aria-label="Eighth navbar example"
>
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="[shared.showMainButton() ? '/' : '/cabinet']">
            <img height="30px" width="24px" src="assets/images/logo.png" alt="" class="d-inline-block align-text-top" />
            <div class="site-headline adaptive-text-size desktop-view">
                {{ headlineLimiter(mainService.shopInfo.shortDescr) }}
            </div>
            <div *ngIf="showHeadline" class="site-headline adaptive-text-size mob-view">
                {{ headlineLimiter(mainService.shopInfo.shortDescr) }}
            </div>
        </a>
        <app-search-bar class="desktop-view" (status)="showHideSearch($event)"></app-search-bar>
        <app-search-bar
            (status)="searchBarStatus.next($event)"
            class="mob-view"
            (status)="showHideSearch($event)"
        ></app-search-bar>
        <button
            (click)="shared.openPersonalMenu(2)"
            *ngIf="shared.isSlideshowEnabled() && !(searchBarStatus | async) && (env.checkPermission('site-settings') | async)"
            [ngStyle]="{
                backgroundColor: this.siteSettings.getFrozeSetting(this.router.url)
                    ? 'lightgray'
                    : 'white'
            }"
            class="mob-view btn btn-light main-button"
        >
            {{ local.getTranslate("site-settings", "Настройки сайта") }}
        </button>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample07"
            aria-controls="navbarsExample07"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="radio-menu" *ngIf="shared.showMainButton() && (isAuthenticated | async)">
                    <div routerLink="/" class="form-check">
                        <input
                            class="form-check-input pointer"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                            [checked]="hideCabinet"
                        />
                        <label [class.bold]="hideCabinet" class="form-check-label pointer" for="flexRadioDefault1">
                            {{ local.getTranslate("main_page", "НА ГЛАВНУЮ") }}
                        </label>
                    </div>
                    <div routerLink="/cabinet" class="form-check">
                        <input
                            class="form-check-input pointer"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault2"
                            [checked]="isThatCabinetPage"
                        />
                        <label
                            [class.bold]="isThatCabinetPage"
                            class="form-check-label pointer"
                            for="flexRadioDefault2"
                        >
                            {{ local.getTranslate("personal_cab", "ЛИЧНЫЙ КАБИНЕТ") }}
                        </label>
                    </div>
                </li>

                <li *ngIf="isThatCabinetPage" class="nav-item">
                    <!-- <a class="nav-link active adaptive-text-size" *ngIf="shared.showMainButton()" aria-current="page" style="font-weight: bold;" [routerLink]="['/']">{{local.getTranslate('main_page','НА ГЛАВНУЮ')}}</a> -->
                    <a
                        (click)="shared.openNewAdvert()"
                        *ngIf="state.$getShopInfo.showAddingButton | async"
                        class="nav-link active cart-mobile advert-page"
                        routerLink="/cabinet"
                        >{{ local.getTranslate("add_advert", "РАЗМЕСТИТЬ ОБЬЯВЛЕНИЕ") }}</a
                    >
                </li>
                <a
                    *ngIf="isRepeatButton && isThatCabinetPage"
                    class="nav-link active"
                    style="font-weight: bold"
                    aria-current="page"
                    [routerLink]="['/repeat']"
                    >{{ local.getTranslate("repeat", "ПОВТОРИТЬ") }}</a
                >
                <a
                    *ngIf="isThatCabinetPage && isStudy"
                    class="nav-link active"
                    style="font-weight: bold"
                    aria-current="page"
                    [routerLink]="['/study']"
                    >{{ local.getTranslate("learn", "Выучить") }}</a
                >
                <!-- <li *ngIf="isThatCabinetPage" class="nav-item">
          <a routerLink="/catcabinet" style="font-weight: bold;" class="nav-link active" aria-current="page">Все обьявления</a>
        </li> -->
                <li *ngIf="hideCabinet" class="nav-item">
                    <div *ngIf="isAuthenticated | async; else notAuth"></div>
                    <a
                        (click)="shared.openNewAdvert()"
                        *ngIf="state.$getShopInfo.showAddingButton | async"
                        class="nav-link active cart-mobile advert-page"
                        routerLink="/cabinet"
                        >{{ local.getTranslate("add_advert", "РАЗМЕСТИТЬ ОБЬЯВЛЕНИЕ") }}</a
                    >

                    <ng-template #notAuth>
                        <a (click)="shared.openAuth()" class="nav-link">{{ local.getTranslate("ti_Page", "Войти") }}</a>
                    </ng-template>
                </li>
                <!-- <li class="nav-item">
          <a class="nav-link" *ngIf="!isThatCabinetPage && showBasket" (click)="cartClick()" tabindex="-1" aria-disabled="true">Корзина</a>
        </li> -->
            </ul>

            <form
                *ngIf="isAuthenticated | async"
                class="d-flex flex-column justify-content-center align-items-center ml-2"
            >
                <ng-container *ngIf="!title">
                    <span class="adaptive-text-size" *ngIf="isThatCabinetPage">{{
                        local.getTranslate("personal_cab", "ЛИЧНЫЙ КАБИНЕТ")
                    }}</span>
                    <span class="adaptive-text-size" *ngIf="isThatCabinetPage"
                        >{{ local.getTranslate("hello", "Здравствуйте") }}, {{ userName }}</span
                    >
                </ng-container>
                <span class="adaptive-text-size" *ngIf="title">{{ local.getTranslate(title, "Карта") }}</span>
            </form>
            <a
                *ngIf="isRepeatButton && !isThatCabinetPage"
                class="nav-link"
                style="color: rgba(0, 0, 0, 0.5); font-weight: bold"
                aria-current="page"
                [routerLink]="['/repeat']"
            >
                {{ local.getTranslate("repeat", "ПОВТОРИТЬ") }}</a
            >
            <!-- <form class="d-flex flex-column align-items-center">
        <span *ngIf="!isThatCabinetPage">{{mainService.shopInfo.welcome}}!</span>
        <span *ngIf="isThatCabinetPage">{{local.getTranslate("hello","Здравствуйте")}}, {{ authService.Account.fio }}!</span>
      </form> -->

            <form class="d-flex" style="margin-left: auto; align-items: center; justify-content: space-between">
                <button
                    (click)="shared.openPersonalMenu(2)"
                    [ngStyle]="{
                        backgroundColor: this.siteSettings.getFrozeSetting(
                            this.siteSettings.getDepartmentTypeByRoute(this.router.url)
                        )
                            ? 'lightgray'
                            : 'white'
                    }"
                    *ngIf="shared.isSlideshowEnabled() && (env.checkPermission('site-settings') | async)"
                    class="btn btn-light main-button"
                >
                    {{ local.getTranslate("site-settings", "Настройки сайта") }}
                </button>
                <menu-header></menu-header>
                <div class="cart" (click)="shared.openNewAdvert()" *ngIf="showAddingButton">
                    <button class="btn btn-primary ml-2 mr-2 advert-page adv-btn select-btn" type="submit">
                        <span class="add-commoduty-btn">
                            {{ local.getTranslate("add_advert", "РАЗМЕСТИТЬ ОБЬЯВЛЕНИЕ") }}
                        </span>
                    </button>
                </div>
                <!-- <a *ngIf="showAdvLink" target="_blank" href="{{generateAdvLink}}">
            <img src="assets/images/logo1.jpg" style="border: 1px gray solid; border-radius: 5px;" height="45px" alt=""  class="d-inline-block align-text-top">
          </a> -->
                <div
                    *ngIf="showBasket && (env.checkPermission('show_cart') | async)"
                    (click)="cartClick()"
                    style="height: 35px; cursor: pointer; margin-left: 14px"
                >
                    <div class="header_list__item--basket">
                        <div class="basket">
                            <img style="height: 40px; width: 40px; color: #179590" src="assets/images/cart2.svg" />
                            <!-- <i style="transform: scale(2);" class="fa fa-shopping-cart"></i> -->
                        </div>
                    </div>
                </div>
                <form
                    *ngIf="showBasket && (env.checkPermission('show_cart') | async)"
                    class="d-flex flex-column justify-content-end align-items-end ml-2"
                >
                    <!-- <span class="cart">Сумма товаров: {{orderService.countSum()}} {{local.getTranslate("rub","руб")}}</span> -->
                    <span class="cart"> {{ orderService.countSum() }} {{ local.getTranslate("rub", "руб") }}</span>
                    <span class="cart"> {{ orderService.countKol() }} {{ local.getTranslate("count", "шт") }}</span>
                    <span class="cart-mobile">
                        {{ orderService.countSum() }} {{ local.getTranslate("rub", "руб") }}</span
                    >
                    <span class="cart-mobile">
                        {{ orderService.countKol() }} {{ local.getTranslate("count", "шт") }}</span
                    >
                    <!-- <span class="cart">Количество: {{orderService.countKol()}} {{local.getTranslate("count","шт")}}</span> -->
                </form>
                <div class="localize">
                    <app-change-language></app-change-language>
                </div>
                <button
                    *ngIf="isAuthenticated | async"
                    class="btn-link sort-button"
                    (click)="shared.openPersonalMenu(3)"
                >
                    <i class="fa fa-filter"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
