nav {
    border-bottom: 0.5px #127387 solid;
}
.background-cabinet {
    background-color: "#e3f2fd" !important;
}

.bold {
    font-weight: bold;
}

.radio-menu {
    margin-left: 10px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.selected-item {
    text-decoration: underline;
    color: blue !important;
}
.adv-btn {
    width: 115px;
    @media screen and (max-width: 1124px) {
        width: 95px;
    }
}

.advert-page {
    font-weight: bold;
    text-transform: uppercase;
}

.desktop-view,
.mob-view {
    display: none;
}

.cart,
.cart-mobile {
    display: none;
}
@media screen and (min-width: 600px) {
    .cart,
    .desktop-view {
        display: block;
    }
}
@media screen and (max-width: 599px) {
    .cart-mobile,
    .mob-view {
        display: block;
    }
}
.main-button {
    border: 1px lightblue solid;
}
.navbar-brand {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.site-headline {
    margin-left: 4px;
    max-width: 320px;
    white-space: normal;
}
.nav-link {
    cursor: pointer;
}

.localize {
    display: inline-block;
    margin-left: 5px;
}

.sort-button {
    width: 40px;
    display: flex;
    color: #179590;
    justify-content: center;
    text-decoration: none;
    i {
        transform: scale(1.5);
    }
}
