*{
	margin: 0;
	padding: 0;
}

#main-content {
  padding: 0 15px;
  overflow: auto;
  @media screen and (max-width: 1079px) {
    padding: 0px;
  }
  .showSpinner {
    position: fixed;
    top: 50%;
    left: 48%;
    right: 48%;
    z-index: 5000;

    i {
      font-size: 60px;
      color: #5c646b;
      animation: fa-spin 2s infinite linear;
    }
  }

  .breadcrumbs_container {
    z-index: -1000;
  //  margin-bottom: 80px;
  //   @media screen and (min-width: 1188px) and (max-width: 1298px) {
  // //    margin-bottom: 80px;
  //     }

  }

  app-mobile-categories, app-breadcrumbs {
    display: none;
  }
  @media screen and (min-width: 1080px) {
    app-breadcrumbs {
      display: block;
    }
  }
  @media screen and (max-width: 1079px) {
    app-mobile-categories {
      display: block;
    //  margin: 0px 10px 3px 10px;
    }
  }

  .copy-control{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-bottom: 8px;
    justify-content: center;
    span {

    }
    div, button, a{
      text-decoration: none;
      width: auto;
      padding: 0px 5px;
      text-align: center;
      background-color: aliceblue;
      margin-left: 1px;
      color: #212529;
      border: 1px blue solid;
      cursor: pointer;
      &:hover{
        background-color: lightblue;
        font-weight: bold;
      }
    }
    .title{
      background-color: #c9c0c0;
      cursor: alias;
      border: none;
      margin-right: 3px;
      padding: 1px 3px;
      height: 24.5px;
      &:hover{
        background-color: #c9c0c0;
      }
    }
  }



  .products_list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 0 auto;
    min-height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    @media screen and (max-width: 1079px) {
      padding: 0px;
    }
    &__item {
      width: 220px;
      position: relative;
      @media screen and (min-width: 300px) and (max-width: 320px) {
        width: 135px;
        margin: 3px;
      }
      @media screen and (min-width: 320px) and (max-width: 360px) {
        width: 147px;
        margin: 3px;
      }
      @media screen and (min-width: 360px) and (max-width: 370px) {
        width: 173px;
        margin: 3px;
      }
      @media screen and (min-width: 371px) and (max-width: 380px) {
        width: 178px;
        margin: 3px;
      }
      @media screen and (min-width: 381px) and (max-width: 400px) {
        width: 182px;
        margin: 3px;
      }
      @media screen and (min-width: 401px) and (max-width: 440px) {
        width: 193px;
        margin: 3px;
      }
      @media screen and (min-width: 441px) and (max-width: 480px) {
        width: 210px;
        margin: 3px;
      }

      margin: 5px 9px;
      .days{
        padding: 0px 2px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: .7;
        position: absolute;
        left: 0px;
        top: 0px;
        cursor: pointer;
      }
      .created-date{
        padding: 0px 2px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        position: absolute;
        right: 0px;
        top: 116px;
      }
      .multi-copy {
            color: white;
            padding: 0px 4px;
            font-weight: bold;
            opacity: 1;
            position: absolute;
            right: 0px;
            top: 0px;
            input{
              border: 2px blue solid;
              transform: scale(1.5);
              cursor: pointer;
              &:focus {
                color: #000000;
                border: 1px solid #000000
              }
            }
      }

      &--main {
        background: #ffffff;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px #179590 solid;
        border-radius: 3px 3px 0 0;
          img {
            max-width: 100%;
            height: auto;
            max-height: 138px;
            cursor: pointer;
          }
      }

      &--footer {
        background: #179590;
        padding: 12px 8px 13px 8px;
        color: #ffffff;
        border-radius: 0 0 7px 7px;
        min-height: 90px;
        height: auto;

        h4 {
          font-size: 19px;
          word-break: break-word;
          cursor: pointer;
          line-height: 1;
        //  height: 38px;
          overflow: hidden;
        }

        > .price {
          display: flex;
          min-height: 25px;
          justify-content: space-between;
          align-items: center;
          margin-top: 4px;

          p {
            font-size: 17px;
          }

          .add_cart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px 3px;
            filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
            cursor: pointer;

            span {
              font-size: 17px;
            }

            &.in_cart {
              i {
                padding: 0 5px;
              }

              cursor: auto;
            }
          }
        }
      }
    }
  }

  #fon-image {
    background-size: cover !important;
    position: relative;
    min-height: calc(100vh);
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .limiter{
      max-width: 1200px;
      width: 100%;
    }
  }

  .breadcrumbs_search {
    text-transform: uppercase;
    padding: 5px 4px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #5b5b5b;
    opacity: 0.8;
    width: 275px !important;
    text-align: center;
    @media screen and (max-width: 1100px) {
      width: 0 auto;
    }
    width: auto;
    color: white;
    cursor: pointer;
}

  .showMessage {
    position: fixed;
    top: 40%;
    left: 48%;
    right: 48%;
    z-index: 2;

    i {
      font-size: 60px;
      color: #68b0e4;
    }
  }

  .showMessageTxt {
    position: fixed;
    top: 50%;
    left: 30%;
    right: 30%;
    z-index: 3;
    width: 40%;
    text-align: center;
  }

  .pagination_header{
    //display: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      margin: 5px 0px 10px 0px;
    //  display: flex;
    }
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .pagination_list {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 10px 0px 115px 0px;
    justify-content: center;

    &__item {
      background-color: #127688;
      color: white;
      padding: 6px;
      font-size: 15px;
      margin: 0 1px;
      padding: 4px 6px 6px;
      min-width: 26px;
      text-align: center;
      &.disabled {
        color: rgb(156, 156, 156);
      }
      &.current {
        background-color: #23bab5;
      }
    }
  }
}

.button_up{
  padding: 2px 8px;
  border: 1px black solid;
  border-radius: 50px;
  font-weight: bold;
  background-color: red;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  @media screen and (min-width: 300px) and (max-width: 360px) {
    padding: 0px 4px;
    span{
      font-size: 13px;
    }
  }
}

.control-buttons{
  display: flex;
  min-height: 25px;
  justify-content: space-between;
  div {
    cursor: pointer;
    &:hover{
      transform: scale(1.3);
    }
  }
}

.description-text {
  display: flex; 
  align-items: center; 
  align-items: baseline;
  height: 37px;
  margin-bottom: auto;

  .text{
    font-size: 19px;
    line-height: 1;

  @media screen and (min-width: 301px) and (max-width: 400px) {
      font-size: 15px;
  }

  @media screen and (min-width: 401px) and (max-width: 440px) {
    font-size: 17px;
  }
  @media screen and (min-width: 441px) and (max-width: 480px) {
    font-size: 18px;
  }
  }

}

.copy{
  padding: 3px 5px;
  // border: 1px black solid;
  // border-radius: 10px;
  font-weight: bold;
  // box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  @media screen and (min-width: 300px) and (max-width: 360px) {
    padding: 0px 4px;
    span{
      font-size: 13px;
    }
  }
}

.button_delete{
  @extend .button_up;
  font-weight: bold;
  color: white;
}

.empty_directory{
  @media screen and (min-width: 600px) {
    margin-top: 300px;
    display: block;
  }
  @media screen and (max-width: 1081px) { // 600
   // margin-top: 50px;
   display: none;
  }
  text-align: center;
  span{
    padding: 10px 10px;
    background-color: #5b5b5b;
    color: white;
    font-size: 22px;
  }
}
.empty_search{
  @media screen and (min-width: 600px) {
    margin-top: 300px;
    display: block;
  }
  @media screen and (max-width: 1081px) { // 600
   margin-top: 50px;
   display: block;
  }
  text-align: center;
  span{
    padding: 10px 10px;
    background-color: #5b5b5b;
    color: white;
    font-size: 22px;
    @media screen and (max-width: 1081px) { // 600
      font-size: 16px;
     }
  }
}

.detail{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.conditionalOpen{
  overflow: auto;
  background-color: #179590;
  display: inline-block;
  -webkit-animation: conditionalOpen 0.3s normal forwards ease-in-out;
  -moz-animation: conditionalOpen 0.3s normal forwards ease-in-out;
  animation: conditionalOpen 0.3s normal forwards ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.conditionalClose {
  display: inline-block;
  -webkit-animation: conditionalClose 0.3s normal forwards ease-in-out;
  -moz-animation: conditionalClose 0.3s normal forwards ease-in-out;
  animation: conditionalClose 0.3s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}


@-webkit-keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}
@-moz-keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}
@keyframes conditionalOpen {
  from { transform: scaleY(0) }
  to { transform: scaleY(1) }
}

@-webkit-keyframes conditionalClose {
  from { transform: scaleY(1) }
  to { transform: scaleY(0) }
}
@-moz-keyframes conditionalClose {
  from { transform: scaleY(1) }
  to { transform: scaleY(0) }
}
@keyframes conditionalClose {
  from { transform: scaleY(1) }
  to { transform: scaleY(0) }
}