<ng-container *ngIf="showDetail">
    <div id="closer-detail" [ngClass]="{ conditionalOpen: showDetail }" class="detail">
        <detail-advert
            [mode]="selectedMode"
            [gallery]="product.gallery"
            (close)="closeDetail()"
            [advId]="advId"
            [catId]="catId"
            [fromUrl]="router.url"
        ></detail-advert>
    </div>
</ng-container>

<div id="fon-image">
    <div *ngIf="!showCopyComponent">
        <app-navbar id="header"></app-navbar>
        <div id="main-content">
            <div class="showMessage" *ngIf="showSpinner">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="showMessageTxt" *ngIf="message.text">
                <div class="alert alert-{{ message.type }}">
                    {{ message.text }}
                </div>
            </div>

            <div
                id="breadcrumbs"
                *ngIf="!isCabinetPage && selectedMode === undefined"
                class="breadcrumbs_container"
            >
                <app-breadcrumbs (click)="breadcrumbsClick($event)" [categories]="categories"></app-breadcrumbs>
            </div>

            <app-mobile-categories
                *ngIf="!isCabinetPage && selectedMode === undefined"
                [initialCategories]="categories"
                [categories]="
                    (isCabinet() ? categoriesService.userCategories$ : categoriesService.mainCategories$) | async
                "
                (lastChildAction)="navigateToCategory($event)"
                (clickAction)="clearItems($event)"
            ></app-mobile-categories>
            <div class="wrapper">
                <div [ngSwitch]="selectedMode" class="limiter">
                    <div *ngSwitchCase="selectedModes.SEARCH" (click)="goToMainSearch()" class="breadcrumbs_search">
                        {{ local.getTranslate("catalog", "каталог") }} <i class="fa fa-angle-right"></i>
                        {{ local.getTranslate("search_results", "результаты поиска") }}
                    </div>
                    <div *ngSwitchCase="selectedModes.REPEAT" routerLink="/" class="breadcrumbs_search">
                        {{ local.getTranslate("catalog", "каталог") }} <i class="fa fa-angle-right"></i>
                        {{ local.getTranslate("repeat_sv", "повторение") }}
                    </div>
                    <div *ngSwitchCase="selectedModes.STUDY" routerLink="/" class="breadcrumbs_search">
                        {{ local.getTranslate("catalog", "каталог") }} <i class="fa fa-angle-right"></i>
                        {{ local.getTranslate("learn", "выучить") }}
                    </div>
                    <div *ngSwitchCase="selectedModes.DICTIONARY" (click)="goToMainSearch()" class="breadcrumbs_search">
                        {{ local.getTranslate("catalog", "каталог") }} <i class="fa fa-angle-right"></i>
                        {{ local.getTranslate("dictionary", "мой словарь") }}
                    </div>
                </div>
            </div>

            <pagination-template
                class="pagination_header noselect"
                #p="paginationApi"
                (pageChange)="paginateConfig.currentPage = $event"
                *ngIf="!showSpinner && product.gallery.length !== 0"
            >
                <ng-container *ngIf="p.getLastPage() !== 1">
                    <div class="pagination_list__item" (click)="p.previous()" [class.disabled]="p.isFirstPage()">
                        {{ local.getTranslate("to_previous", "Предыдущая") }}
                    </div>
                    <div
                        class="pagination_list__item"
                        [class.current]="p.getCurrent() === page.value"
                        *ngFor="let page of p.pages"
                        (click)="p.setCurrent(page.value); moveToUp()"
                    >
                        {{ page.label }}
                    </div>
                    <div class="pagination_list__item" (click)="p.next()" [class.disabled]="p.isLastPage()">
                        {{ local.getTranslate("to_next", "Следующая") }}
                    </div>
                </ng-container>
            </pagination-template>
            <div *ngIf="copyAdverts.copyMode" class="copy-control">
                <div (click)="copyAdverts.clearData()">
                    {{ local.getTranslate("clear", "очистить") }}
                </div>
                <div (click)="copyAdverts.cancelCopy()">
                    {{ local.getTranslate("cancel", "отмена") }}
                </div>
                <a (click)="copyAdverts.selectAll()">
                    {{ local.getTranslate("select_all", "выбрать все") }}
                </a>
                <a *ngIf="copyAdverts.count > 0" routerLink="/copy">
                    {{ local.getTranslate("copy_sv", "скопировать") }} ({{ copyAdverts.count }})
                    {{ local.getTranslate("count", "шт") }}
                </a>
            </div>
            <div *ngIf="repeatService.repeatMode" class="copy-control">
                <div (click)="repeatService.clearData()">
                    {{ local.getTranslate("clear", "очистить") }}
                </div>
                <div (click)="repeatService.cancel()">
                    {{ local.getTranslate("cancel", "отмена") }}
                </div>
                <a (click)="repeatService.selectAll()">
                    {{ local.getTranslate("select_all", "выбрать все") }}
                </a>
                <a *ngIf="repeatService.count > 0" (click)="repeatService.doRepeat()">
                    {{ local.getTranslate("repeat", "повторить") }} ({{ repeatService.count }})
                </a>
            </div>
            <div *ngIf="moveAdvers.moveMode && isCabinet()" class="copy-control">
                <div (click)="moveAdvers.clearData()">
                    {{ local.getTranslate("clear", "очистить") }}
                </div>
                <div (click)="moveAdvers.cancel()">
                    {{ local.getTranslate("cancel", "отмена") }}
                </div>
                <a (click)="moveAdvers.selectAll()">
                    {{ local.getTranslate("select_all", "выбрать все") }}
                </a>
                <a *ngIf="moveAdvers.count > 0" (click)="moveAdvers.move()">
                    {{ local.getTranslate("move", "переместить") }} ({{ moveAdvers.count }})
                </a>
            </div>
            <ng-container *ngIf="!showSpinner && product.gallery && product.gallery.length !== 0">
                <div *ngIf="siteSettings.isShuffleContent() | async" class="copy-control">
                    <button (click)="product.shuffle()">
                        {{ local.getTranslate("shuffle_all", "перемешать контент") }}
                    </button>
                    <button *ngIf="product.shuffleApplied" (click)="product.cancelShuffle()">
                        {{ local.getTranslate("cancel", "отмена") }}
                    </button>
                    <button (click)="product.cancelShuffle(); siteSettings.isShuffleState()">
                        {{ local.getTranslate("close", "закрыть") }}
                    </button>
                </div>
            </ng-container>

            <div *ngIf="dollService.dollMode && isCabinet()" class="copy-control first-title">
                <span class="title" *ngIf="!dollService.buildedAdverts.length">Сбор обьявлений (1/2 этап)</span>
                <span class="title" *ngIf="dollService.buildedAdverts.length"
                    >Выбор конечного обьявления (2/2 этап)</span
                >
                <div (click)="dollService.clearData()">
                    {{ local.getTranslate("clear", "очистить") }}
                </div>
                <div (click)="dollService.cancel()">
                    {{ local.getTranslate("cancel", "отмена") }}
                </div>
                <a *ngIf="!dollService.buildedAdverts.length" (click)="dollService.selectAll()">
                    {{ local.getTranslate("select_all", "выбрать все") }}
                </a>
                <a
                    *ngIf="dollService.count > 0 && dollService.buildedAdverts.length === 0"
                    (click)="dollService.build()"
                >
                    {{ local.getTranslate("put_together", "Собрать") }} ({{ dollService.count }})
                </a>
                <a
                    *ngIf="dollService.count > 0 && dollService.buildedAdverts.length"
                    (click)="dollService.createDoll()"
                >
                    {{ local.getTranslate("make_doll", "Создать матрешку") }}
                </a>
            </div>

            <div
                *ngIf="!showDetail"
                [ngStyle]="{ visibility: product.gallery.length !== 0 ? 'visible' : 'hidden' }"
                class="products_list"
            >
                <div
                    class="products_list__item"
                    *ngFor="let product of product.gallery | paginate: paginateConfig"
                    [id]="product.prc_ID"
                >
                    <div class="products_list__item--main">
                        <image-loader (click)="detail(product)" [image]="shared.checkNoImageLink(product.image_Base)">
                        </image-loader>
                        <!-- <img (click)="detail(product)" [src]="shared.checkNoImageLink(product.image_Base)" alt=""> -->
                        <div
                            *ngIf="
                                copyAdverts.copyMode ||
                                repeatService.repeatMode ||
                                moveAdvers.moveMode ||
                                dollService.dollMode
                            "
                            class="multi-copy"
                        >
                            <input
                                *ngIf="copyAdverts.copyMode"
                                [checked]="copyAdverts.has(product)"
                                (click)="copyAdverts.put(product)"
                                type="checkbox"
                            />
                            <input
                                *ngIf="repeatService.repeatMode"
                                [checked]="repeatService.has(product)"
                                (click)="repeatService.put(product)"
                                type="checkbox"
                            />
                            <input
                                *ngIf="
                                    moveAdvers.moveMode &&
                                    isCabinet() &&
                                    (shared.isAdmin || shared.isAdvOwner(product.creater_ID))
                                "
                                [checked]="moveAdvers.has(product)"
                                (click)="moveAdvers.put(product)"
                                type="checkbox"
                            />
                            <input
                                *ngIf="dollService.dollMode"
                                [checked]="dollService.has(product)"
                                (click)="dollService.put(product)"
                                type="checkbox"
                            />
                        </div>
                        <span
                            *ngIf="product.createdAt && product.createdAt != '0001-01-01T00:00:00'"
                            class="created-date"
                            >{{ product.createdAt | date: "dd.MM.yyyy" }}</span
                        >
                        <span *ngIf="showDate && isCabinet()" class="days">{{ convDate(product.gdate) }}</span>
                    </div>
                    <div class="products_list__item--footer">
                        <div *ngIf="shared.isAdmin || isCabinet()" class="control-buttons">
                            <!-- <span *ngIf="shared.isAdmin || (isCabinet() && shared.isAdvOwner(product.creater_ID))"></span> -->
                            <div
                                *ngIf="shared.isAdmin || (isCabinet() && isEditing)"
                                [matTooltip]="'копировать обьявление'"
                                (click)="copy(product)"
                            >
                                <i class="fa fa-copy"></i>
                            </div>
                            <div
                                *ngIf="shared.isAdmin || (isCabinet() && shared.isAdvOwner(product.creater_ID))"
                                (click)="fastEdit(product, fastModyfyType.EDIT_TITLE)"
                                [matTooltip]="'редактировать название'"
                            >
                                <i class="fa fa-edit"></i>
                            </div>
                            <div
                                *ngIf="shared.isAdmin || (isCabinet() && shared.isAdvOwner(product.creater_ID))"
                                (click)="fastEdit(product, fastModyfyType.EDIT_AUDIO)"
                                [matTooltip]="'редактировать аудио'"
                            >
                                <i class="fa fa-microphone"></i>
                            </div>
                            <div
                                *ngIf="shared.isAdmin || (isCabinet() && canModifyAdvert(product))"
                                (click)="deleteProduct(product)"
                                [matTooltip]="'удалить'"
                            >
                                <img height="25px" src="assets/images/delete-new.svg" alt="delete" class="src">
                            </div>
                        </div>
                        <div class="description-text">
                            <span class="text" [matTooltip]="product.tName" (click)="detail(product)">
                                {{ titleLimiter(product.tName) }}
                            </span>
                            <!-- modifyAdverts.modifyMode && shared.isAdvOwner(product.creater_ID) -->
                            <!-- *ngIf="modifyAdverts.modifyMode" -->
                        </div>
                        <div class="price">
                            <p *ngIf="product.prc_Br">{{ replacePrice(product.prc_Br) }}</p>
                            <audio-player
                                *ngIf="product.mediaLink"
                                [short]="true"
                                [autoPlay]="false"
                                [file]="product.mediaLink"
                            ></audio-player>
                            <div *ngIf="!isCabinet()">
                                <div
                                    class="add_cart"
                                    *ngIf="!orderService.containsProduct(product.prc_ID); else inCart"
                                    (click)="addToCart(product)"
                                >
                                    <!-- <span *ngIf="false">{{ local.getTranslate("to_cart", "В корзину") }}</span> -->
                                    <img
                                        *ngIf="checkPrice(product.prc_Br)"
                                        height="20px"
                                        src="/assets/images/cart.png"
                                        alt=""
                                        class="src"
                                    />
                                </div>
                                <ng-template #inCart>
                                    <div class="add_cart in_cart">
                                        <i class="fa fa-check"></i>
                                        <span *ngIf="false">{{
                                            local.getTranslate("to_cart_already", "В корзине")
                                        }}</span>
                                        <img height="20px" src="/assets/images/cart.png" alt="" class="src" />
                                    </div>
                                </ng-template>
                            </div>
                            <div class="button_up" *ngIf="isCabinet() && false">
                                <i class="fa fa-hand-point-up"></i>
                                <span>{{ local.getTranslate("to_up", "Поднять") }}</span>
                            </div>
                            <!-- <div
                            (click)="deleteProduct(product)"
                            class="button_delete"
                            *ngIf="shared.isAdmin || (isCabinet() && canModifyAdvert(product))"
                        >
                            <i class="fa fa-trash"></i>
                          
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="product.gallery.length == 0 && !showSpinner && !isSearch" class="empty_directory">
                <span>{{
                    isSearch
                        ? local.getTranslate("not_found", "ничего не найдено")
                        : local.getTranslate("cat_empty", "Раздел каталога пустой")
                }}</span>
            </div>

            <div *ngIf="product.gallery.length == 0 && !showSpinner && isSearch" class="empty_search">
                <span>{{
                    isSearch
                        ? local.getTranslate("not_found", "ничего не найдено")
                        : local.getTranslate("cat_empty", "Раздел каталога пустой")
                }}</span>
            </div>

            <pagination-template
                class="pagination_list noselect"
                #p="paginationApi"
                (pageChange)="paginateConfig.currentPage = $event"
                *ngIf="!showSpinner && product.gallery.length !== 0"
            >
                <ng-container *ngIf="p.getLastPage() !== 1">
                    <div
                        class="pagination_list__item"
                        (click)="p.previous(); moveToUp()"
                        [class.disabled]="p.isFirstPage()"
                    >
                        {{ local.getTranslate("to_previous", "Предыдущая") }}
                    </div>
                    <div
                        class="pagination_list__item"
                        [class.current]="p.getCurrent() === page.value"
                        *ngFor="let page of p.pages"
                        (click)="p.setCurrent(page.value); moveToUp()"
                    >
                        {{ page.label }}
                    </div>
                    <div class="pagination_list__item" (click)="p.next(); moveToUp()" [class.disabled]="p.isLastPage()">
                        {{ local.getTranslate("to_next", "Следующая") }}
                    </div>
                </ng-container>
            </pagination-template>
        </div>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </div>
</div>
