.showRecorder {
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px 14px;
}

.creation {
    display: flex;
    position: relative;
    background: #f0f1f3;
    padding: 2px 5px 2px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    width: 180px !important;
    .record_active {
        position: absolute;
        top: -30px;
        background: white;
        padding: 2px 5px;
        border-radius: 4px;
        color: red;
        font-weight: bolder;
    }
    div {
        display: flex;
        justify-content: center;
    }
    button {
        background: none;
        border: none;
        box-shadow: none;
        color: #fff;
    }
    .delete {
        button {
            height: 40px;
        }
    }
    .menu {
        button {
            background: #bbc9d1;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: #fff;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        button:focus {
            outline: none;
        }
    }
    .voice {
        border-radius: 50%;
        button {
            height: 40px;
            img {
                border-radius: 50%;
            }
            // &:after{
            //   content: url(../../../../assets/img/voice.svg);
            // }
        }
    }

    .control-btn {
        height: 40px;
    }
}

.form-buttons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}
