<button class="showRecorder" *ngIf="!showRecorder" (click)="showRecorder =!showRecorder">прикрепить голосовое сообщение</button>
<div *ngIf="showRecorder" class="creation">
  <div *ngIf="isRecording" class="record_active">идет запись</div>
  <div class="delete">
    <button type="button" class="deleteButton" (click)="clearRecordedData()">
      <img class="control-btn" src="assets/images/delete.svg">
    </button>
  </div>
  <div class="menu">
    <button type="button" class="menuButton" (click)="pauseRec()" *ngIf="isRecording">
      <img src="assets/images/record2.gif" alt="" height="40px" class="src">
    </button>
    <button type="button" class="menuButton" *ngIf="!blobUrl && !isRecording">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <button type="button" class="menuButton" *ngIf="blobUrl && !vocal_playing && !isRecording" (click)="playRec()" >
      <img class="control-btn" src="assets/images/play.svg">
    </button>
    <button type="button" class="menuButton" *ngIf="blobUrl && vocal_playing && !isRecording" (click)="pauseRec()" >
      <img class="control-btn" src="assets/images/pause_vocal.png">
    </button> 
  </div>
  <div class="voice">
    <button type="button" *ngIf="!isRecording" (click)="startRec()">
      <img class="control-btn" src="assets/images/voice.svg">
    </button>
    <button type="button" *ngIf="isRecording" (click)="stopRec()">
      <img class="control-btn" src="assets/images/voiceStop.svg">
    </button>
  </div>
</div>
<div class="form-buttons">
    <button type="submit" class="btn btn-secondary btn-sm" (click)="save()">
       Сохранить <i class="fa fa-save"></i>
    </button>
    <button type="submit" class="btn btn-info btn-sm" (click)="close()">Отмена</button>
</div>