
<div [ngStyle]="{'visibility': images.length !== 0 && currentPage > 1 ? 'visible' : 'hidden'}" class="arrows prew">
    <i (click)="move(0)" class="fa fa-chevron-left" aria-hidden="true"></i>
</div>
<div *ngIf="images.length" class="slider-images">
    <div class="imgItem" *ngFor="let item of images;index as i" >
        <div *ngIf="modifyAdverts.fastEditKey === videoType" (click)="videoClick(item)" class="video-button"></div>
    <div (click)="mouseOverImg(item,i)" class="order">
        <div class="slide" [ngClass]="{'selectedAddImg': selectedImg === item.t_image}">
            <div *ngIf="item.video" class="video-icon"></div>
            <div *ngIf="item.audio" class="audio-icon"></div>
        <span>
            {{item.index}}
        </span>
    </div>
    </div>
    </div>
</div>
<div [ngStyle]="{'visibility': images.length !== 0 && this.totalPages > this.currentPage && additionalImages.length > 5 ? 'visible' : 'hidden'}" class="arrows next">
    <i (click)="move(1)" class="fa fa-chevron-right" aria-hidden="true"></i>
</div>
