/* You can add global styles to this file, and also import other style files */
@import "constants.scss";
@font-face {
    font-family: "calibril";
    src: url("/assets/fonts/calibril.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,100&family=Zen+Kurenaido&display=swap");

.swal2-popup {
    width: auto !important;
    video,
    img {
        max-width: 80% !important;
    }
}

.white_link {
    color: white !important;
    text-decoration: none;
}

.adaptive-text-size {
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Zen Kurenaido", sans-serif;
    display: flex;
    font-size: 14px;
    align-items: center;
    @media screen and (max-width: 1124px) {
        font-size: 14px;
    }
    @media screen and (max-width: 370px) {
        font-size: 13px;
    }
}

.add-commoduty-btn {
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Zen Kurenaido", sans-serif;
    display: flex;
    font-size: 12px;
    align-items: center;
    @media screen and (max-width: 1124px) {
        font-size: 10px;
    }
}

.adaptive-cat-text {
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Zen Kurenaido", sans-serif;
    display: flex;
    font-size: 17px;
    align-items: center;
    @media screen and (max-width: 1124px) {
        font-size: 15px;
    }
}

.select-btn:hover {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transform: scale(1.03);
    background-color: red !important;
}

.uppercase {
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
}
body {
    font-family: "forum" !important;
    height: 100%;
}

.makeItMiddle {
    transform: translate(-50%, -50%);
}

.success-snackbar {
    background: rgb(65, 252, 134);
    color: white;
}
.success-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}
.error-snackbar {
    background: #f44336;
    color: white;
}
.error-snackbar button {
    background-color: #f44336;
    color: white !important;
    border: none;
}

.desktop-view,
.mobile-view {
    display: none !important;
}
@media screen and (min-width: 600px) {
    .desktop-view {
        display: block !important;
    }
}
@media screen and (max-width: 599px) {
    .mobile-view {
        display: block !important;
    }
}

/*begin login, registration, recovery component*/
.modal_window {
    position: absolute;
    z-index: 3;
    //   left: 20%;
    //   right: 20%;
    //   top: 15%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 35px;
    @media only screen and (max-width: 992px) {
        width: 100%;
        //   left: 0;
        //    right: 0;
    }
    @media only screen and (max-height: 700px) {
        overflow-y: auto;
    }
    @media only screen and (max-width: 768px) {
        padding: 6%;
    }
    @media only screen and (max-width: 480px) {
        padding: 7%;
    }
    > i {
        top: 1%;
        right: 1%;
        position: absolute;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }
    .modal_inner {
        background-color: #ffffff;
        padding: 25px 40px;
        border-radius: 10px;
        @media only screen and (max-width: 768px) {
            padding: 25px 20px;
        }
        h2 {
            color: rgba(24, 150, 145, 1);
            font-size: 22px;
            text-align: center;
            margin-bottom: 25px;
        }
        .form-group {
            input {
                width: 100%;
                height: 35px;
                border: 1px solid rgba(24, 150, 145, 1);
                padding-left: 10px;
                font-weight: bold;
            }
            a {
                color: rgba(24, 150, 145, 1) !important;
            }
        }
        .btn-primary {
            background-color: rgba(24, 150, 145, 1) !important;
            border-color: rgba(24, 150, 145, 1) !important;
            :disabled {
                background-color: rgb(5, 202, 195) !important;
                border-color: rgb(5, 202, 195) !important;
            }
        }
    }
    .showMessage {
        text-align: center;
    }
    .showSpinner {
        text-align: center;
        > i {
            color: rgba(24, 150, 145, 1);
            margin-bottom: 25px;
            font-size: 33px;
        }
    }
}
/*end login, registration, recovery components*/

#fon-image {
    //background: url('../../assets/images/fon.png') no-repeat 50% 50%;
    background-size: cover !important;
    position: relative;
    min-height: calc(100vh);
    .data {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: white;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        text-align: left;
        font-size: 41px;
        line-height: 1;
        @media only screen and (max-width: 768px) {
            font-size: 30px;
        }
        p {
            margin: 0;
        }
        .data-time {
            font-size: 80px;
            font-weight: bold;
            font-family: "calibril";
            @media only screen and (max-width: 768px) {
                font-size: 70px;
            }
        }
        .data-month {
            font-weight: bold;
        }
    }
}

h2 {
    color: rgba(24, 150, 145, 1);
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}
.form-group {
    input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(24, 150, 145, 1);
        padding-left: 10px;
    }
    a {
        color: rgba(24, 150, 145, 1) !important;
    }
}
.btn-primary {
    background-color: rgba(24, 150, 145, 1) !important;
    border-color: rgba(24, 150, 145, 1) !important;
    :disabled {
        background-color: rgb(5, 202, 195) !important;
        border-color: rgb(5, 202, 195) !important;
    }

    .form-help-text {
        color: red;
    }
}

.spinner_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 169, 169);
    opacity: 0.7;
    z-index: 1000;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    top: 45%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translate(-50%);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
            0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.coolSpinner {
    // position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation 0.6s infinite linear;
    -moz-animation: rotation 0.6s infinite linear;
    -o-animation: rotation 0.6s infinite linear;
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, 0.15);
    border-right: 6px solid rgba(0, 174, 239, 0.15);
    border-bottom: 6px solid rgba(0, 174, 239, 0.15);
    border-top: 6px solid rgba(0, 174, 239, 0.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.loading {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: "";
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
        rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
        rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    opacity: 1;
    z-index: 999;
}
.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}
.load :first-child {
    background: #19a68c;
    animation-delay: -1.5s;
}
.load :nth-child(2) {
    background: #f63d3a;
    animation-delay: -1s;
}
.load :nth-child(3) {
    background: #fda543;
    animation-delay: -0.5s;
}
.load :last-child {
    background: #193b48;
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: translate(160%);
    }
    50% {
        transform: translate(160%, 160%);
    }
    75% {
        transform: translate(0, 160%);
    }
}

.base-font {
    font-size: 19px;
}

.btn-link {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.center > .mat-simple-snackbar {
    justify-content: center;
    border: 1px blue solid;;
  }
