.mobile_categories {
  background: white;
  margin-bottom: 15px;
  border: 1px white solid;
//  margin-bottom: 85px;
  .categories_header {
    border: 2px solid #189691;
    font-size: 16px;
    font-weight: bold;
    display: none;
    padding: 3px;
  }
  .categories_list {
    font-size: 16px;
    font-weight: bold;
    .category_item {
    //  border-bottom: 2px solid #189691;
      z-index: 7;
      display: block;
      cursor: pointer;
      font-size: 20px;
      height: 50px;
      font-weight: bold;
      padding: 9px 2px;
      height: auto;
      &.edit-mode{
        display: flex;
        align-items: center;
        padding-right: 15px;
      }
      &.edit-clickable-area{
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: center;
      }
      &.selected {
        background: #189691;
        border-bottom: 2px solid white;
        color: white !important;
      }
      &.selected-first {
        background: blue;
        border-bottom: 2px solid white;
        color: white !important;
      }
      &.selected-second {
        background: lemonchiffon;
        border-bottom: 2px solid green;
        color: black !important;
      }
      &.selected-third {
        background: skyblue;
        border-bottom: 2px solid white;
        color: black !important;
      }
      &.selected-fourth {
        background: #1ad3cd;
        border-bottom: 2px solid white;
        color: black !important;
      }
      &.selected-five {
        background: rgb(207, 198, 198);
        border-bottom: 2px solid white;
        color: black !important;
      }
    }
    &.top-level {
      border-right: 2px solid #189691;
      border-left: 2px solid #189691;
    }
  }
}
.selected-item{
  border: 2px white solid;
  padding: 0px 2px;
  border-radius: 4px;
}
.black-border{
  border: 2px black solid;
}
