
<div class="mobile_categories" *ngIf="categories.length > 0">
  <div class="categories_header" style="display: flex; justify-content: space-between;">
    {{local.getTranslate("te_advertPageContainerSwitch","Выберите раздел каталога")}}
    <div *ngIf="editMode" class="category_item edit-clickable-area" style="margin-right: 10px;" (click)="modifyCat(1,{},10)" aria-hidden="true">
      <div class="fa fa-plus" style="margin-left: auto; transform: scale(1.3);"></div>
    </div>
  </div>
  <div class="categories_list top-level" *ngFor="let category of categories, let index = index">
    <a class="category_item"
       [ngClass]="{'edit-mode': editMode}"
       (click)="click(0, category)"
       *ngIf="isShowItem(0, category)"
       style="font-size: 20px"
       [class.selected]="true"
       style="display: flex;"
    >
    <!-- [ngClass]="{'selected-item':selectedCategories.length != 0 && selectedCategories[0].id == category.id}" -->
    <app-checkbox [isArrow]="checkArrow(category)" [isMobileVersion]="true" [showAllCheckbox]="copyModeCatalog" [copy]="copy" *ngIf="subscribeMode && !copyModeCatalog || (copyModeCatalog)" (status)="subscribeResult($event)" [isChecked]="category.isrequest" [catalogData]="category"></app-checkbox> 
    <span class="adaptive-cat-text"> <span class="selected-item">1</span> {{category.txt}}</span>
    <!-- ct.getNewPortalId == mainService.getCustId() -->
    <fill-checkbox class="fill-cat" style="margin-left: auto;" *ngIf="(copyModeCatalog)" [isChecked]="category.isrequest" [catalogData]="category"></fill-checkbox>
    <div *ngIf="editMode" class="category_item edit-clickable-area" (click)="modifyCat(0,category,0)" aria-hidden="true">
      <div class="fa fa-pencil-square-o mt-1" aria-hidden="true" style="margin-left: auto"></div>
    </div>
    </a>
    <div class="list_container" *ngIf="isShowSubitems(0, category) && !copyModeCatalog">
      <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
        <a class="category_item" [ngClass]="{'edit-mode': editMode}"
           (click)="click(1, category)"
           *ngIf="isShowItem(1, category)"
           [class.selected-third]="isSelected(1, category)"
        >
        <app-checkbox [isArrow]="checkArrow(category)" [isMobileVersion]="true" [copy]="copy" *ngIf="subscribeMode" (status)="subscribeResult($event)" [isChecked]="category.isrequest" [catalogData]="category"></app-checkbox> 
        <span class="adaptive-cat-text"> <span class="selected-item">2</span> {{category.txt}}</span>
        <div *ngIf="editMode" class="category_item edit-clickable-area" (click)="modifyCat(0,category,1)" aria-hidden="true">
          <div class="fa fa-pencil-square-o mt-1" aria-hidden="true" style="margin-left: auto"></div>
        </div>
 
      </a>
        <div class="list_container" *ngIf="isShowSubitems(1, category)">
          <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
            <a class="category_item"
               [ngClass]="{'edit-mode': editMode}"
               (click)="click(2, category)"
               *ngIf="isShowItem(2, category)"
               [class.selected-second]="isSelected(2, category)"
            >
            <app-checkbox [isArrow]="checkArrow(category)" [isMobileVersion]="true" [copy]="copy" *ngIf="subscribeMode" (status)="subscribeResult($event)" [isChecked]="category.isrequest" [catalogData]="category"></app-checkbox>
            <span class="adaptive-cat-text"> <span class="selected-item black-border">3</span> {{category.txt}}</span>
            <div *ngIf="editMode" class="category_item edit-clickable-area" (click)="modifyCat(0,category,2)" aria-hidden="true">
              <div class="fa fa-pencil-square-o mt-1" aria-hidden="true" style="margin-left: auto"></div>
            </div>
            </a>
            <div class="list_container" *ngIf="isShowSubitems(2, category)">
              <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
                <a class="category_item"
                   [ngClass]="{'edit-mode': editMode}"
                   (click)="click(3, category)"
                   *ngIf="isShowItem(3, category)"
                   [class.selected-fourth]="isSelected(3, category)"
                >
                <app-checkbox [isArrow]="checkArrow(category)" [isMobileVersion]="true" [copy]="copy" *ngIf="subscribeMode" (status)="subscribeResult($event)" [isChecked]="category.isrequest" [catalogData]="category"></app-checkbox>
                <span class="adaptive-cat-text"> <span class="selected-item black-border">4</span> {{category.txt}}</span>
                <div *ngIf="editMode" class="category_item edit-clickable-area" (click)="modifyCat(0,category,3)" aria-hidden="true">
                  <div class="fa fa-pencil-square-o mt-1" aria-hidden="true" style="margin-left: auto"></div>
                </div>
                </a>
                <div class="list_container" *ngIf="isShowSubitems(3, category)">
                  <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
                    <a class="category_item"
                       [ngClass]="{'edit-mode': editMode}"
                       (click)="click(4, category)"
                       *ngIf="isShowItem(4, category)"
                       [class.selected-five]="isSelected(4, category)"
                    >
                    <app-checkbox [isArrow]="checkArrow(category)" [isMobileVersion]="true" [copy]="copy" *ngIf="subscribeMode" (status)="subscribeResult($event)" [isChecked]="category.isrequest" [catalogData]="category"></app-checkbox>
                    <span class="adaptive-cat-text"> <span class="selected-item black-border">5</span> {{category.txt}}</span>
                    <div *ngIf="editMode" class="category_item edit-clickable-area" (click)="modifyCat(0,category,4)" aria-hidden="true">
                      <div class="fa fa-pencil-square-o mt-1" aria-hidden="true" style="margin-left: auto"></div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="shared.isAdmin" (click)="editCat()" class="categories_list top-level">
    <a [class.selected]="true" class="category_item">{{local.getTranslate("edit-cat-control","Создать раздел")}}</a>
    </div> -->
</div>
