<div class="showSpinner" *ngIf="showSpinner">
    <div class="spinner_overlay">
        <div class="loader"></div>
    </div>
</div>
<form [formGroup]="advertForm">
    <div class="form-group">
      <label for="name">
          <div class="headline">
              {{
                  editType == 1 ? 
                  local.getTranslate("input_new_title","Новый заголовок") :
                  local.getTranslate("edit_audio","Новое Аудио") 
            }}:</div>
      </label>
      <div *ngIf="editType == 1">
        <input type="name" class="form-control" formControlName="tName" id="name" aria-describedby="titleHelp" placeholder="{{local.getTranslate('headline_adv','Заголовок обьявления')}}">
        <ng-container *ngIf="submitted && f.tName.errors">
          <small id="titleHelp" class="form-text text-muted">
              <span class="error-text" *ngIf="f.tName.errors.required">{{local.getTranslate("input_title","Введите заголовок")}}</span>
              <span class="error-text" *ngIf="!f.tName.errors.required && f.tName.errors.emptySpaces">
                  {{local.getTranslate("input_correct_title","Введите корректно заголовок")}}</span>
          </small>
        </ng-container>
      </div>

      <!-- <small id="titleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <!-- 
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
        <edit-audio *ngIf="editType == 2" (audioDeleted)="saveData()" (outputfile)="editedAudio($event)" [audio]="data.mediaLink" [advert]="data"></edit-audio>
        <div class="form-buttons">
            <!-- [disabled]="!dataLoaded" -->
            <button type="submit" class="btn btn-secondary btn-sm" (click)="saveData()">
                {{local.getTranslate("save","Сохранить")}}
                <!-- <div *ngIf="!dataLoaded" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div> -->
            </button>
            <button type="submit" class="btn btn-info btn-sm" (click)="onNoClick()">{{local.getTranslate("cancel","Отмена")}}</button>
        </div>
  </form>
