.form-buttons{
    display: flex;
    justify-content: space-between;
}
.headline{
    font-size: 20;
    font-weight: bold;
}
.error-text{
    color: red;
}
.ng-invalid:not(form)  {
    border: 2px solid red /* red */
}