<!-- <form [formGroup]="form">
    <div class="form-group">
        <select id="slideType" class="form-control" formControlName="slideType">
            <option *ngFor="let slide of slideType" [value]="slide.value">{{ slide.title }}</option>
        </select>
    </div>
</form> -->
<!-- <div class="dropdown show">
    <a class="btn btn-secondary btn-sm dropdown-toggle" style="background-color: #179590;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->
<form>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" style="cursor: pointer">
            <a
                class="nav-link dropdown-toggle"
                id="dropdown07"
                data-bs-toggle="dropdown"
                style="font-weight: bold"
                aria-expanded="false"
                >{{selectedType}}</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
                <li *ngFor="let slide of slideType">
                    <a (click)="changeType(slide.value)" class="dropdown-item">{{ slide.title }}</a>
                </li>
            </ul>
        </li>
    </ul>
</form>
