div{
    width: 220px;
    padding: 2px;
    position: relative;
    @media screen and (min-width: 300px) and (max-width: 320px) {
    width: 135px;
    }
    @media screen and (min-width: 320px) and (max-width: 360px) {
    width: 147px;
    }
    @media screen and (min-width: 360px) and (max-width: 370px) {
    width: 173px;
    }
    @media screen and (min-width: 371px) and (max-width: 380px) {
    width: 178px;
    }
    @media screen and (min-width: 381px) and (max-width: 400px) {
    width: 182px;
    }
    @media screen and (min-width: 401px) and (max-width: 440px) {
    width: 193px;
    }
    @media screen and (min-width: 441px) and (max-width: 480px) {
    width: 210px;
    }
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin: 0 auto;
        position: absolute;
        max-width: 99%;
        height: auto;
        max-height: 138px;
        cursor: pointer;
    } 
}
