
  
  <div>
    <img *ngIf="isLoading" class="defimg" src="assets/images/tenor.gif" />
    <img [src]=image (load)="hideLoader()" class="defimg sec" (error)="hideLoader(this)"/>
  </div>
  <!-- <div [ngStyle]="{height:height+'px',width:width+'px'}" *ngIf="isLoading">
    <img [src]=loader />
  </div>
  <img [src]=image [ngStyle]="{height:height+'px',width:width+'px'}"
  (load)="hideLoader()" (error)="hideLoader()"/> -->
