<div *ngIf="!errorLoading && !short" class="col-sm-12 col-12 creation">
    <div class="col-sm-4 col-4 menu">
      <button type="button" class="menuButton" id="playAudioBtn" *ngIf="!vocal_playing" (click)="playAudio()" >
        <img src="assets/images/play1.svg">
      </button>
      <button type="button" class="menuButton" *ngIf="vocal_playing" (click)="pauseAudio()" >
        <img style="border: 3px transparent solid; border-radius: 40px;" src="assets/images/pause.svg">
      </button> 
    </div>
    <div class="col-sm-4 col-4 voice">
      <button type="button" (click)="stopAudio()">
        <img src="assets/images/stop.svg">
      </button>
    </div>
    <div class="col-sm-4 col-4 menu">
      <button type="button" class="menuButton" *ngIf="!isRepeat" (click)="switchRepeat()" >
        <img src="assets/images/repeat-def.svg">
      </button> 
      <button type="button" class="menuButton" *ngIf="isRepeat" (click)="switchRepeat()" >
        <img style="border: 3px transparent solid; border-radius: 40px;" src="assets/images/repeat.svg">
      </button> 
    </div>
  </div>
  <div *ngIf="!errorLoading && short" >
    <div class="col-sm-4 col-4 menu">
        <div class="card-body">
           
            <!-- <a class="btn btn-app" style="background-color: white;">
              <i class="fas fa-edit"></i> Редактир.
            </a> -->
            <a class="btn btn-app" *ngIf="!vocal_playing" (click)="playAudio()">
              <i class="fas fa-play"></i> {{dictionary.getTranslate('play','Играть')}}
            </a>
            <a class="btn btn-app" style="background-color: aqua !important;" *ngIf="vocal_playing" (click)="stopAudio()">
                <i class="fas fa-pause"></i> {{dictionary.getTranslate('pause','Пауза')}}
              </a>
            <ng-content></ng-content>
            <!-- <a class="btn btn-app">
              <i class="fas fa-pause"></i> Пауза
            </a> -->
            <!-- <a class="btn btn-app">
              <i class="fas fa-save"></i> Сохранить
            </a> -->
          </div>

      <!-- <button type="button" class="menuButton" *ngIf="!vocal_playing" (click)="playAudio()" >
        <i class="fas fa-play"></i>
      </button>
      <button type="button" class="menuButton" *ngIf="vocal_playing" (click)="stopAudio()" >
        <i class="fas fa-pause"></i>
      </button>  -->
    </div>
  </div>
  <div *ngIf="errorLoading" class="col-sm-12 col-12 creation">{{dictionary.getTranslate('play_error','ошибка загрузки аудио')}}</div>
