<div class="modal_window">
    <i (click)="dialogRef.close(false)" class="fa fa-times" aria-hidden="true"></i>
    <div class="modal_inner">
        <h2>Регистрация</h2>
        <div class="showSpinner" *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="showMessage" *ngIf="message.text">
            <div class="alert alert-{{ message.type }}">
                {{ message.text }}
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Имя" id="f" formControlName="f" />
            </div>

            <div
                class="form-group"
                [ngClass]="{ 'has-error': form.controls['e_mail'].invalid && form.controls['e_mail'].touched }"
            >
                <input type="email" placeholder="Email" id="email" formControlName="e_mail" />
                <span class="error-msg" *ngIf="form.controls['e_mail'].errors && form.controls['e_mail'].touched">
                    <span *ngIf="form.controls['e_mail'].errors.required"> Заполните Email </span>
                    <span *ngIf="form.controls['e_mail'].errors.pattern"> Введите корректный Email </span>
                </span>
            </div>

            <div class="form-group">
                <input type="text" placeholder="Мобильный номер" id="Phone1" formControlName="Phone1" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Адрес" id="Addres" formControlName="Address" />
            </div>
            <div *ngIf="false" class="form-group">
                <input type="text" placeholder="Мобильный номер" id="Mobile" formControlName="Mobile" />
            </div>
            <div
                class="form-group"
                [ngClass]="{ 'has-error': form.controls['e_mail'].invalid && form.controls['e_mail'].touched }"
            >
                <input type="text" placeholder="Пароль" id="password" formControlName="password" />
                <span class="error-msg" *ngIf="form.controls['password'].errors && form.controls['password'].touched">
                    <span *ngIf="form.controls['password'].errors.required"> Заполните пароль </span>
                </span>
            </div>
            <div class="form-group">
                <div class="agreement">
                    <input
                        [checked]="agreeCondition"
                        (change)="agreeCondition = !agreeCondition"
                        type="checkbox"
                        class="type"
                    />
                    <span>Соглашение на обработку перс.данных</span>
                </div>
            </div>
            <div class="form-group">
                <button
                    class="btn btn-block btn-primary"
                    style="width: 70%; margin: 0 auto"
                    type="submit"
                    [disabled]="form.invalid || form.disabled || !agreeCondition"
                >
                    Зарегистрироваться
                </button>
            </div>

            <span class="notsign">Необязательные поля:</span>
            <div class="form-group">
                <input type="text" placeholder="whatsApp" id="whatsApp" formControlName="whatsApp" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="skype" id="skype" formControlName="skype" />
            </div>

            <div class="form-group">
                <div class="form-group text-left recovery">
                    <a (click)="recovery()">Есть аккаунт, но забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>
