.recovery{
    padding-top: 10px;
    margin-bottom: -25px;
    cursor: pointer;
}
button{
    cursor: pointer;
}

.notsign{
    color: #189691 !important;
}

.form-group{
    margin-bottom: 0.7rem;
}
.agreement{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    input{
        height: 20px;
        width: 20px;
    }
    input:checked{
        color: #189691;
    }
    span{
        margin-left: 5px;
        font-weight: bold;
        color: #189691;
        @media screen and (max-width: 450px){
            font-size: 13px;
        }
    }
}